---
layout: oneColumnPage.njk
---
{% from "hmrc-page-heading/macro.njk"  import hmrcPageHeading %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {{ hmrcPageHeading({
      text: 'HMRC content style guide'
    }) }}

    <p class="govuk-body">
      The HMRC style guide only covers content styles and terms that are specific to HMRC, for example, names of taxes and what we call common tasks.
    </p>

    <p class="govuk-body">
      Check the
      <a class="govuk-link" href="https://www.gov.uk/guidance/style-guide/a-to-z-of-gov-uk-style">GOV.UK style guide</a>
      for style, spelling and grammar conventions across GOV.UK.
    </p>

    <p class="govuk-body">
      Use the same terms, style and spelling and grammar conventions in GOV.UK content and services to make the user’s end-to-end journey consistent. You can
      <a class="govuk-link" href="/hmrc-content-guide/index">view HMRC GOV.UK content guides</a>
      to check services and GOV.UK content are consistent.
    </p>
  </div>
</div>

{%- from "accordion/macro.njk" import govukAccordion -%}

{{
  govukAccordion ({
    id: "accordion-default",
    classes: "app-accordion",
    items: [
      {
        heading: {
          text: "A"
        },
        content: {
          html: "
<h3 class='govuk-heading-s' id='abbreviations-and-acronyms'>abbreviations and acronyms</h3>
<p class='govuk-body'>Try to avoid using them. They are not accessible for all users. Only use them when
they make it easier for users.</p>
<p class='govuk-body'>Plurals of acronyms, like ‘MPs’ and ‘GPs’, do not have apostrophes.</p>
<h3 class='govuk-heading-s' id='adoption-pay'>Adoption Pay</h3>
<p class='govuk-body'>Initial caps.</p>
<h3 class='govuk-heading-s' id='apostrophes'>apostrophes</h3>
<p class='govuk-body'>Use ‘smart’ (curly) apostrophes rather than 'dumb' (straight) apostrophes.</p>
<p class='govuk-body'>For GOV.UK content designers, Whitehall automatically does this.</p>
<p class='govuk-body'>See <a href='http://smartquotesforsmartpeople.com/' class='govuk-link'>Smart Quotes
for Smart People</a> to find out how to create these in different operating systems.</p>"
        }
      },
      {
        heading: {
          text: "B"
        },
        content: {
          html: "
<h3 class='govuk-heading-s' id='bereavement-allowance'>Bereavement Allowance</h3>
<p class='govuk-body'>Initial caps.</p>
<h3 class='govuk-heading-s' id='business'>business</h3>
<p class='govuk-body'>Use business as generic term and ‘company’ only when referring to a limited company.</p>"
        }
      },
      {
        heading: {
          text: "C"
        },
        content: {
          html: "
<h3 class='govuk-heading-s' id='capital-bonds'>Capital Bonds</h3>
<p class='govuk-body'>Initial caps.</p>
<h3 class='govuk-heading-s' id='capitalisation'>capitalisation</h3>
<p class='govuk-body'>For general terms, follow the guidance in the <a href='https://www.gov.uk/guidance/style-guide/a-to-z-of-gov-uk-style#capitalisation'
class='govuk-link'>GOV.UK style guide</a>. Follow HMRC guidance about the <a href='#capitalisation-of-taxes'
class='govuk-link'>capitalisation of taxes, duties and levies</a>.</p>
<p class='govuk-body'>If there is no specific entry about capitalising a term, then use sentence case. For
example:</p>
<ul class='govuk-list govuk-list--bullet'>
  <li>limited company</li>
  <li>limited partnership</li>
  <li>sole trader</li>
  <li>employment benefits</li>
</ul>
<h3 class='govuk-heading-s' id='capitalisation-of-taxes'>capitalisation of taxes, duties and levies</h3>
<p class='govuk-body'>Always capitalise initial letters when referring to a specific tax, duty or levy by
its full name. For example, Soft Drinks Industry Levy.</p>
<p class='govuk-body'>Do not capitalise if you’re referring generally to a:</p>
<ul class='govuk-list govuk-list--bullet'>
  <li>tax or taxes</li>
  <li>duty or duties</li>
  <li>levy or levies</li>
  <li>benefit or benefits</li>
</ul>
<p class='govuk-body'>For example, if you say ‘Income Tax’ and later refer to it as ‘tax’, do not
capitalise ‘tax’. Also, do not capitalise groups of things, like ‘alcohol duties’ or ‘tax credits’.</p>
<h3 class='govuk-heading-s' id='child-trust-fund'>Child Trust Fund</h3>
<p class='govuk-body'>Initial caps.</p>
<h3 class='govuk-heading-s' id='code-of-practice'>Code of Practice</h3>
<p class='govuk-body'>Inital caps ‘C’ and ‘P’, lower case ‘o’.</p>
<h3 class='govuk-heading-s' id='colons'>colons</h3>
<p class='govuk-body'>Only use colons:</p>
<ul class='govuk-list govuk-list--bullet'>
  <li>to introduce lists</li>
  <li>next to short labels like ‘Telephone:’</li>
</ul>
<h3 class='govuk-heading-s' id='complete'>complete</h3>
<p class='govuk-body'>See <a class='govuk-link' href='#fill-in'>fill in</a>.</p>
<h3 class='govuk-heading-s'>compliance checks</h3>
<p class='govuk-body'>Lower case, unless referring to a product or process, for example ‘Compliance Checks
learning’ or ‘A New Approach to Compliance Checks’. Try to use informal language like ‘checking your tax
return’ if possible.</p>"
        }
      },
      {
        heading: {
          text: "D"
        },
        content: {
          html: "
<h3 class='govuk-heading-s' id='dashes'>dashes</h3>
<p class='govuk-body'>Dashes separate words into clauses. They are slightly longer than a hyphen and always
have spaces either side of them. For example ‘You can claim the actual amount you’ve spent – you’ll need
to keep receipts.’</p>
<p class='govuk-body'>Dashes usually make sentences more complicated. Before using a dash, or pair of
dashes, consider using separate sentences.</p>
<p class='govuk-body'>There are different ways to include a dash in content. You can:</p>
<ul class='govuk-list govuk-list--bullet'>
  <li>use option + - key on an Apple Mac</li>
  <li>use alt + 0150 on a PC with a number pad</li>
  <li>copy – into your content</li>
</ul>
<p class='govuk-body'>Avoid the HTML <code>&ampndash;</code> as they are treated differently by different
screen readers.
</p>
<h3 class='govuk-heading-s' id='defined-benefit'>defined benefit</h3>
<p class='govuk-body'>Lower case.</p>
<h3 class='govuk-heading-s' id='defined-contribution'>defined contribution</h3>
<p class='govuk-body'>Lower case.</p>
<h3 class='govuk-heading-s' id='drop-down-menu'>drop-down menu</h3>
<p class='govuk-body'>1 hyphen.</p>
<h3 class='govuk-heading-s' id='due'>due, overdue</h3>
<p class='govuk-body'>Avoid ‘due’ and ‘overdue’ and use plain English instead, for example ‘You need to pay
your return by 31 January 2020’ or ‘Your payment is late’.</p>
<p class='govuk-body'>If you need to use them, it should be when a user has to do something by a specific
time or date only. For example, ‘Your payment is due on 31 January 2018’. Do not use them when there is no
specific time or date, for example ‘Your £5,000
is now due’.</p>
<h3 class='govuk-heading-s' id='duty'>duty</h3>
<p class='govuk-body'>See <a class='govuk-link' href='#capitalisation-of-taxes'>capitalisation of taxes, duties and levies</a>.</p>
<h3 class='govuk-heading-s' id='duty-free'>duty-free</h3>
<p class='govuk-body'>Hyphenated.</p>
<h3 class='govuk-heading-s' id='duty-paid'>duty-paid</h3>
<p class='govuk-body'>Hyphenated when used as an adjective.</p>
<h3 class='govuk-heading-s' id='duty-suspended'>duty-suspended</h3>
<p class='govuk-body'>Hyphenated when used as an adjective.</p>"
        }
      },
      {
        heading: {
          text: "E"
        },
        content: {
          html: "
<h3 class='govuk-heading-s' id='employer-compliance-review'>Employer Compliance Review</h3>
<p class='govuk-body'>Initial caps.</p>
<h3 class='govuk-heading-s' id='employers-annual-return'>Employer’s Annual Return</h3>
<p class='govuk-body'>Initial caps, apostrophe before ‘s’.</p>
<h3 class='govuk-heading-s' id='e-service'>e-service</h3>
<p class='govuk-body'>Lower case, 1 hyphen.</p>
<h3 class='govuk-heading-s' id='exclamation-marks'>exclamation marks</h3>
<p class='govuk-body'>Do not use.</p>
<h3 class='govuk-heading-s' id='extra-statutory-concessions'>Extra-Statutory Concessions</h3>
<p class='govuk-body'>Initial caps, 1 hyphen.</p>"
        }
      },
      {
        heading: {
          text: "F"
        },
        content: {
          html: "
<h3 class='govuk-heading-s' id='fill-in'>fill in</h3>
<p class='govuk-body'>Use ‘fill in’ for the act of doing returns and forms, whether paper or online.</p>
<h3 class='govuk-heading-s' id='fine'>fine</h3>
<p class='govuk-body'>See <a class='govuk-link' href='#penalty'>penalty</a>.</p>
<h3 class='govuk-heading-s' id='full-stops'>full stops</h3>
<p class='govuk-body'>Only use a full stop to end a complete sentence. Do not use them to end headings,
sub-headings or form labels.</p>
<h3 class='govuk-heading-s' id='funding notification form'>Funding Notification form</h3>
<p class='govuk-body'>Upper case ‘F’ and ‘N’, lower case ‘f’ for ‘form’.</p>"
        }
      },
      {
        heading: {
          text: "G"
        },
        content: {
          html: "
<h3 class='govuk-heading-s' id='gender-recognition-certificate'>Gender Recognition Certificate</h3>
<p class='govuk-body'>Initial caps.</p>
<h3 class='govuk-heading-s' id='gift-aid'>Gift Aid</h3>
<p class='govuk-body'>Initial caps.</p>
<h3 class='govuk-heading-s' id='gift-aid-declaration'>Gift Aid declaration</h3>
<p class='govuk-body'>Upper case ‘G’ and ‘A’, lower case ‘d’.</p>
<h3 class='govuk-heading-s' id='government-gateway'>Government Gateway</h3>
<p class='govuk-body'>Use ‘Government Gateway user ID’. Never use:</p>
<ul class='govuk-list govuk-list--bullet'>
  <li>Government Gateway ID</li>
  <li>Government Gateway account</li>
  <li>HMRC online account</li>
</ul>"
        }
      },
      {
        heading: {
          text: "H"
        },
        content: {
          html: "
<h3 class='govuk-heading-s' id='hmrc'>HMRC</h3>
<p class='govuk-body'>GOV.UK ​designers should use ‘HMRC’ in specialist (detailed) content. They do not
need to:</p>
<ul class='govuk-list govuk-list--bullet'>
  <li>spell out the acronym in full</li>
  <li>use the acronym markdown</li>
</ul>
<h3 class='govuk-heading-s' id='hyphens'>hyphens</h3>
<p class='govuk-body'>Hyphens connect words together. They are shorter than a dash and never have spaces
next to them. For example ‘work-related’, ‘self-employed’ and ‘tax-free’.</p>"
        }
      },
      {
        heading: {
          text: "I"
        },
        content: {
          html: "
<h3 class='govuk-heading-s' id='income-bearing-asset'>income-bearing asset</h3>
<p class='govuk-body'>1 hyphen.</p>
<h3 class='govuk-heading-s' id='interest-bearing securities'>interest-bearing securities</h3>
<p class='govuk-body'>1 hyphen.</p>
<h3 class='govuk-heading-s' id='in-year-payment'>in-year payment</h3>
<p class='govuk-body'>1 hyphen.</p>"
        }
      },
      {
        heading: {
          text: "J"
        },
        content: {
          html: ""
        }
      },
      {
        heading: {
          text: "K"
        },
        content: {
          html: ""
        }
      },
      {
        heading: {
          text: "L"
        },
        content: {
          html: "
<h3 class='govuk-heading-s' id='levy'>levy</h3>
<p class='govuk-body'>See <a class='govuk-link' href='#capitalisation-of-taxes'>capitalisation of taxes, duties and levies</a>.</p>
<h3 class='govuk-heading-s' id='link-text-and-punctuation'>link text and punctuation</h3>
<p class='govuk-body'>Always place punctuation outside of link text unless the link is the entire sentence
and it is a question. For example:</p>
<ul class='govuk-list govuk-list--bullet'>
  <li>part of a sentence – ‘...tell the Tax Credit Office about <a href='#' class='govuk-link'>changes to
  your circumstances</a>, like...’</li>
  <li>end of a sentence – ‘...find out more about <a href='#' class='govuk-link'>uniforms, tools and
  clothing</a>.’</li>
  <li>complete sentence or part or whole of a paragraph – ‘<a class='govuk-link' href='#'>Contact the Tax Credit Helpline if
  you need to speak to someone about your tax credits</a>.’</li>
  <li>complete sentence with a question – ‘<a class='govuk-link' href='#'>What do you think of the service?</a>’</li>
</ul>"
          }
        },
        {
          heading: {
            text: "M"
          },
          content: {
            html: "
<h3 class='govuk-heading-s' id='making-tax-digital'>Making Tax Digital</h3>
<p class='govuk-body'>Initial caps, no acronym.</p>
<p class='govuk-body'>This is the brand name of digital transformation programmes not users’ tasks. Avoid
the term in user guidance but use it in guidance for software vendors and agents who know the brand.</p>
<p class='govuk-body'>Programmes within Making Tax Digital follow the same rules but have a lower case ‘f’,
for example ‘Making Tax Digital for Business’ and ‘Making Tax Digital for VAT’.</p>
<h3 class='govuk-heading-s' id='married-couples-allowance'>Married Couple’s Allowance</h3>
<p class='govuk-body'>Initial caps.</p>
<h3 class='govuk-heading-s' id='maternity-pay'>Maternity Pay</h3>
<p class='govuk-body'>Initial caps.</p>"
          }
        },
      {
        heading: {
          text: "N"
        },
        content: {
          html: "
<h3 class='govuk-heading-s' id='national-insurance-number-verification-request'>National Insurance Number
Verification Request</h3>
<p class='govuk-body'>Initial caps.</p>
<p class='govuk-body'>This is an electronic request sent to HMRC from a customer’s payroll software.</p>
<h3 class='govuk-heading-s' id='national-insurance-recording-system'>National Insurance Recording System</h3>
<p class='govuk-body'>Initial caps.</p>
<h3 class='govuk-heading-s' id='national-minimum-wage'>National Minimum Wage</h3>
<p class='govuk-body'>Initial caps.</p>"
        }
      },
      {
        heading: {
          text: "O"
        },
        content: {
          html: ""
        }
      },
      {
        heading: {
          text: "P"
        },
        content: {
          html: "
<h3 class='govuk-heading-s' id='p11-deductions-working-sheets'>P11 Deductions Working Sheets</h3>
<p class='govuk-body'>Initial caps.</p>
<h3 class='govuk-heading-s' id='paternity-pay'>Paternity Pay</h3>
<p class='govuk-body'>Initial caps.</p>
<h3 class='govuk-heading-s' id='payable'>payable</h3>
<p class='govuk-body'>Avoid ‘payable’, unless referring to cheques. You can say who the cheque should be
‘payable’ to. For example, ‘Make the cheque payable to ‘HM Revenue and Customs’, not ‘This amount is
payable in monthly instalments’.</p>
<h3 class='govuk-heading-s' id='paye'>PAYE (Pay As You Earn)</h3>
<p class='govuk-body'>Initial caps.</p>
<h3 class='govuk-heading-s' id='payroll-accreditation-process'>Payroll Accreditation process</h3>
<p class='govuk-body'>Upper case ‘P’ and ‘A’, lower case ‘p’ for ‘process’.</p>
<h3 class='govuk-heading-s' id='payroll giving'>Payroll Giving</h3>
<p class='govuk-body'>Initial caps.</p>
<h3 class='govuk-heading-s' id='penalty'>penalty</h3>
<p class='govuk-body'>Use ‘penalty’ for the sake of consistency. All fines are penalties but not all
penalties are fines.</p>
<h3 class='govuk-heading-s' id='personal-allowance'>Personal Allowance</h3>
<p class='govuk-body'>Initial caps.</p>
<h3 class='govuk-heading-s' id='permanent-interest-bearing-shares'>permanent interest-bearing shares</h3>
<p class='govuk-body'>Lower case, 1 hyphen.</p>
<h3 class='govuk-heading-s' id='private-residence-relief'>Private Residence Relief</h3>
<p class='govuk-body'>Initial caps.</p>"
        }
      },
      {
        heading: {
          text: "Q"
        },
        content: {
          html: "
<h3 class='govuk-heading-s' id='quotation marks'>quotation marks</h3>
<p class='govuk-body'>Use ‘smart’ (curly) quotes rather than 'dumb' (straight) quotes.</p>
<p class='govuk-body'>For GOV.UK content designers, Whitehall automatically does this.</p>
<p class='govuk-body'>See <a href='http://smartquotesforsmartpeople.com/' class='govuk-link'>Smart Quotes
for Smart People</a> to find out how to create these in different operating systems.</p>"
        }
      },
      {
        heading: {
          text: "R"
        },
        content: {
          html: "
<h3 class='govuk-heading-s' id='re-acquire'>re-acquire, re-acquisition</h3>
<p class='govuk-body'>Hyphenated.</p>
<h3 class='govuk-heading-s' id='r-and-d-tax-releif'>Research and Development (R&amp;D) tax relief</h3>
<p class='govuk-body'>Upper case ‘R’ and ‘D’, lower case ‘a’, ‘t’ and ‘r’. Use ampersand in acronym.</p>
<h3 class='govuk-heading-s' id='r-and-d-tax-credits'>Research and Development (R&amp;D) tax credits</h3>
<p class='govuk-body'>Upper case ‘R’ and ‘D’, lower case ‘a’, ‘t’ and ‘c’. Use ampersand in acronym.</p>"
        }
      },
      {
        heading: {
          text: "S"
        },
        content: {
          html: "
<h3 class='govuk-heading-s' id='schemes'>schemes</h3>
<p class='govuk-body'>Follow the <a href='https://www.gov.uk/guidance/style-guide/a-to-z-of-gov-uk-style#capitalisation'
class='govuk-link'>GOV.UK style guide on capitalising specific, named government schemes known to
people outside government</a>.</p>
<p class='govuk-body'>Some government schemes are styled in a specific way. These are:</p>
<ul class='govuk-list govuk-list--bullet'>
  <li>Contracted-out Salary Related Scheme – upper case ‘C’, ‘S’, ‘R’ and ‘S’, lower case ‘o’, 1 hyphen</li>
  <li>Non-resident Landlord Scheme – upper case ‘N’, ‘L’ and ‘S’, lower case ‘r’, 1 hyphen</li>
  <li>Rent-a-Room – upper case ‘R’ and ‘R’, lower case ‘a’, 2 hyphens</li>
  <li>Rent-a-Room for traders – Upper case ‘R’ and ‘R’, lower case ‘a’, ‘f’ and ‘t’, 2 hyphens</li>
  <li>Rent-a-Room Scheme – upper case ‘R’, ‘R’ and ‘S’, lower case ‘a’, 2 hyphens</li>
  <li>Repayment of Teachers’ Loans scheme – upper case ‘R’, ‘T’ and ‘L’, lower case ‘o’ and ‘s’</li>
  <li>Save As You Earn schemes (SAYE) – upper case ‘S’, ‘A’, ‘Y’ and ‘E’, lower case ‘s’ for schemes</li>
</ul>
<h3 class='govuk-heading-s' id='seafarers-earnings-deduction'>Seafarers’ Earnings Deduction</h3>
<p class='govuk-body'>Initial caps, with apostrophe.</p>
<h3 class='govuk-heading-s' id='send-file-submit'>send, file or submit</h3>
<p class='govuk-body'>Regular users running their own business seem to prefer ‘file’ and ‘submit’, but
individuals doing Self Assessment prefer ‘send’.</p>
<p class='govuk-body'>User research shows that ‘submit VAT return’ is more popular than ‘send VAT return’,
but ‘send tax return’ is more popular than ‘submit tax return’.</p>
<p class='govuk-body'>You should consider the existing content, what the business areas use in external
communications and any user research findings.</p>
<h3 class='govuk-heading-s' id='set-off'>set off</h3>
<p class='govuk-body'>Hyphenated when used as a noun. For example, ‘a subsequent agreement between the
parties to set-off a claim’. Not hyphenated when used as a verb. For example, ‘losses from earlier years
set off’.</p>
<h3 class='govuk-heading-s' id='short-tax-return'>Short Tax Return</h3>
<p class='govuk-body'>Initial caps.</p>
<h3 class='govuk-heading-s' id='small-earnings-exception'>small earnings exception</h3>
<p class='govuk-body'>Lower case.</p>
<h3 class='govuk-heading-s' id='standard-rated'>standard-rated</h3>
<p class='govuk-body'>Hyphenated, but no hyphen in standard rate or standard rating.</p>
<h3 class='govuk-heading-s' id='student-loan'>student loan</h3>
<p class='govuk-body'>Lower case unless you are referring to the Student Loans Company.</p>"
        }
      },
      {
        heading: {
          text: "T"
        },
        content: {
          html: "
<h3 class='govuk-heading-s' id='take-home-pay'>take-home pay</h3>
<p class='govuk-body'>1 hyphen.</p>
<h3 class='govuk-heading-s' id='tax'>tax</h3>
<p class='govuk-body'>See <a class='govuk-link' href='#capitalisation-of-taxes'>capitalisation of taxes, duties and levies</a>.</p>
<h3 class='govuk-heading-s' id='tax-free'>tax-free and tax free</h3>
<p class='govuk-body'>Hyphenated when it is before a noun, for example ‘tax-free amount’. Not hyphenated
when it appears after a noun, for example ‘the amount is tax free’.</p>
<h3 class='govuk-heading-s' id='trust-unique-taxpayer-reference'>Trust Unique Taxpayer Reference</h3>
<p class='govuk-body'>Initial caps.</p>"
        }
      },
      {
        heading: {
          text: "U"
        },
        content: {
          html: "
<h3 class='govuk-heading-s' id='unique-taxpayer-reference'>Unique Taxpayer Reference</h3>
<p class='govuk-body'>Initial caps. Not ‘Unique Taxpayer Reference number’ or ‘Unique Taxpayer Reference
Number’.</p>"
        }
      },
      {
        heading: {
          text: "V"
        },
        content: {
          html: ""
        }
      },
      {
        heading: {
          text: "W"
        },
        content: {
          html: "
<h3 class='govuk-heading-s' id='war-widows-and-dependants-pension'>war widow’s and dependant’s pension</h3>
<p class='govuk-body'>Lower case, with apostrophes before each ‘s’.</p>
<h3 class='govuk-heading-s' id='we'>we</h3>
<p class='govuk-body'>
You can use ‘we’ to describe HMRC in content, as long as it is clear to the user who ‘we’ are. For
example, ‘HM Revenue and Customs is the UK tax authority. We collect the money that pays for the UK’s
public services and help families and individuals with targeted financial support.’
</p>
<h3 class='govuk-heading-s' id='widows-pension-or-bereavement-allowance'>Widow’s Pension or Bereavement
Allowance</h3>
<p class='govuk-body'>Initial caps, with an apostrophe before the ‘s’ in ‘Widow’s’.</p>"
        }
      },
      {
        heading: {
          text: "X"
        },
        content: {
          html: ""
        }
      },
      {
        heading: {
          text: "Y"
        },
        content: {
          html: ""
        }
      },
      {
        heading: {
          text: "Z"
        },
        content: {
          html: "
<h3 class='govuk-heading-s' id='zero-rated'>zero-rated</h3>
<p class='govuk-body'>Hyphenated, but no hyphen in ‘zero rate’ or ‘zero rating’.</p>"
        }
      }
    ]
  })
}}
