---
layout: layout-example.njk
---
{%- from "hmrc/components/notification-badge/macro.njk" import hmrcNotificationBadge -%}

<a class="govuk-link" href="#">Negeseuon {{ hmrcNotificationBadge({ text: '32' }) }}</a>
