{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/tag/macro.njk" import govukTag %}

{% block content %}

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Upload receipt</h1>

      <div id="file-upload-1-hint" class="govuk-hint">
          You can upload your receipt as a scanned copy or photo of the original. The selected file must be smaller than 100MB.
      </div>

      <p class="govuk-body" id="refreshText">
        <a href="./3-uploaded.html" class="govuk-link">Refresh page to see update of uploading files.</a>
      </p>

      <div class="govuk-visually-hidden" aria-live="polite" id="statusInformation"></div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          {{ govukSummaryList({
            classes: 'govuk-summary-list--long-key',
            attributes: {
              "id": "uploadingList"
            },
            rows: [
              {
                key: {
                  html: '<div class="govuk-form-group govuk-form-group--error">fileNumber1.jpg<p id="not-uploaded-error" class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span> The selected file has not fully uploaded</p></div>'
                },
                value: {
                  text: govukTag({ text: "uploading", classes: "govuk-tag--yellow" })
                },
                actions: {
                  items: [
                    {
                      href: "./1-upload-a-single-file.html",
                      text: "Remove",
                      visuallyHiddenText: "fileNumber1.jpg"
                    }
                  ]
                }
              }
            ]
          }) }}

          {{ govukButton({ text: "Continue" }) }}
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

