---
title: HMRC Design Patterns backlog
menuText: HMRC Design Patterns backlog
navigationPlacement: secondary
layout: designPatternPage.njk
---

{% from "_codeSnippet.njk" import codeSnippet %}

{% block content %}

<p class="govuk-body">Anyone can propose, develop or contribute to HMRC Design Patterns. You can propose a new pattern, or suggest an improvement to an existing one.</p>

<p class="govuk-body">These are patterns designed specifically for the needs of HMRC users. If you want to propose a new pattern for use across government, or suggest an improvement to an existing one, use the <a class="govuk-link" href="https://design-system.service.gov.uk/community/backlog/">GOV.UK Design System community backlog</a>.</p>

<p class="govuk-body">Patterns in the backlog may be:</p>

<ul class="govuk-list govuk-list--bullet">
  <li><span class="govuk-!-font-weight-bold">Proposed</span> – someone has suggested a new pattern</li>
  <li><span class="govuk-!-font-weight-bold">To do</span> – the proposed pattern has been agreed and is ready to work on</li>
  <li><span class="govuk-!-font-weight-bold">In progress</span> – someone is actively working on the pattern</li>
</ul>

<table class="govuk-table">
  <caption class="govuk-table__caption govuk-visually-hidden">Backlog</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col">Name</th>
      <th class="govuk-table__header" scope="col">Status</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a class="govuk-link" href="https://github.com/hmrc/design-patterns/issues/31">Add to a list</a></td>
      <td class="govuk-table__cell">In progress</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a class="govuk-link" href="https://github.com/hmrc/design-patterns/issues/28">Company details</a></td>
      <td class="govuk-table__cell">In progress</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a class="govuk-link" href="https://github.com/hmrc/design-patterns/issues/46">Exit survey</a></td>
      <td class="govuk-table__cell">In progress</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a class="govuk-link" href="https://github.com/hmrc/design-patterns/issues/147">Save</a></td>
      <td class="govuk-table__cell">In progress</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a class="govuk-link" href="https://github.com/hmrc/design-patterns/issues/163">Status tags</a></td>
      <td class="govuk-table__cell">In progress</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a class="govuk-link" href="https://github.com/hmrc/design-patterns/issues/65">When a user has signed out</a></td>
      <td class="govuk-table__cell">To do</td>
    </tr>

  </tbody>
</table>

<p class="govuk-body"><a class="govuk-link" href="https://github.com/hmrc/design-patterns/issues/new">Propose a new pattern on the HMRC Design Patterns backlog</a></p>

{% endblock %}
