---
title: Excise information sheets
menuText: Excise information sheets
layout: twoColumnPage.njk
---
{% from "_example.njk" import example %}

<h2 class="govuk-heading-l">Document type</h2>

<p class="govuk-body">Detailed guide</p>

<h2 class="govuk-heading-l">When to use</h2>

<p class="govuk-body">
Use this pattern to tell users about a change to an excise procedure. 
</p>

<h2 class="govuk-heading-l">When not to use</h2>

<p class="govuk-body">Don't update an excise information sheet after it's been published, unless it's to correct a typo. A new one must be issued.</p>

<h2 class="govuk-heading-l">How it works</h2>

<h3 class="govuk-heading-m">Title format</h3>

<p class="govuk-body">
Description (Excise information sheet xx)
</p>

<h3 class="govuk-heading-m">Collection page</h3>

<p class="govuk-body">
Add the document to the <a href="https://www.gov.uk/government/collections/excise-information-sheets" class="govuk-link">Excise information sheets</a> collection page.
</p>