---
title: Feedback
status: development
layout: twoColumnPage.njk
---

{% from "_example.njk" import example %}
{% from "hmrcFrontendInfo.njk" import hmrcFrontendInfo %}

{% block content %}

<p class="govuk-body">This pattern lets users give feedback about HMRC services.</p>

<h2 id="when-to-use" class="govuk-heading-l">When to use</h2>

<p class="govuk-body">Use this pattern to encourage users to give feedback about a service.</p>

<h2 id="how-it-works" class="govuk-heading-l">How it works</h2>

{{ hmrcFrontendInfo() }}

<p class="govuk-body">If your service has a <a class="govuk-link" href="https://design-system.service.gov.uk/components/phase-banner/">phase banner</a> add the feedback page to the ‘feedback’ link.</p>

<p class="govuk-body">For authenticated non-linear journeys, open the feedback page if the user clicks the sign out link. The form should open within the same tab.</p>

<p class="govuk-body">For linear journeys, the feedback text below should appear at the bottom of the page, on the last page(s) a user sees within a service, such as the confirmation page or sign out page.</p>


{{
  example({
    item: 'research-banner',
    description: 'Research-banner',
    example: 'example-linear',
    welsh: 'example-linear-welsh'
  })
}}

<h3 class="govuk-heading-m">Non-linear journeys, for example dashboards</h3>

<p class="govuk-body">Include a close button that says ‘Hide message’.
</p>

{{
  example({
    item: 'research-banner',
    description: 'Research-banner',
    example: 'example-non-linear',
    welsh: 'example-non-linear-welsh'
  })
}}

<h2 id="research" class="govuk-heading-l">Research</h2>

<p class="govuk-body">We need more research. If you have used the research banner, get in touch to share your research findings.</p>

<p class="govuk-body"><a class="govuk-link" href="https://github.com/hmrc/design-patterns/issues/175">Discuss the research banner on GitHub</a></p>

{% endblock %}
