---
title: Feedback
status: development
layout: twoColumnPage.njk
---

{% from "_example.njk" import example %}
{% from "hmrcFrontendInfo.njk" import hmrcFrontendInfo %}

{% block content %}

<p class="govuk-body">This pattern lets users give feedback about HMRC services.</p>

<h2 id="when-to-use" class="govuk-heading-l">When to use</h2>

<p class="govuk-body">Use this pattern to encourage users to give feedback about a service.</p>

<h2 id="how-it-works" class="govuk-heading-l">How it works</h2>

{{ hmrcFrontendInfo() }}

<p class="govuk-body">Place the research banner directly below the <a class="govuk-link" href="https://design-system.service.gov.uk/components/header/">GOV.UK header</a> and <a class="govuk-link" href="https://design-system.service.gov.uk/components/phase-banner/">phase banner</a>, and above the <a class="govuk-link" href="https://design.tax.service.gov.uk/hmrc-design-patterns/welsh-language-toggle/">Welsh language toggle</a>.</p>

<p class="govuk-body">The <code>&lt;h2&gt;</code> should say ‘Help make GOV.UK better’.</p>

<p class="govuk-body">The link text should say ‘Sign up to take part in research (opens in new tab)’.
</p>

<p class="govuk-body">To identify where new users are coming from, you must email <a class="govuk-link" href="mailto:user.experience@hmrc.gov.uk">user.experience@hmrc.gov.uk</a> to get a unique sign up link. In your email, include:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>the tax.service.gov.uk pages the banner will be displayed on</li>
  <li>how long the banner will be displayed</li>
</ul>

<h3 class="govuk-heading-m">Linear journeys, for example forms</h3>

<p class="govuk-body">Only show the banner at the end of the journey. Do not include a close button.</p>

{{
  example({
    item: 'research-banner',
    description: 'Research-banner',
    example: 'example-linear',
    welsh: 'example-linear-welsh'
  })
}}

<h3 class="govuk-heading-m">Non-linear journeys, for example dashboards</h3>

<p class="govuk-body">Include a close button that says ‘Hide message’.
</p>

{{
  example({
    item: 'research-banner',
    description: 'Research-banner',
    example: 'example-non-linear',
    welsh: 'example-non-linear-welsh'
  })
}}

<h2 id="research" class="govuk-heading-l">Research</h2>

<p class="govuk-body">We need more research. If you have used the research banner, get in touch to share your research findings.</p>

<p class="govuk-body"><a class="govuk-link" href="https://github.com/hmrc/design-patterns/issues/175">Discuss the research banner on GitHub</a></p>

{% endblock %}
