---
title: Technical guidance
menuText: Technical guidance
layout: twoColumnPage.njk
---
{% from "_example.njk" import example %}

<h2 class="govuk-heading-l">When to use</h2>

<p class="govuk-body">
Use this pattern where the majority of the users are tax agents or professionals who need the really complex guidance to deal with their clients affairs.
</p>

<p class="govuk-body">You must discuss with a Senior Content Designer if you want to use this pattern for any other reason.</p>

<h2 class="govuk-heading-l">How to design using this pattern</h2>

<h3 class="govuk-heading-m">Structure</h3>

<p class="govuk-body">
A collection that contains the items detailed below.
</p>

<ol class="govuk-list govuk-list--number">
<li>A single detailed guide designed to help users (especially unrepresented taxpayers):
<ul class="govuk-list govuk-list--bullet">
    <li>understand the basics of the subject</li>
    <li>decide if this affects them</li>
    <li>understand any tasks they might complete themselves</li>
</ul>
</li>
<li>Additional detailed guides or publications that:
<ul class="govuk-list govuk-list--bullet">
    <li>have clear titles and summaries and meet minimal GOV.UK standards</li>
    <li>cover all the different tasks or topics that tax agent / specialist users may need</li>
    <li>provide the detail and use technical terminology specialist users will expect</li>
</ul>
</li>
</ol>
