---
layout: layout-example.njk
---

<h2 class="govuk-heading-l">How to complete the form</h2>

<p class="govuk-body">
You need to:
</p>

<p class="govuk-body">
1. Download and save the form on your computer.<br/>
2. Open it using the [latest free version of Adobe Reader](http://get.adobe.com/uk/reader/).<br/>
3. Complete it on-screen.
</p>

<p class="govuk-body">
The form may not work if you try to open it in your internet browser. If the form does not open, contact the <a class="govuk-link" href="https://www.gov.uk/government/organisations/hm-revenue-customs/contact/online-services-helpdesk">online services helpdesk</a>.</p>