---
layout: layout-example.njk
---
{% from "govuk/components/button/macro.njk" import govukButton %}

<h2 class="govuk-heading-l">Paying online by Direct Debit</h2>

<p class="govuk-body">
Set up a Direct Debit through your HMRC online account.
</p>

<p class="govuk-body">
You’ll need the sign in details you used when you registered for the account.
</p>

<p class="govuk-body">
You must pay in a different way if you are making a payment of £20 million or more.</p>
