---
layout: layout-example.njk
---
{% from "hmrc/components/header/macro.njk" import hmrcHeader %}

{{ hmrcHeader({
  serviceUrl : "/",
  phaseBanner : {
    tag: {
      text: "Alpha"
  },
  html: "Mae hwn yn wasanaeth newydd ‐ bydd eich <a class='govuk-link' href='#'>adborth</a> yn ein helpu i'w wella."
  },
  language : "cy",
  signOutHref : "?sign-out",
  useTudorCrown: true
}) }}
