---
layout: layout-example.njk
---
{% from "hmrc/components/header/macro.njk" import hmrcHeader %}

{{ hmrcHeader({
  "serviceName": "Enw'r gwasanaeth",
  "serviceUrl" : "/",
  "phaseBanner" : {
    tag: {
      text: "alpha"
  },
  html: "Mae hwn yn wasanaeth newydd ‐ bydd eich <a class='govuk-link' href='#'>adborth</a> yn ein helpu i'w wella."
  },
  language : 'cy',
  "signOutHref" : "?sign-out"
}) }}
