---
layout: layout-example.njk
---

<div class="govuk-grid">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Er eich diogelwch, gwnaethom ddileu’ch atebion
    </h1>

    <div class="govuk-form-group">
      <button id="timeout-keep-signin-btn" class="govuk-button govuk-!-margin-bottom-0">
        Dechrau eto
      </button>
    </div>

  </div>
</div>
