---
title: Customs information papers
menuText: Customs information papers
layout: twoColumnPage.njk
---
{% from "_example.njk" import example %}

<h2 class="govuk-heading-l">Document type</h2>

<p class="govuk-body">Publication: policy paper</p>

<h2 class="govuk-heading-l">When to use</h2>

<p class="govuk-body">
Use this pattern to tell users about changes in HMRC's customs policy.
</p>

<p class="govuk-body">
Do not create a new customs information paper if the request includes content that should be included in new or existing guidance.
</p>

<p class="govuk-body">
You should:
</p>

<ul class="govuk-list govuk-list--bullet">
    <li>review the request</li>
    <li>check to see if there's existing content, contact app or service availability page</li>
    <li>discuss and work with the subject matter expert to strip out the guidance content</li>
    <li>pdate the correct parts of the GOV.UK content</li>
</ul>

<p class="govuk-body">
Where possible use public change notes to notify users of a content change rather than a customs information paper. But if there's still a need to create and publish the customs information paper to let users know that something has changed:
</p>

<ul class="govuk-list govuk-list--bullet">
    <li>point them to the updated guidance</li>
    <li>do not include any of the actual changes in the customs information paper</li>
</ul>

<h2 class="govuk-heading-l">When not to use</h2>

<p class="govuk-body">Don't update a customs information paper after it's been published, unless it's to correct a typo. A new one must be issued.</p>

<h2 class="govuk-heading-l">How it works</h2>

<h3 class="govuk-heading-m">Title format</h3>

<p class="govuk-body">
Description (CIP #)
</p>

<p class="govuk-body">
Example: Cessation of the printed tariff (CIP 12)
</p>

<h3 class="govuk-heading-m">Summary format</h3>

<p class="govuk-body">
Example of a summary: Find out about the end of production of the printed paper Integrated Customs Tariff in December 2019.
</p>

<h3 class="govuk-heading-m">Collection page</h3>

<p class="govuk-body">
Add the document to the <a href="https://www.gov.uk/government/collections/customs-information-papers--2">Customs information papers</a> collection page.
</p>