---
title: Guidelines for compliance
layout: twoColumnPage.njk
---
{% from "_codeSnippet.njk" import codeSnippet %}
{% from "_example.njk" import example %}

<h2 class="govuk-heading-l" id="when">When to use</h2>

<p class="govuk-body">
Use this pattern when creating or amending guidelines for compliance.
</p>

<h2 class="govuk-heading-l" id="how">How to design using this pattern</h2>

<h3 class="govuk-heading-m" id="type">Document type</h3>

<p class="govuk-body">Publication: promotional material (with an HTML attachment)</p>

<h3 class="govuk-heading-m">Publication</h3>

<h4 class="govuk-heading-s" id="title">Title</h4>

<p class="govuk-body">The title should be ‘xxx [Title] — guidelines for compliance GfCx [number]’.</p>

<h4 class="govuk-heading-s" id="summary">Summary</h4>

<p class="govuk-body">Begin with ‘Find out xxx.’ Then read the document and summarise the guidelines content.
</p>

<h4 class="govuk-heading-s">Body</h4>

<p class="govuk-body">Read the document and summarise the guideline’s content to create the body text.</p>

<h3 class="govuk-heading-m">HTML attachment</h3>

<h4 class="govuk-heading-s">Title</h4>

<p class="govuk-body">Use the description that you’ve used in the title of the stub page. The titles can be similar but cannot be exactly the same.</p>

<p class="govuk-body">If you’re adding one part as an HTML attachment:</p>

{{
    codeSnippet({
      code: '[Title]: guidelines for compliance GfCx [number]',
      canCopy: true
    })
  }}

<p class="govuk-body">If you’re adding multiple parts as HTML attachments include the guidelines for compliance number:</p>

{{
    codeSnippet({
      code:[part][part number] — guidelines for compliance GfCx [number]',
      canCopy: true
    })
  }}

<p class="govuk-body">Use the following as an example:</p>

{{
    codeSnippet({
      code: 'Purpose, scope and background (part 1) — guidelines for compliance GfC3',
      canCopy: true
    })
  }}

<h4 class="govuk-heading-s">Body</h4>

<p class="govuk-body">Enter the contents of the guidelines.</p>

<p class="govuk-body">For a live example check <a href="https://www.gov.uk/government/publications/help-with-common-risks-in-transfer-pricing-approaches-gfc7" class="govuk-link">help with common risks in transfer pricing approaches — GfC7</a>.</p>

<h3 class="govuk-heading-m">Collection page</h3>

<p class="govuk-body">Add the URL of any new page to the <a href="https://www.gov.uk/government/collections/guidelines-for-compliance" class="govuk-link">Guidelines for Compliance collection</a>. Do not create a public change note.
</p>
