---
title: Timeline
menuText: Timeline
status: experimental
layout: twoColumnPage.njk
---
{% from "_example.njk" import example %}

{% block content %}

<p class="govuk-body">
  The pattern helps users understand updates to something or actions taken so far. For example, a claim history.
</p>

<h2 class="govuk-heading-l" id="when-to-use">When to use</h2>

<p class="govuk-body">Use the timeline pattern when you need to show a brief list of entries in chronological order. For example, the stages involved in asking for and getting a tax repayment.</p>

<h2 class="govuk-heading-l" id="when-to-use">When not to use</h2>
<p class="govuk-body"> Do not use the timeline pattern if you need to let users know where they are in a journey. In this case, consider another approach </p>

<h2 class="govuk-heading-l" id="how-it-works">How it works</h2>

<p class="govuk-body">Each item in the timeline should have:</p>
<ul class="govuk-list govuk-list--bullet" role="list">
<li> a title</li>
<li>the date and, or time</li>
<li>a description (optional)</li>
</ul>

<div class="govuk-inset-text">
  You need HMRC Frontend to use this pattern – <a class="govuk-link" href="/hmrc-design-patterns/install-hmrc-frontend-in-your-prototype/">find out how to install HMRC Frontend</a>. If you use the HMRC Nunjucks macro, you must copy and paste the entire macro in to your code.
</div>

{{
  example({
    item: 'timeline',
    example: 'example',
    description: 'Timeline'
  })
}}

<h2 id="research" class="govuk-heading-l">Research</h2>

<p class="govuk-body">
The pattern is used in the VAT repayments service. Usability testing took place with 7 users as part of 3 rounds of research.  </p>
 <p class="govuk-body"> The rearch showed that users understood that the:</p>
<ul class="govuk-list govuk-list--bullet" role="list">
<li> events were related to each other
  <li> one event followed another event</li>
<li> top event was the most recent </li>
</ul>

<p class="govuk-body">We need more research. If you have used the Timeline pattern, get in touch to share your research findings.</p>
<p class="govuk-body"><a class="govuk-link" href="https://github.com/hmrc/design-patterns/issues/167">Discuss Timeline on GitHub</a></p>
{% endblock %}
