---
title: Timeline
menuText: Timeline
status: experimental
layout: twoColumnPage.njk
---
{% from "_example.njk" import example %}

{% block content %}
<p class="govuk-body">This pattern helps users understand what has happened and when. For example, the history of a tax repayment claim.</p>

<h2 class="govuk-heading-l" id="when-to-use">When to use</h2>

<p class="govuk-body">Use this pattern to show a list of entries in the order they happened.</p>

<h2 class="govuk-heading-l" id="when-to-use">When not to use</h2>
<p class="govuk-body">Do not use this pattern to let users know where they are in a journey. You could use the <a href="https://design-system.service.gov.uk/patterns/step-by-step-navigation/">step by step navigation pattern</a> or a progress bar instead.</p>

<h2 class="govuk-heading-l" id="how-it-works">How it works</h2>

<p class="govuk-body">Each item in the timeline should have:</p>
<ul class="govuk-list govuk-list--bullet" role="list">
  <li>a title</li>
  <li>the date and/or time</li>
</ul>

<p class="govuk-body">You could also include a brief description, but this is optional.</p>

<div class="govuk-inset-text">
  You need HMRC Frontend to use this pattern – <a class="govuk-link" href="/hmrc-design-patterns/install-hmrc-frontend-in-your-prototype/">find out how to install HMRC Frontend</a>. If you use the HMRC Nunjucks macro, you must copy and paste the entire macro in to your code.
</div>

{{
  example({
    item: 'timeline',
    example: 'example',
    description: 'Timeline'
  })
}}

<h2 id="research" class="govuk-heading-l">Research</h2>

<p class="govuk-body">The pattern is used in the VAT repayments service. Usability testing took place with 7 users as part of 3 rounds of research.</p>
<p class="govuk-body">The rearch showed that users understood that the:</p>
<ul class="govuk-list govuk-list--bullet" role="list">
  <li>all the events were related to each other</li>
  <li>each event followed a previous event</li>
  <li>the top event was the most recent one</li>
</ul>

<p class="govuk-body">We need more research. If you have used the Timeline pattern, get in touch to share your research findings.</p>
<p class="govuk-body"><a class="govuk-link" href="https://github.com/hmrc/design-patterns/issues/167">Discuss Timeline on GitHub</a></p>
{% endblock %}
