---
title: Extra-Statutory Concessions
menuText: Extra-Statutory Concessions
layout: twoColumnPage.njk
---

<h2 class="govuk-heading-l">Document type</h2>

<p class="govuk-body">Publication: guidance (with an HTML attachment)</p>

{% from "govuk/components/table/macro.njk" import govukTable %}

{{
  govukTable({
    caption: 'Publication stub page',
    firstCellIsHeader: true,
    head: [
      {
        text: 'Field'
      },
      {
        text: 'What to enter'
      },
      {
        text: 'Example'
      }
    ],
    rows: [
      [
        {
          text: 'Title'
        },
        {
          text: 'Extra-Statutory Concession (number): title of document'
        },
        {
          html: 'See live examples on <a href="https://www.gov.uk/government/collections/extra-statutory-concessions" class="govuk-link">Extra-Statutory Concessions guidance and notices</a>'
        }
      ],
      [
        {
          text: 'Summary'
        },
        {
          text: 'Read the document and summarise what it is about'
        },
        {
          text: 'Extra-Statutory Concessions for matters formerly administered by the Inland Revenue.'
        }
      ],
      [
        {
          text: 'Body text'
        },
        {
          text: 'To create the body text, read the document and summarise what it is about'
        },
        {
          text: 'This guide details the Extra-Statutory Concessions previously operated by the Inland Revenue.'
        }
      ]
    ]
  })
}}

{{
  govukTable({
    caption: 'HTML attachment',
    firstCellIsHeader: true,
    head: [
      {
        text: 'Field'
      },
      {
        text: 'What to enter'
      },
      {
        text: 'Example'
      }
    ],
    rows: [
      [
        {
          text: 'Title'
        },
        {
          text: 'Extra-Statutory Concession (number) title of document'
        },
        {
          html: 'See live examples on <a href="https://www.gov.uk/government/collections/extra-statutory-concessions" class="govuk-link">Extra-Statutory Concessions guidance and notices</a>'
        }
      ],
      [
        {
          text: 'Body text'
        },
        {
          text: 'Enter and style the contents of the 
Extra-Statutory Concessions'
        },
        {
          text: ''
        }
      ]
    ]
  })
}}

<h3 class="govuk-heading-m">Collection page</h3>

<p class="govuk-body">Add your new document to the <a href="https://www.gov.uk/government/collections/extra-statutory-concessions" class="govuk-link">Extra-Statutory Concessions guidance and notices document collection</a>. Do not create a public change note.
</p>