---
layout: layout-example.njk
---
<form>
  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h1 class="govuk-fieldset__heading">Are you sure you want to remove Elizabeth Kean?</h1>
      </legend>
      <div class="govuk-radios">
        <div class="govuk-radios__item">
          <input id="yes" type="radio" name="delete" class="govuk-radios__input" value="Yes">
          <label class="govuk-label govuk-radios__label" for="yes">Yes</label>
        </div>
        <div class="govuk-radios__item">
          <input id="no" type="radio" name="delete" class="govuk-radios__input" value="No">
          <label class="govuk-radios__label" for="no">No</label>
        </div>
      </div>
    </fieldset>
  </div>
  <button type="submit" class="govuk-button">Continue</button>
</form>
