---
layout: layout-example.njk
---

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/select/macro.njk" import govukSelect %}

<form action="#" method="get" novalidate>
  {{
    govukSelect({
      id: "location-picker-select",
      name: "location-picker-select",
      label: {
        text: "Select your country",
        classes: "govuk-label--l",
        isPageHeading: true
      },
      attributes: {
        "data-show-all-values": "false",
        "data-auto-select": "false",
        "data-default-value":"",
        "data-module": "hmrc-accessible-autocomplete"
      },
      items: [
        { value: "", text: "Select country or territory"},
        { value: "AF-Afghanistan", text: "Afghanistan"},
        { value: "AX-Aland_Islands", text: "Aland Islands"},
        { value: "AL-Albania", text: "Albania"},
        { value: "DZ-Algeria", text: "Algeria"},
        { value: "AS-American_Samoa", text: "American Samoa"},
        { value: "AD-Andorra", text: "Andorra"},
        { value: "AO-Angola", text: "Angola"},
        { value: "AI-Anguilla", text: "Anguilla"},
        { value: "AQ-Antarctica", text: "Antarctica"},
        { value: "AG-Antigua_and_Barbuda", text: "Antigua and Barbuda"},
        { value: "AR-Argentina", text: "Argentina"},
        { value: "AM-Armenia", text: "Armenia"},
        { value: "AW-Aruba", text: "Aruba"},
        { value: "AU-Australia", text: "Australia"},
        { value: "AT-Austria", text: "Austria"},
        { value: "AZ-Azerbaijan", text: "Azerbaijan"},
        { value: "BH-Bahrain", text: "Bahrain"},
        { value: "BD-Bangladesh", text: "Bangladesh"},
        { value: "BB-Barbados", text: "Barbados"},
        { value: "BY-Belarus", text: "Belarus"},
        { value: "BE-Belgium", text: "Belgium"},
        { value: "BZ-Belize", text: "Belize"},
        { value: "BJ-Benin", text: "Benin"},
        { value: "BM-Bermuda", text: "Bermuda"},
        { value: "BT-Bhutan", text: "Bhutan"},
        { value: "BO-Bolivia", text: "Bolivia"},
        { value: "BQ-Bonaire,_Sint_Eustatius_and_Saba", text: "Bonaire, Sint Eustatius and Saba"},
        { value: "BA-Bosnia_and_Herzegovina", text: "Bosnia and Herzegovina"},
        { value: "BW-Botswana", text: "Botswana"},
        { value: "BV-Bouvet_Island", text: "Bouvet Island"},
        { value: "BR-Brazil", text: "Brazil"},
        { value: "IO-British_Indian_Ocean_Territory", text: "British Indian Ocean Territory"},
        { value: "VG-British_Virgin_Islands", text: "British Virgin Islands"},
        { value: "BN-Brunei", text: "Brunei"},
        { value: "BG-Bulgaria", text: "Bulgaria"},
        { value: "BF-Burkina_Faso", text: "Burkina Faso"},
        { value: "BI-Burundi", text: "Burundi"},
        { value: "KH-Cambodia", text: "Cambodia"},
        { value: "CM-Cameroon", text: "Cameroon"},
        { value: "CA-Canada", text: "Canada"},
        { value: "CV-Cape_Verde", text: "Cape Verde"},
        { value: "KY-Cayman_Islands", text: "Cayman Islands"},
        { value: "CF-Central_African_Republic", text: "Central African Republic"},
        { value: "TD-Chad", text: "Chad"},
        { value: "CL-Chile", text: "Chile"},
        { value: "CN-China", text: "China"},
        { value: "CX-Christmas_Island", text: "Christmas Island"},
        { value: "CC-Cocos_(Keeling)_Islands_(the)", text: "Cocos (Keeling) Islands (the)"},
        { value: "CO-Colombia", text: "Colombia"},
        { value: "KM-Comoros", text: "Comoros"},
        { value: "CG-Congo", text: "Congo"},
        { value: "CD-Congo_(Democratic_Republic)", text: "Congo (Democratic Republic)"},
        { value: "CK-Cook_Islands_(the)", text: "Cook Islands (the)"},
        { value: "CR-Costa_Rica", text: "Costa Rica"},
        { value: "HR-Croatia", text: "Croatia"},
        { value: "CU-Cuba", text: "Cuba"},
        { value: "CW-Curacao", text: "Curacao"},
        { value: "CY-Cyprus", text: "Cyprus"},
        { value: "CZ-Czechia", text: "Czechia"},
        { value: "DK-Denmark", text: "Denmark"},
        { value: "DJ-Djibouti", text: "Djibouti"},
        { value: "DM-Dominica", text: "Dominica"},
        { value: "DO-Dominican_Republic", text: "Dominican Republic"},
        { value: "TL-East_Timor", text: "East Timor"},
        { value: "EC-Ecuador", text: "Ecuador"},
        { value: "EG-Egypt", text: "Egypt"},
        { value: "SV-El_Salvador", text: "El Salvador"},
        { value: "GQ-Equatorial_Guinea", text: "Equatorial Guinea"},
        { value: "ER-Eritrea", text: "Eritrea"},
        { value: "EE-Estonia", text: "Estonia"},
        { value: "SZ-Eswatini", text: "Eswatini"},
        { value: "SZ-Swaziland", text: "Swaziland"},
        { value: "ET-Ethiopia", text: "Ethiopia"},
        { value: "FK-Falkland_Islands", text: "Falkland Islands"},
        { value: "FO-Faroe_Islands_(the)", text: "Faroe Islands (the)"},
        { value: "FJ-Fiji", text: "Fiji"},
        { value: "FI-Finland", text: "Finland"},
        { value: "FR-France", text: "France"},
        { value: "GF-French_Guiana", text: "French Guiana"},
        { value: "PF-French_Polynesia", text: "French Polynesia"},
        { value: "TF-French_Southern_Territories_(the)", text: "French Southern Territories (the)"},
        { value: "GA-Gabon", text: "Gabon"},
        { value: "GE-Georgia", text: "Georgia"},
        { value: "DE-Germany", text: "Germany"},
        { value: "GH-Ghana", text: "Ghana"},
        { value: "GI-Gibraltar", text: "Gibraltar"},
        { value: "GR-Greece", text: "Greece"},
        { value: "GL-Greenland", text: "Greenland"},
        { value: "GD-Grenada", text: "Grenada"},
        { value: "GP-Guadeloupe", text: "Guadeloupe"},
        { value: "GU-Guam", text: "Guam"},
        { value: "GT-Guatemala", text: "Guatemala"},
        { value: "GG-Guernsey", text: "Guernsey"},
        { value: "GN-Guinea", text: "Guinea"},
        { value: "GW-Guinea-Bissau", text: "Guinea-Bissau"},
        { value: "GY-Guyana", text: "Guyana"},
        { value: "HT-Haiti", text: "Haiti"},
        { value: "HM-Heard_Island_and_McDonald_Islands", text: "Heard Island and McDonald Islands"},
        { value: "HN-Honduras", text: "Honduras"},
        { value: "HK-Hong_Kong", text: "Hong Kong"},
        { value: "HU-Hungary", text: "Hungary"},
        { value: "IS-Iceland", text: "Iceland"},
        { value: "IN-India", text: "India"},
        { value: "ID-Indonesia", text: "Indonesia"},
        { value: "IR-Iran", text: "Iran"},
        { value: "IQ-Iraq", text: "Iraq"},
        { value: "IE-Ireland", text: "Ireland"},
        { value: "IM-Isle_of_Man", text: "Isle of Man"},
        { value: "IL-Israel", text: "Israel"},
        { value: "IT-Italy", text: "Italy"},
        { value: "CI-Ivory_Coast", text: "Ivory Coast"},
        { value: "CI-Cote_d'Ivoire", text: "Cote d'Ivoire"},
        { value: "JM-Jamaica", text: "Jamaica"},
        { value: "JP-Japan", text: "Japan"},
        { value: "JE-Jersey", text: "Jersey"},
        { value: "JO-Jordan", text: "Jordan"},
        { value: "KZ-Kazakhstan", text: "Kazakhstan"},
        { value: "KE-Kenya", text: "Kenya"},
        { value: "KI-Kiribati", text: "Kiribati"},
        { value: "XK-Kosovo", text: "Kosovo"},
        { value: "KW-Kuwait", text: "Kuwait"},
        { value: "KG-Kyrgyzstan", text: "Kyrgyzstan"},
        { value: "LA-Laos", text: "Laos"},
        { value: "LV-Latvia", text: "Latvia"},
        { value: "LB-Lebanon", text: "Lebanon"},
        { value: "LS-Lesotho", text: "Lesotho"},
        { value: "LR-Liberia", text: "Liberia"},
        { value: "LY-Libya", text: "Libya"},
        { value: "LI-Liechtenstein", text: "Liechtenstein"},
        { value: "LT-Lithuania", text: "Lithuania"},
        { value: "LU-Luxembourg", text: "Luxembourg"},
        { value: "MO-Macao", text: "Macao"},
        { value: "MG-Madagascar", text: "Madagascar"},
        { value: "MW-Malawi", text: "Malawi"},
        { value: "MY-Malaysia", text: "Malaysia"},
        { value: "MV-Maldives", text: "Maldives"},
        { value: "ML-Mali", text: "Mali"},
        { value: "MT-Malta", text: "Malta"},
        { value: "MH-Marshall_Islands", text: "Marshall Islands"},
        { value: "MQ-Martinique", text: "Martinique"},
        { value: "MR-Mauritania", text: "Mauritania"},
        { value: "MU-Mauritius", text: "Mauritius"},
        { value: "YT-Mayotte", text: "Mayotte"},
        { value: "MX-Mexico", text: "Mexico"},
        { value: "FM-Micronesia", text: "Micronesia"},
        { value: "MD-Moldova", text: "Moldova"},
        { value: "MC-Monaco", text: "Monaco"},
        { value: "MN-Mongolia", text: "Mongolia"},
        { value: "ME-Montenegro", text: "Montenegro"},
        { value: "MS-Montserrat", text: "Montserrat"},
        { value: "MA-Morocco", text: "Morocco"},
        { value: "MZ-Mozambique", text: "Mozambique"},
        { value: "MM-Myanmar_(Burma)", text: "Myanmar (Burma)"},
        { value: "NA-Namibia", text: "Namibia"},
        { value: "NR-Nauru", text: "Nauru"},
        { value: "NP-Nepal", text: "Nepal"},
        { value: "NL-Netherlands", text: "Netherlands"},
        { value: "NL-Holland", text: "Holland"},
        { value: "NC-New_Caledonia", text: "New Caledonia"},
        { value: "NZ-New_Zealand", text: "New Zealand"},
        { value: "NI-Nicaragua", text: "Nicaragua"},
        { value: "NE-Niger", text: "Niger"},
        { value: "NG-Nigeria", text: "Nigeria"},
        { value: "NU-Niue", text: "Niue"},
        { value: "NF-Norfolk_Island", text: "Norfolk Island"},
        { value: "MP-Northern_Mariana_Islands_(the)", text: "Northern Mariana Islands (the)"},
        { value: "KP-North_Korea", text: "North Korea"},
        { value: "MK-North_Macedonia", text: "North Macedonia"},
        { value: "NO-Norway", text: "Norway"},
        { value: "OM-Oman", text: "Oman"},
        { value: "PK-Pakistan", text: "Pakistan"},
        { value: "PW-Palau", text: "Palau"},
        { value: "PS-Occupied_Palestinian_Territories", text: "Occupied Palestinian Territories"},
        { value: "PA-Panama", text: "Panama"},
        { value: "PG-Papua_New_Guinea", text: "Papua New Guinea"},
        { value: "PY-Paraguay", text: "Paraguay"},
        { value: "PE-Peru", text: "Peru"},
        { value: "PH-Philippines", text: "Philippines"},
        { value: "PN-Pitcairn,_Henderson,_Ducie_and_Oeno_Islands", text: "Pitcairn, Henderson, Ducie and Oeno Islands"},
        { value: "PL-Poland", text: "Poland"},
        { value: "PT-Portugal", text: "Portugal"},
        { value: "PR-Puerto_Rico", text: "Puerto Rico"},
        { value: "QA-Qatar", text: "Qatar"},
        { value: "RE-Reunion", text: "Reunion"},
        { value: "RO-Romania", text: "Romania"},
        { value: "RU-Russia", text: "Russia"},
        { value: "RW-Rwanda", text: "Rwanda"},
        { value: "BL-Saint_Bartholemy", text: "Saint Bartholemy"},
        { value: "MF-Saint_Martin_(French_part)", text: "Saint Martin (French part)"},
        { value: "PM-Saint_Pierre_and_Miquelon", text: "Saint Pierre and Miquelon"},
        { value: "WS-Samoa", text: "Samoa"},
        { value: "SM-San_Marino", text: "San Marino"},
        { value: "ST-Sao_Tome_and_Principe", text: "Sao Tome and Principe"},
        { value: "SA-Saudi_Arabia", text: "Saudi Arabia"},
        { value: "SN-Senegal", text: "Senegal"},
        { value: "RS-Serbia", text: "Serbia"},
        { value: "SC-Seychelles", text: "Seychelles"},
        { value: "SL-Sierra_Leone", text: "Sierra Leone"},
        { value: "SG-Singapore", text: "Singapore"},
        { value: "SX-Sint_Maarten_(Dutch_part)", text: "Sint Maarten (Dutch part)"},
        { value: "SK-Slovakia", text: "Slovakia"},
        { value: "SI-Slovenia", text: "Slovenia"},
        { value: "SB-Solomon_Islands", text: "Solomon Islands"},
        { value: "SO-Somalia", text: "Somalia"},
        { value: "ZA-South_Africa", text: "South Africa"},
        { value: "GS-South_Georgia_and_South_Sandwich_Islands", text: "South Georgia and South Sandwich Islands"},
        { value: "KR-South_Korea", text: "South Korea"},
        { value: "SS-South_Sudan", text: "South Sudan"},
        { value: "ES-Spain", text: "Spain"},
        { value: "LK-Sri_Lanka", text: "Sri Lanka"},
        { value: "SH-St_Helena,_Ascension_and_Tristan_da_Cunha", text: "St Helena, Ascension and Tristan da Cunha"},
        { value: "KN-St_Kitts_and_Nevis", text: "St Kitts and Nevis"},
        { value: "LC-St_Lucia", text: "St Lucia"},
        { value: "VC-St_Vincent", text: "St Vincent"},
        { value: "SD-Sudan", text: "Sudan"},
        { value: "SR-Suriname", text: "Suriname"},
        { value: "SJ-Svalbard_and_Jan_Mayen", text: "Svalbard and Jan Mayen"},
        { value: "SE-Sweden", text: "Sweden"},
        { value: "CH-Switzerland", text: "Switzerland"},
        { value: "SY-Syria", text: "Syria"},
        { value: "TW-Taiwan", text: "Taiwan"},
        { value: "TJ-Tajikistan", text: "Tajikistan"},
        { value: "TZ-Tanzania", text: "Tanzania"},
        { value: "TH-Thailand", text: "Thailand"},
        { value: "BS-The_Bahamas", text: "The Bahamas"},
        { value: "GM-The_Gambia", text: "The Gambia"},
        { value: "TG-Togo", text: "Togo"},
        { value: "TK-Tokelau", text: "Tokelau"},
        { value: "TO-Tonga", text: "Tonga"},
        { value: "TT-Trinidad_and_Tobago", text: "Trinidad and Tobago"},
        { value: "TN-Tunisia", text: "Tunisia"},
        { value: "TR-Turkey", text: "Turkey"},
        { value: "TM-Turkmenistan", text: "Turkmenistan"},
        { value: "TC-Turks_and_Caicos_Islands", text: "Turks and Caicos Islands"},
        { value: "TV-Tuvalu", text: "Tuvalu"},
        { value: "UG-Uganda", text: "Uganda"},
        { value: "UA-Ukraine", text: "Ukraine"},
        { value: "AE-United_Arab_Emirates", text: "United Arab Emirates"},
        { value: "GB-United_Kingdom", text: "United Kingdom"},
        { value: "GB-England", text: "England"},
        { value: "GB-Wales", text: "Wales"},
        { value: "GB-Scotland", text: "Scotland"},
        { value: "GB-Northern_Ireland", text: "Northern Ireland"},
        { value: "GB-Great_Britain", text: "Great Britain"},
        { value: "GB-UK", text: "UK"},
        { value: "US-United_States", text: "United States"},
        { value: "US-USA", text: "USA"},
        { value: "US-U.S.A.", text: "U.S.A."},
        { value: "US-US", text: "US"},
        { value: "US-U.S.", text: "U.S."},
        { value: "US-America", text: "America"},
        { value: "UM-United_States_Minor_Outlying_Islands_(the)", text: "United States Minor Outlying Islands (the)"},
        { value: "UY-Uruguay", text: "Uruguay"},
        { value: "UZ-Uzbekistan", text: "Uzbekistan"},
        { value: "VU-Vanuatu", text: "Vanuatu"},
        { value: "VA-Vatican_City", text: "Vatican City"},
        { value: "VA-Holy_See", text: "Holy See"},
        { value: "VE-Venezuela", text: "Venezuela"},
        { value: "VN-Vietnam", text: "Vietnam"},
        { value: "VI-Virgin_Islands_(U.S.)", text: "Virgin Islands (U.S.)"},
        { value: "WF-Wallis_and_Futuna", text: "Wallis and Futuna"},
        { value: "EH-Western_Sahara*", text: "Western Sahara*"},
        { value: "YE-Yemen", text: "Yemen"},
        { value: "ZM-Zambia", text: "Zambia"},
        { value: "ZW-Zimbabwe", text: "Zimbabwe"}
      ]
    })
  }}

  {{ govukButton({
    text: "Continue"
  }) }}
</form>
