---
layout: layout-example.njk
---

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "hmrc/components/accessible-autocomplete/macro.njk" import hmrcAccessibleAutocomplete %}

<form action="#" method="get" novalidate>
  {{ hmrcAccessibleAutocomplete({
    label: {
      text: "Select your country",
      classes: "govuk-label--l",
      isPageHeading: true
    },
    describedBy: "location-picker",
    id: "location-picker",
        select: '
          <select id="location-picker" data-show-all-values="false" data-auto-select="false" data-default-value="" data-module="hmrc-accessible-autocomplete">
            <option value="fr">France</option>
            <option value="de">Germany</option>
            <option value="gb">United Kingdom</option>
          </select>'
  }) }}

  {{ govukButton({
    text: "Continue"
  }) }}
</form>
