---
layout: layout-example.njk
---

<p class="govuk-body">
If the deadline is on a weekend or bank holiday, make sure your payment reaches HMRC by the end of the previous working day.
</p>

<p class="govuk-body">
If you do not pay by the deadline, you may need to pay a penalty, interest or both.
</p>