---
layout: layout-example.njk
---

<h2 class="govuk-heading-l">When to pay</h2>

<p class="govuk-body">
Begin by including how users can find out when they should make payment or a timeline of when the payment must be made.
</p>

<p class="govuk-body">
Then include the following:
</p>

<p class="govuk-body">
If the deadline is on a weekend or bank holiday, make sure your payment reaches HMRC by the end of the previous working day.
</p>

<p class="govuk-body">
If you do not pay by the deadline, you may need to pay a penalty, interest or both.
</p>