---
layout: layout-example.njk
---

{% from "govuk/components/input/macro.njk" import govukInput %}

{{
  govukInput({
    label: {
      text: 'What is your Accounts Office reference?'
    },
    hint: {
      text: 'This is 13 characters, like 123PX00123456 or 123PX0012345X. It will be on letters from HMRC about PAYE and when you registered as an employer.'
    },
    errorMessage: {
      text: 'Enter your Accounts Office reference'
    },
    id: 'accounts-office-reference',
    name: 'accounts-office-reference',
    classes: 'govuk-input--width-10'
  })
}}
