---
layout: layout-example.njk
---

{% from "_example.njk" import example %}
{% from "hmrcFrontendInfo.njk" import hmrcFrontendInfo %}

{% block content %}

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        File upload example
      </h1>

<!--      <p class="govuk-body" id="jsEnabledOrDisabled">JS files are currently {% if not data['no-in-page-js'] === true %}enabled{% else %}disabled{% endif %}</p> -->

          <p class="govuk-body" id="jsEnabledOrDisabled">JS files are currently <strong> disabled </strong></p>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="../js-version/index.html"class="govuk-link">Enable JS files</a>
        </li>
      </ul>

      <h2 class="govuk-heading-l">
        Single file
      </h2>

      <ol class="govuk-list govuk-list--number">
        <li>
          <a href="single-file/1-upload-a-single-file.html" class="govuk-link">Upload a single file</a>
        </li>
        <li>
          <a href="single-file/2-uploading.html" class="govuk-link">Uploading</a>
        </li>
        <li>
          <a href="single-file/3-uploaded.html" class="govuk-link">Uploaded</a>
        </li>
      </ol>

      <h2 class="govuk-heading-l">
        Multiple files
      </h2>

      <ol class="govuk-list govuk-list--number">
        <li>
          <a href="multiple-files/1-upload-a-file.html" class="govuk-link">Upload a file</a>
        </li>
        <li>
          <a href="multiple-files/2-upload-additional-files.html" class="govuk-link">Upload additional files</a>
        </li>
      </ol>

      <h2 class="govuk-heading-l">
        File Types
      </h2>

      <ol class="govuk-list govuk-list--number">
        <li>
          <a href="file-types/1-select-file-type.html" class="govuk-link">Select file type</a>
        </li>
        <li>
          <a href="file-types/2-type-question.html" class="govuk-link">File type question</a>
        </li>
        <li>
          <a href="file-types/3-fixed-types.html" class="govuk-link">Fixed file types</a>
        </li>
      </ol>
    </div>
  </div>
</div>

{% endblock %}
