---
layout: layout-example.njk
---
{%- from "hmrc/components/caseworker-banner/macro.njk" import hmrcCaseworkerBanner -%}

{{ hmrcCaseworkerBanner({
  language: "cy",
  text: "Defnyddiwch gofnodion CThEF er mwyn cwblhau’r dudalen hon. Peidiwch â gwneud cais i’r defnyddiwr am y wybodaeth hon."
}) }}

