---
title: Service availability and service issues
layout: twoColumnPage.njk
---
{% from "_codeSnippet.njk" import codeSnippet %}

<h2 class="govuk-heading-l">Document type</h2>

<p class="govuk-body">Publication: guidance (with an HTML attachment)</p>

{% from "govuk/components/table/macro.njk" import govukTable %}

{{
  govukTable({
    caption: 'Publication stub page',
    head: [
      {
        text: 'Field'
      },
      {
        text: 'What to enter'
      },
      {
        text: 'Example'
      }
    ],
    rows: [
      [
        {
          text: 'Title'
        },
        {
          text: '[Service]: service availability and issues'
        },
        {
          text: 'Corporation Tax: service availability and issues'
        }
      ],
      [
        {
          text: 'Summary'
        },
        {
          text: 'Check the availability and any issues affecting the [service] service.'
        },
        {
          text: 'Check the availability and any issues affecting the Corporation Tax online service.'
        }
      ],
      [
        {
          text: 'Body text'
        },
        {
          text: 'Latest updates on the availability and any issues affecting the [service] service.'
        },
        {
          text: 'Latest updates on the availability and any issues affecting the Corporation Tax online service.'
        }
      ]

    ]
  })
}}

{{
  govukTable({
    caption: 'HTML attachment',
    head: [
      {
        text: 'Field'
      },
      {
        text: 'What to enter'
      }
    ],
    rows: [
      [
        {
          text: 'Title'
        },
        {
          html: '[Service]: service availability and issues
          <p><strong>Example:</strong></p>
          <p>Corporation Tax: service availability and issues</p>'
        }
      ],
      [
        {
          text: 'Body text'
        },
        {
          html: '## Service availability
          <p>Full service available.</p>
          <p>Sign in to [insert service name] (add the url)</p>
          <p>## Planned downtime</p>
          <p>None.</p>
          <p>## Service issues</p>
          <p>None.</p>
          <p>## Other services</p>
          <p>Check [availability and issues] (<a href="https://www.gov.uk/government/collections/hmrc-service-availability-and-issues">https://www.gov.uk/government/collections/hmrc-service-availability-and-issues</a>) for other services.</p>
          <p>Use a call to action box when adding &#39Planned downtime&#39.</p>
          <p>$CTA</p>
          <p>Sunday 23 April 2018 11:59pm to 3am Monday 24 April 2018</p>
          <p>$CTA</p>
          <p>Due to scheduled maintenance you will be unable to access our online service from 11:59pm on Sunday 23 April 2018 to 3am on Monday 24 April 2018.</p>
          <p>We apologise for any inconvenience this may cause.</p>
          <p>Add &#39None.&#39 when there is no planned downtime or service issues.</p>
          <p><strong>Note:</strong> Don&#39t use &#39midnight&#39, use 11:59pm</p>'
        }
      ],
      [
        {
          text: 'Public change note'
        },
        {
          html: '<strong>Service availability</strong>
<p><strong>Examples:</strong></p>
<p><ol class="govuk-list govuk-list--number">
<li> The agent services account is currently unavailable. Check the service availability page for updates. </li>
<li> This service will be unavailable from 10pm on Thursday 23 January to 2am on Friday 24 January 2020. </li>
</ol></p>
<p><strong>Note:</strong> no public change note is required when removing a service availability message.</p>
<p><strong>Planned downtime</strong></p>
<p>Planned downtime from 5pm on Friday 11 September 2020 to 9am Monday 14 September 2020 has been added.</p>
<p><strong>Note:</strong> no public change note is required when removing a planned downtime message.</p>
<p><strong>Service issues</strong></p>
<p><strong>Examples:</p></strong>
<p>A service issue about accessing the Making Tax Digital service has been added.</p>
<p><strong>Note:</strong> no public change note is required when removing a service issues message.</p>'
        }
      ]

    ]
  })
}}

<h3 class="govuk-heading-m">Scheduled publication time</h3>

<p class="govuk-body">You only need to put in a scheduled publication time for the removal of a message, not for the addition.

</p>

<h3 class="govuk-heading-m">Collection page</h3>

<p class="govuk-body">Make sure you add the new measure to the <a href="https://www.gov.uk/government/collections/anti-dumping-duty-measures" class="govuk-link">anti-dumping duty measures</a> document collection. Do not create a public change note.
</p>