---
layout: layout-example.njk
---
{% from "hmrc/components/page-heading/macro.njk"  import hmrcPageHeading %}
{% from "govuk/components/button/macro.njk" import govukButton %}

<h1 class="govuk-heading-xl">Upload receipts</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">Files added</h2>

    <dl class="govuk-summary-list">

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key"><a class="govuk-link" href="#">receipt1.jpg</a></dt>
        <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">Remove</a></dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key"><a class="govuk-link" href="#">receipt2.jpg</a></dt>
        <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">Remove</a></dd>
      </div>

    </dl>

<div class="govuk-form-group">

<div id="file-upload-1-hint" class="govuk-hint">
    You can upload your receipt as a scanned copy or photo of the original. The selected file must be smaller than 100MB.
</div>

  <input class="govuk-file-upload" id="file-upload-1" name="file-upload-1" type="file">
  </div>

  </div>
</div>

<button class="govuk-button" data-module="govuk-button">Continue</button>