---
layout: layout-example.njk
---
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/tag/macro.njk" import govukTag %}
{% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Upload receipts</h1>

    <div id="file-upload-1-hint" class="govuk-hint">
        You can upload your receipt as a scanned copy or photo of the original. The selected file must be smaller than 100MB.
    </div>

    <p class="govuk-body" aria-live="polite">1 of 2 files uploaded</p>

    {{ govukFileUpload({
      id: "file-upload-1",
      name: "file-upload-1",
      label: {
        text: "Upload receipts",
        classes: "govuk-visually-hidden"
      }
    }) }}

    <p class="govuk-body govuk-!-display-none" id="refreshPageProgress"><a href="#" class="govuk-link">Refresh page to update file upload progress</a></p>

    {{ govukSummaryList({
      classes: 'govuk-summary-list--long-key',
      rows: [
        {
          key: {
            text: "receipt2.jpg"
          },
          value: {
            text: govukTag({ text: "Uploading", classes: "govuk-tag--yellow" })
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Remove",
                visuallyHiddenText: "receipt2.jpg"
              }
            ]
          }
        },
        {
          key: {
            html: '<a class="govuk-link" href="#">receipt1.jpg</a>'
          },
          value: {
            text: govukTag({ text: "Uploaded", classes: "govuk-tag--green" })
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Remove",
                visuallyHiddenText: "receipt1.jpg"
              }
            ]
          }
        }
      ]
    }) }}

    {{ govukButton({
      text: "Continue"
    }) }}
  </div>
</div>
