---
title: Getting started with HTML and CSS
menuText: Getting started with HTML and CSS
order: 3
layout: twoColumnPage.njk
---

<p class="govuk-body">The <span class="govuk-!-font-weight-bold">GOV.UK Prototype Kit</span> uses HTML and CSS so that prototypes look and feel like real digital services. These languages form the foundation of the web, and knowing how to use them is a valuable skill for all designers.</p>

<p class="govuk-body">Learning HTML and CSS will help you:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>build realistic prototypes that test ideas quickly</li>
  <li>understand how the web works, including accessibility and responsive design</li>
  <li>work more effectively with developers by understanding how your designs are built</li>
</ul>

<p class="govuk-body">If you’re completely new to coding, don’t worry - we’ve gathered some useful and free resources to help you get started.</p>

<h2 class="govuk-heading-l">Learn HTML and CSS</h2>

<h3 class="govuk-heading-m">MDN Web Docs - HTML and CSS Guides</h3>

<p class="govuk-body"><a href="https://developer.mozilla.org/en-US/docs/Web/HTML" class="govuk-link">https://developer.mozilla.org/en-US/docs/Web/HTML</a></p>

<p class="govuk-body"> <a href="https://developer.mozilla.org/en-US/docs/Web/CSS" class="govuk-link">https://developer.mozilla.org/en-US/docs/Web/CSS</a></p>

<p class="govuk-body">Written by Mozilla, the creators of Firefox. Good resource for digging into HTML and CSS as you grow in confidence alongside structured tutorials to help you learn.</p>

<h3 class="govuk-heading-m">Codecademy</h3>

<p class="govuk-body"><a href="https://www.codecademy.com/catalog/language/html-css" class="govuk-link">https://www.codecademy.com/catalog/language/html-css</a></p>

<p class="govuk-body">Start learning some of the basics of HTML and CSS with free access.</p>

<h2 class="govuk-heading-l">Books</h2>

<h3 class="govuk-heading-m">HTML5 for Web Designers</h3>

<p class="govuk-body"><a href="https://html5forwebdesigners.com" class="govuk-link">https://html5forwebdesigners.com</a></p>

<h3 class="govuk-heading-m">HTML and CSS: Design and Build Websites by Jon Duckett</h3>

<p class="govuk-body"><a href="https://www.htmlandcssbook.com" class="govuk-link">https://www.htmlandcssbook.com</a></p>

<p class="govuk-body">A beginner-friendly book that makes HTML and CSS feel approachable.</p>
