---
layout: layout-example.njk
---

<p class="govuk-body">
To apply you will need:
</p>

<ul class="govuk-list govuk-list--bullet">
  <li>sign in details — if you do not already have sign in details, you will be able to create them</li>
</ul>