---
layout: layout-example.njk
---

<h2 class="govuk-heading-l">Example heading</h2>

<p class="govuk-body">
This section has force of law under regulation 3 of the Example Regulations 1995.
</p>

<p class="govuk-body">
If you account for VAT using the Flat Rate Scheme:
</p>

<ul class="govuk-list govuk-list--bullet">
  <li>you do not need to keep a digital record of your purchases unless they are capital expenditure goods
on which input tax can be claimed</li>
  <li>you do not need to keep a digital record of the relevant goods used to determine if you need to apply
the limited cost business rate</li>
</ul>

<h2 class="govuk-heading-l">Example heading (this text will not have force of law)</h2>