<header role="banner">
    <div class="hmrc-logo">
        <a href="/hmrc-design-system-prototype/" title="Go to the HMRC Design Library homepage" class="hmrc-logo__link">
            <span class="c-hmrc-logo__title"> HM Revenue &amp; Customs <strong>Designing for HMRC</strong></span>
        </a>
    </div>
</header>