---
layout: layout-example.njk
---
{%- from "hmrc/components/user-research-banner/macro.njk" import hmrcUserResearchBanner -%}

{{
  hmrcUserResearchBanner({
    url: "https://www.gov.uk/government/organisations/hm-revenue-customs",
    language: "cy",
    hideCloseButton: true
  })
}}
