---
title: Extra-Statutory Concessions
status: development
menuText: Extra-Statutory Concessions
layout: twoColumnPage.njk
---
{% from "_example.njk" import example %}

<h2 class="govuk-heading-l">Document type</h2>

<p class="govuk-body">Publication: guidance (with an HTML attachment)</p>

<h2 class="govuk-heading-l">How it works</h2>

<h3 class="govuk-heading-m">Publication stub page</h3>

<h4 class="govuk-heading-s">Title</h4>

<p class="govuk-body">
Extra-Statutory Concession (number): title of document
</p>

<p class="govuk-body">
See live examples on <a href="https://www.gov.uk/government/collections/extra-statutory-concessions" class="govuk-link">Extra-Statutory Concessions guidance and notices</a>.
</p>

<h4 class="govuk-heading-s">Summary</h4>

<p class="govuk-body">
Read the document and summarise what it is about.
</p>

{{ example({
    item: 'extra-statutory-concessions',
    example: 'example1',
    description: 'Example 1',
    hideTabs: true
}) }}

<h4 class="govuk-heading-s">Body text</h4>

<p class="govuk-body">
To create the body text, read the document and summarise what it is about.
</p>

{{ example({
    item: 'extra-statutory-concessions',
    example: 'example2',
    description: 'Example 2',
    hideTabs: true
}) }}

<h3 class="govuk-heading-m">HTML attachment</h3>

<h4 class="govuk-heading-s">Title</h4>

<p class="govuk-body">
Extra-Statutory Concession (number) title of document
</p>

<p class="govuk-body">
See live examples on <a href="https://www.gov.uk/government/collections/extra-statutory-concessions" class="govuk-link">Extra-Statutory Concessions guidance and notices</a>.
</p>

<h4 class="govuk-heading-s">Body text</h4>

<p class="govuk-body">
Enter and style the contents of the Extra-Statutory Concessions.
</p>

<h3 class="govuk-heading-m">Collection page</h3>

<p class="govuk-body">Add your new document to the <a href="https://www.gov.uk/government/collections/extra-statutory-concessions" class="govuk-link">Extra-Statutory Concessions guidance and notices document collection</a>. Do not create a public change note.
</p>