<!DOCTYPE html>
<html class="govuk-template" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HMRC Design System</title>
    <link rel="icon" href="/assets/images/favicon.ico">
    <link type="text/css" rel="stylesheet" href="/govuk-frontend.min.css">
    <!--[if lt IE 8]>
        <link type="text/css" rel="stylesheet" href="govuk-frontend-ie8.min.css">
    <[endif]-->
    <link type="text/css" rel="stylesheet" href="/hmrc-design-system.min.css">
</head>
<body class="govuk-template__body govuk-body">
{% from "../macros/example.macro.njk"  import example %}
{%- include './partials/header.njk' -%}
{%- block page -%}{%- endblock -%}
</body>
</html>