{% set titleSuffix = "Design resources for HMRC — GOV.UK" %}
{% from "govuk/components/skip-link/macro.njk" import govukSkipLink %}

<!DOCTYPE html>
<html class="govuk-template" lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
    {%- block pageTitle -%}
      {{- title + ' - ' if title -}}
      {{- sectionTitle + ' - ' if sectionTitle and sectionTitle != title -}}
      {{- titleSuffix -}}
    {%- endblock -%}
  </title>
  <link rel="icon" href="/extension-assets/govuk-frontend/dist/govuk/assets/images/favicon.ico">
  <link type="text/css" rel="stylesheet" href="/hmrc-design-system.min.css">
</head>

<body class="govuk-template__body">

  {{ govukSkipLink({
    text: "Skip to main content",
    href: "#main-content"
  }) }}
  {% set serviceName = "Design resources" %}
  <!-- TODO: tidy up the below -->
  <div class="app-pane app-pane--enabled">
    {%- block page -%}{%- endblock -%}
  </div>

  <script>document.body.className += ' js-enabled' + ('noModule' in HTMLScriptElement.prototype ? ' govuk-frontend-supported' : '');</script>
  <script src="/assets/javascripts/hmrc-design-system.js" type="module"></script>
</body>
</html>
