{% extends 'default.njk' %}
{% block page %}
{%- include './partials/header.njk' -%}
        {%- block body -%}
          {{ contents | safe }}
        {%- endblock -%}
{% include './partials/footer.njk' %}
{% endblock %}
