<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block pageTitle %}Example – HMRC Design Patterns – Design resources for HMRC – GOV.UK{% endblock %}</title>

    <link type="text/css" rel="stylesheet" href="/assets/stylesheets/govuk-frontend.min.css">
    <link type="text/css" rel="stylesheet" href="/assets/stylesheets/hmrc-frontend.min.css">
    <link type="text/css" rel="stylesheet" href="/hmrc-design-system.min.css" media="all">
  </head>

  <body class="app-example-page">
    {% block content %}{% endblock %}
  </body>
</html>
