---
  layout: layout-example.njk
---

  <!-- LANGUAGE TOGGLE -->
  <nav class="hmrc-language-select" aria-label="Language switcher">
    <ul class="hmrc-language-select__list">
      <li class="hmrc-language-select__list-item">
        <span aria-current="true">English</span>
      </li>
      <li class="hmrc-language-select__list-item">
        <a href="#"
          hreflang="cy"
          lang="cy"
          rel="alternate"
          class="govuk-link"
          data-journey-click="link - click:lang-select:Welsh">
          <span class="govuk-visually-hidden">Newid yr iaith ir Gymraeg</span>
          <span aria-hidden="true">Cymraeg</span>
        </a>
      </li>
    </ul>
  </nav>
  <!-- END LANGUAGE TOGGLE -->
