---
layout: layout-example.njk
---

{%- from  "hmrc/components/timeout-dialog/macro.njk" import hmrcTimeoutDialog -%}

{{ hmrcTimeoutDialog ({
  timeout: 70,
  countdown: 68,
  keepAliveUrl: "?continue=true",
  signOutUrl: "?lang=Welsh",
  message: "Er eich diogelwch, byddwn yn dileu’ch atebion cyn pen",
  keepAliveButtonText: "Parhau i wirio pa gymorth y gallwch ei gael gyda chostau plant",
  signOutButtonText: "Dileu’ch atebion",
  language: "cy"
}) }}
