---
layout: layout-example.njk
---

{%- from  "hmrc/components/timeout-dialog/macro.njk" import hmrcTimeoutDialog -%}

{{ hmrcTimeoutDialog ({
  timeout: 70,
  countdown: 68,
  keepAliveUrl: "?continue=true",
  signOutUrl: "?lang=Welsh",
  title: "Er eich diogelwch",
  message: "Byddwn yn dileu’ch atebion cyn pen",
  keepAliveButtonText: "Parhewch i wirio pa help y gallwch ei gael gyda chostau gofal plant",
  signOutButtonText: "Dileu’ch atebion",
  language: "cy"
}) }}
