---
title: HMRC banner
menuText: HMRC banner
layout: twoColumnPage.njk
---
{% from "_example.njk" import example %}
{% from "hmrcFrontendInfo.njk" import hmrcFrontendInfo %}

{% block content %}
<p class="govuk-body">
  The HMRC banner shows external users that they are dealing with HMRC.
</p>

<h2 class="govuk-heading-l" id="when-to-use">
  When to use
</h2>

<p class="govuk-body">
Use this pattern if the user needs to know they are dealing with HMRC. For example, if they need to be sure that a payment is going to the right government department.</p>

<h2 class="govuk-heading-l" id="when-not-to-use">
When not to use
</h2>
<p class="govuk-body"> Do not use this pattern: </p>

<ul class="govuk-list govuk-list--bullet">
  <li> when the user does not need to know they are dealing with HMRC.</li>
  <li>for HMRC internal services — use the <a class="govuk-link" href="../internal-header">Internal header</a></li>

</ul>

<h2 class="govuk-heading-l" id="how-it-works">How it works</h2>

{{ hmrcFrontendInfo() }}

<p class="govuk-body">Show the HMRC banner directly under the <a class="govuk-link" href="https://design-system.service.gov.uk/components/header/">GOV.UK header</a>. It sits above other elements like the <a class="govuk-link" href="https://design-system.service.gov.uk/components/service-navigation/">service navigation</a> component or <a class="govuk-link" href="https://design-system.service.gov.uk/components/phase-banner/">phase banner</a>.</p>

<p class="govuk-body">It should have:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>the HMRC logo</li>
  <li>a vertical teal bar on the left side</li>
</ul>

  {{
    example({
      item: 'hmrc-banner',
      example: 'example',
      description: 'HMRC banner',
      welsh: 'example-welsh'

    })
  }}

<h2 id="research" class="govuk-heading-l">Research</h2>

<p class="govuk-body">
  We need more research. If you have used the HMRC banner, get in touch to share your research findings.
</p>

<p class="govuk-body">
  <a class="govuk-link" href="https://github.com/hmrc/design-patterns/issues/4">Discuss the HMRC banner on GitHub</a>
</p>
{% endblock %}
