---
layout: layout-example.njk
---
{% from "hmrc/components/page-heading/macro.njk"  import hmrcPageHeading %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{{ hmrcPageHeading({
  text: 'Rydym wedi cadarnhau pwy ydych'
}) }}

{{ govukButton({
  text: "Yn eich blaen"
}) }}
