---
title: Anti-dumping duty measures
menuText: Anti-dumping duty measures
layout: twoColumnPage.njk
---
{% from "_codeSnippet.njk" import codeSnippet %}
{% from "_example.njk" import example %}

<h2 class="govuk-heading-l">When to use</h2>

<p class="govuk-body">Use this pattern to tell users about a change in import or export procedures.</p>

<h2 class="govuk-heading-l">How to design this pattern</h2>

<p class="govuk-body">You do not need to mention ‘import’ or ‘export’ unless really necessary. This is because anti-dumping duty only applies to imports into the UK and EU.</p>

<h3 class="govuk-heading-m">Document type</h3>

<p class="govuk-body">Publication: guidance (with an HTML attachment)</p>

<h3 class="govuk-heading-m">Publication</h3>

<h4 class="govuk-heading-s">Title</h4>

<p class="govuk-body">Description (only include the object or item and where it’s imported from or describe what the measure is about and the measure number in brackets at the end).</p>

<p class="govuk-body">Check the <a href="https://www.gov.uk/government/collections/anti-dumping-duty-measures" class="govuk-link">anti-dumping duty measures collection</a> to make sure your title has not been used already.</p>

<p class="govuk-body">Examples of good titles:</p>

<ul class="govuk-list govuk-list--bullet">
<li>Hand pallet trucks imported from China (anti-dumping duty xxxx)</li>
<li>Name change of a company that exports ceramic tableware and kitchenware from China (anti-dumping duty xxxx)</li>
</ul>

<h4 class="govuk-heading-s">Summary</h4>

<p class="govuk-body">Provide a short description of what the attached document is about.</p>

<p class="govuk-body">Do not start your summary with ‘Find out’.</p>

<p class="govuk-body">
  For example, ‘Changes to the duty codes for trucks with a weight indicative system, originating in the
  People’s Republic of China’.
</p>

<h4 class="govuk-heading-s">Details</h4>

<p class="govuk-body">Copy this text:</p>

{{ example({
    item: 'anti-dumping',
    example: 'example1',
    description: 'All text',
    hideTabs: true
}) }}

<h3 class="govuk-heading-m">HTML attachment</h3>

<p class="govuk-body">Although measures contain technical information, you should be able to get a general understanding about what they are for.</p>

<p class="govuk-body">Check any hyperlinks in the business draft. Contact the subject matter expert to get correct details if any links:</p>

<ul class="govuk-list govuk-list--bullet">
<li>point to the <a href="https://eur-lex.europa.eu/homepage.html" class="govuk-link">homepage of the EurLex website</a>, rather than the page containing the relevant legislation</li>
<li>go directly to a PDF (or other file), rather than the webpage that houses it</li>
</ul>

<h4 class="govuk-heading-s">Title</h4>

<p class="govuk-body">Use the anti-dumping duty number that you’ve used in the title of the stub page.</p>

<p class="govuk-body">Example: Anti-dumping duty xxxx</p>

<h4 class="govuk-heading-s">Body</h4>

<p class="govuk-body">Copy the contents of the anti-dumping duty measure.</p>

<h3 class="govuk-heading-m">Collection page</h3>

<p class="govuk-body">Add the new measure to the <a href="https://www.gov.uk/government/collections/anti-dumping-duty-measures" class="govuk-link">anti-dumping duty measures collection</a>. Do not create a public change note.
</p>
