---
layout: layout-example.njk
---

<div class="govuk-grid">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Er eich diogelwch, gwnaethom eich allgofnodi
    </h1>

    <p class="govuk-body">
      Ni wnaethom gadw’ch atebion.
    </p>

    <div class="govuk-form-group">
      <button id="timeout-keep-signin-btn" class="govuk-button govuk-!-margin-bottom-0">
        Mewngofnodi
      </button>
    </div>

  </div>
</div>
