---
title: Force of law
layout: twoColumnPage.njk
---
{% from "_codeSnippet.njk" import codeSnippet %}
{% from "_example.njk" import example %}

<h2 class="govuk-heading-l">When to use</h2>

<p class="govuk-body">
Use this component to introduce content that has force of law (sometimes referred to as tertiary legislation) in <a href="https://design.tax.service.gov.uk/hmrc-content-guide/notices/" class="govuk-link">excise, Soft Drinks Industry Levy or VAT notices</a>.
</p>

<h2 class="govuk-heading-l">How to use this component</h2>

<p class="govuk-body">
Where possible write force of law in plain English in collaboration with the Solicitor&#39;s Office to make sure it’s
legally correct.
</p>

<h2 class="govuk-heading-l">How it works</h2>

<p class="govuk-body">
Use this component just before the text that has force of law.
</p>

<p class="govuk-body">
Force of law text should be put at the point the user needs to know it to complete their task.
</p>

<h3 class="govuk-heading-m">Option 1</h3>

<p class="govuk-body">
Use this option where all of the text that sits under a heading has force of law.
</p>

{{ example({
    item: 'force-of-law',
    example: 'example1',
    description: 'Force of law',
    markdown: 'example1-markdown',
    markdownOnly: true
}) }}

<h3 class="govuk-heading-m">Option 2</h3>

<p class="govuk-body">
Use these options if there’s not enough content with force of law for it to have its own section.
</p>

{{ example({
    item: 'force-of-law',
    example: 'example2',
    description: 'Force of law',
    markdown: 'example2-markdown',
    markdownOnly: true
}) }}

{{ example({
    item: 'force-of-law',
    example: 'example3',
    description: 'Force of law',
    markdown: 'example3-markdown',
    markdownOnly: true
}) }}

{{ example({
    item: 'force-of-law',
    example: 'example4',
    description: 'Force of law',
    markdown: 'example4-markdown',
    markdownOnly: true
}) }}

{{ example({
    item: 'force-of-law',
    example: 'example5',
    description: 'Force of law',
    markdown: 'example5-markdown',
    markdownOnly: true
}) }}

{{ example({
    item: 'force-of-law',
    example: 'example6',
    description: 'Force of law',
    markdown: 'example6-markdown',
    markdownOnly: true
}) }}
