---
layout: layout-example.njk
---

{% from "examples/timeline/example/timeline/macro.njk" import timeline %}

{% set exampleContent %}<p class="govuk-body">Example content</p>{% endset %}

  {{ timeline({
    headinglevel: "3",
    events: [
      {
        title: 'Something else happened',
        time: '22 April 2019',
        content: exampleContent
      },
      {
        title: 'Something happened',
        time: '18 April 2019',
        content: exampleContent
      }
    ]
  }) }}
