---
layout: layout-example.njk
---

{% from "examples/timeline/example/timeline/macro.njk" import timeline %}

{% set exampleContent1 %}<p class="govuk-body">We received your return. You claimed you were due a repayment of £50. We are checking your claim.</p>{% endset %}
{% set exampleContent2 %}<p class="govuk-body">We repaid you £50. It will take 3 days for the money to reach your account.</p>{% endset %}

  {{ timeline({
    headinglevel: "2",
    events: [
      {
        title: 'Repayment complete',
        time: '15 July 2020',
        content: exampleContent2
      },
      {
        title: 'Checking your claim',
        time: '14 July 2020',
        content: exampleContent1
      }
    ]
  }) }}
