---
layout: layout-example.html
---

<div class="govuk-grid-row">
   <div class="govuk-grid-column-two-thirds">
      <ul class="app-task-list__items">
        <h2 class="app-task-list__section">
           Check your application
        </h2>
        <li class="app-task-list__item">
          <a class="app-task-list__task-name" href="#" aria-describedby="enter-your-contact-details">Enter your contact details</a>
          <span class="status-tag" id="contact-details-completed">Completed</span>
        </li>
        <li class="app-task-list__item">
          <a class="app-task-list__task-name" href="#" aria-describedby="provide-financial-evidence">Provide financial evidence</a>
            <span class="status-tag" id="contact-details-to-do"> Not started </span>
        </li>

        <li class="app-task-list__item">
          <a class="app-task-list__task-name" href="#" aria-describedby="give-medical-information">Give medical information</a>
          <span class="status-tag" id="medical-information-completed">Completed</span>
        </li>
        <li class="app-task-list__item">
          <a class="app-task-list__task-name" href="#" aria-describedby="list-convictions">List convictions</a>
          <span class="status-tag" id="status-tag-in-progress">In progress</span>
        </li>

        <li class="app-task-list__item">
          <a class="app-task-list__task-name" href="#" aria-describedby="read-and-accept-declaration">Read and accept declaration</a>
            <span class="status-tag" id="status-tag-not-started">Not started</span>
        </li>
      </ul>


</div>
</div>
