---
layout: layout-example.njk
---

<p class="govuk-body">
Anti-dumping duty is an import duty charged in addition to normal Customs Duty and is applied in the UK and across the whole EU.</p>

<p class="govuk-body">
It’s designed to allow the UK and EU to take action against goods that are sold at less than their normal value &mdash; that being defined as the price for ‘like goods’ sold in the exporter’s home market.</p>