---
layout: layout-example.njk
---

{% from "button/macro.njk" import govukButton %}

<h1 class="govuk-heading-xl">Nid oeddem yn gallu cadarnhau pwy ydych</h1>
<p class="govuk-body">Nid ydych wedi rhoi digon o wybodaeth i ni.</p>

{{ govukButton({
  text: "Rhowch gynnig arall arni"
}) }}
