---
title: Caseworker guidance banner
layout: twoColumnPage.njk
status: development
---

{% from "_example.njk" import example %}
{% from "hmrcFrontendInfo.njk" import hmrcFrontendInfo %}

{% block content %}

<p class="govuk-body">Use this banner to provide concise, essential instructions for caseworkers in internal HMRC services.</p>

<h2 id="when-to-use" class="govuk-heading-l">When to use</h2>

<p class="govuk-body">To display critical guidance for the caseworker, such as:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>input internal data instead of user-provided answers</li>
  <li>avoid disclosure of sensitive information</li>
  <li>links to relevant internal documentation</li>
</ul>

<h2 id="when-not-to-use" class="govuk-heading-l">When not to use</h2>

<p class="govuk-body">Avoid overuse. Reserve this banner for highlighting truly critical or essential caseworker guidance.</p>

<p class="govuk-body">This banner is strictly for internal use and should never be displayed on public-facing pages.</p>

<h2 id="how-it-works" class="govuk-heading-l">How it works</h2>

{{ hmrcFrontendInfo() }}

<p class="govuk-body">:</p>





<h3 class="govuk-heading-m">L</h3>

<p class="govuk-body">.</p>

{{
  example({
    item: 'research-banner',
    description: 'Research-banner',
    example: 'example-linear',
    welsh: 'example-linear-welsh'
  })
}}


<h2 id="research" class="govuk-heading-l">Research</h2>

<p class="govuk-body">We need more research. If you have used the caseworker guidance banner, get in touch to share your research findings.</p>

<p class="govuk-body"><a class="govuk-link" href="https://github.com/hmrc/design-patterns/issues/174">Discuss the caseworker guidance banner on GitHub</a></p>

{% endblock %}
