---
title: Caseworker guidance banner
layout: twoColumnPage.njk
status: development
---

{% from "_example.njk" import example %}
{% from "hmrcFrontendInfo.njk" import hmrcFrontendInfo %}

{% block content %}

<p class="govuk-body">Use this banner to provide concise, essential instructions for caseworkers in internal HMRC services.</p>

<h2 id="when-to-use" class="govuk-heading-l">When to use</h2>

<p class="govuk-body">To display critical guidance for the caseworker, such as:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>instructions to input internal data (not user-provided)</li>
  <li>warnings to avoid disclosure</li>
  <li>links to documentation</li>
</ul>

<h2 id="when-not-to-use" class="govuk-heading-l">When not to use</h2>

<p class="govuk-body">Avoid overuse. Reserve this banner for highlighting truly critical or essential caseworker guidance.</p>

<p class="govuk-body">This banner is strictly for internal use and should never be displayed on public-facing pages.</p>

<h2 id="how-it-works" class="govuk-heading-l">How it works</h2>

{{ hmrcFrontendInfo() }}

<p class="govuk-body">Refer to the operator as ‘caseworker’ or ‘agent’, whichever is appropriate for your service.</p>

<p class="govuk-body">Place the guidance banner immediately below the page’s <code>&lt;h1&gt;</code>.</p>

<p class="govuk-body">The banner should be the same width as the main page content.</p>

<p class="govuk-body">When multiple pieces of internal guidance are necessary, consolidate them into a single banner, rather than using multiple instances of this pattern on the same page.</p>

<h3 class="govuk-heading-m">Data entry</h3>

{{
  example({
    item: 'caseworker-guidance-banner',
    description: 'data-entry',
    example: 'data-entry'
  })
}}

<h3 class="govuk-heading-m">Security</h3>

{{
  example({
    item: 'caseworker-guidance-banner',
    description: 'security',
    example: 'security'
  })
}}

<h3 class="govuk-heading-m">Documentation</h3>

{{
  example({
    item: 'caseworker-guidance-banner',
    description: 'documentation',
    example: 'documentation'
  })
}}

<h3 class="govuk-heading-m">Multiple instructions</h3>

{{
  example({
    item: 'caseworker-guidance-banner',
    description: 'multiple-instructions',
    example: 'multiple-instructions'
  })
}}

<h2 id="research" class="govuk-heading-l">Research</h2>

<p class="govuk-body">We need more research. If you have used the caseworker guidance banner, get in touch to share your research findings.</p>

<p class="govuk-body"><a class="govuk-link" href="https://github.com/hmrc/design-patterns/issues/174">Discuss the caseworker guidance banner on GitHub</a></p>

{% endblock %}
