---
title: 'Exchange rates: yearly averages and spot rates'
status: development
layout: twoColumnPage.njk
---
{% from "_codeSnippet.njk" import codeSnippet %}

<h2 class="govuk-heading-l">Document type</h2>

<p class="govuk-body">Publication guidance - stub page and CSV attachment.</p>

<h2 class="govuk-heading-l">Collection type</h2>

<p class="govuk-body">
  Add the page to the
  <a href="https://www.gov.uk/government/collections/rates-and-allowances-hm-revenue-and-customs" class="govuk-link">
    Rates and Allowances: HM Revenue and Customs collection</a> page.
</p>

<h2 class="govuk-heading-l">How it works</h2>

<h3 class="govuk-heading-m">Stub page</h3>

<h4 class="govuk-heading-s">Title</h4>

<p class="govuk-body">Enter this text:</p>

  {{
    codeSnippet({
      code: 'HMRC foreign exchange rates: yearly averages and spot rates',
      canCopy: true
    })
  }}

<h4 class="govuk-heading-s">Summary</h4>

<p class="govuk-body">Enter this text:</p>

  {{
    codeSnippet({
      code: 'Find current and historical foreign rates of exchange',
      canCopy: true
    })
  }}

<h4 class="govuk-heading-s">Details</h4>

<p class="govuk-body">Enter this text:</p>

  {{
    codeSnippet({
      code: 'The average yearly exchange rates data is based on figures published in the Financial Times',
      canCopy: true
    })
  }}

<h3 class="govuk-heading-m">CSV attachment</h3>

<h4 class="govuk-heading-s">Title</h4>

<p class="govuk-body">Enter the month or period the rates apply to.</p>

<p class="govuk-body">For the yearly averages:</p>

  {{
    codeSnippet({
      code: 'Average for the year to [date]',
      canCopy: true
    })
  }}

<p class="govuk-body">For example, ‘Average for the year to 31 March 2020’.</p>

<p class="govuk-body">For spot rates:</p>

  {{
    codeSnippet({
      code: 'Spot rates on [date] and [date]',
      canCopy: true
    })
  }}

<p class="govuk-body">For example, ‘Spot rates on 31 December 2020 and 31 March 2021’.</p>

<h4 class="govuk-heading-s">Column headings</h4>

<p class="govuk-body">Use these column headings</p>

<pre class="language-example-code">
  <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="col">Country</th>
        <th class="govuk-table__header" scope="col">Unit of currency</th>
        <th class="govuk-table__header" scope="col">Sterling value of currency unit £</th>
        <th class="govuk-table__header" scope="col">Currency units per £1</th>
      </tr>
    </thead>
  </table>
</pre>

