---
title: Approved professional organisations and learned societies (list 3)
menuText: Approved professional organisations and learned societies
layout: twoColumnPage.njk
---
{% from "_example.njk" import example %}

<p class="govuk-body">
URL: <a href="https://www.gov.uk/government/publications/professional-bodies-approved-for-tax-relief-list-3">https://www.gov.uk/government/publications/professional-bodies-approved-for-tax-relief-list-3</a>
</p>

<h2 class="govuk-heading-l">How to amend the HTML attachment</h2>

<ol class="govuk-list govuk-list--number">
<li>Select ‘Create new edition to edit’</li>
<li>Select ‘Attachments’ tab</li>
<li>Select ‘Edit’ HTML attachment’</li>
<li>In the body field amend the content of the list</li>
<li>Choose ‘Save’ at the bottom of the attachment</li>
<li>Go back to the Document tab and add a public change note showing all additions, alterations or removals</li>
<li>Select ‘Save’ underneath public change note</li>
</ol>

<h2 class="govuk-heading-l">Check your new documents and submit for 2<sup>nd</sup> eyes review</h2>

<ol class="govuk-list govuk-list--number">
<li>Select the ‘Preview on website’ button and do a final check of the stub page and attachment.</li>
<li>Select the green ‘Submit for 2nd eyes’ button and ask someone to review and publish the content.</li>
</ol>