---
layout: layout-example.njk
---

<div class="govuk-grid">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
       For your security, we deleted your answers
    </h1>

    <div class="govuk-form-group">
      <button id="timeout-keep-signin-btn7" class="govuk-button govuk-!-margin-bottom-0">
        Start again
      </button>
    </div>

  </div>
</div>
