---
title: Ask the user for their consent
menuText: Ask the user for their consent
layout: twoColumnPage.njk
---
{% from "_example.njk" import example %}

{% block content %}

<p class="govuk-body">This pattern asks the user for their consent when we collect and store personal data. The pattern meets our responsibilities under the <a class="govuk-link" href="https://www.gov.uk/government/publications/guide-to-the-general-data-protection-regulation">General Data Protection Regulation 2018 (GDPR)</a> and <a class="govuk-link" href="https://www.gov.uk/government/collections/data-protection-act-2018">Data Protection Act 2018 (DPA)</a>.</p>

<h2 class="govuk-heading-l" id="when-to-use">When to use</h2>

<p class="govuk-body">Use this pattern to ask the user for their consent when you collect and store personal data.</p>

<p class="govuk-body">Personal data is anything that on its own, or together with other data, can identify a person.</p>

<p class="govuk-body">If the data you are asking for is not needed for government to perform a specific task or function set out in law, you need to ask for consent. For example, data needed to apply or register for something.</p>

<h2 class="govuk-heading-l" id="when-not-to-use">When to not use</h2>

<p class="govuk-body">If the data is required for government to perform a specific task or function set out in law, you do not need to ask for consent. For example, terms and conditions – these are required so you do not need to ask for consent.</p>

<p class="govuk-body">Design content that includes the terms and conditions as part of selecting a button, instead of adding in a checkbox.</p>

<h2 class="govuk-heading-l" id="how-it-works">How it works</h2>

<p class="govuk-body">Do not infer consent when someone uses a service or does nothing. Consent must be:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>freely given</li>
  <li>a positive action to opt-in</li>
  <li>clear, concise and specific</li>
  <li>separate from other terms and conditions</li>
  <li>as easy to withdraw as it is to give</li>
</ul>

<p class="govuk-body"><a class="govuk-link" href="https://ico.org.uk/for-organisations/guide-to-the-general-data-protection-regulation-gdpr/lawful-basis-for-processing/consent/">Read more about consent on the Information Commissioner’s Office website</a>.</p>

<p class="govuk-body">Do not pre-select radio buttons and checkboxes for the user. This means the positive action would opt-out.</p>

<p class="govuk-body">Consent covers all activities done for the same reason. If you use the data for more than one reason, get separate consent for each.</p>

<h3 class="govuk-heading-m" id="ask-a-yes-no-question">Ask a yes-no question</h3>

{{
  example({
    item: 'ask-the-user-for-their-consent',
    section: section,
    example: 'yes-no-question',
    description: 'Ask a yes-no question'
  })
}}

<h3 class="govuk-heading-m" id="use-a-single-checkbox">Use a single checkbox</h3>

{{
  example({
    item: 'ask-the-user-for-their-consent',
    section: section,
    example: 'single-checkbox',
    description: 'Use a single checkbox'
  })
}}

<h3 class="govuk-heading-m" id="use-more-than-one-checkbox">Use more than one checkbox</h3>

<p class="govuk-body">For when there is more than one type of consent or consent must be separate from other terms and conditions.</p>

{{
  example({
    item: 'ask-the-user-for-their-consent',
    section: section,
    example: 'multiple-checkboxes',
    description: 'Use more than one checkbox'
  })
}}

<h2 class="govuk-heading-l" id="research">Research</h2>

<p class="govuk-body">We need more research. If you have asked the user for their consent, get in touch to share your research findings.</p>

<p class="govuk-body"><a class="govuk-link" href="https://github.com/hmrc/design-patterns/issues/154">Discuss ask the user for their consent on GitHub</a></p>

{% endblock %}
