---
layout: layout-example.njk
---

{%
  set hmrcAccountHeader = {
    language: "cy",
    serviceName: "Enw'r gwasanaeth",
    serviceUrl: "/",
    homepageUrl: "/",
    containerClasses: "govuk-width-container",
    classes: "",
    languageToggle: {
      en: {
        href: "/hmrc-design-patterns/account-header/default/"
      },
      cy: {
        href: "/hmrc-design-patterns/account-header/default-welsh/"
      }
    },
    accountHome: {
      href: "#home",
      active: true
    },
    messages: {
      href: "#messages",
      messageCount: "30"
    },
    checkProgress: {
      href: "#check-progress"
    },
    paperlessSettings: {
      href: "#paperless-settings"
    },
    personalDetails: {
      href: "#personal-details"
    },
    signOut: {
      href: "#sign-out"
    }
  }
%}

{% extends "hmrc/layouts/account-header.html" %}
