---
layout: layout-example.njk
---
<div class="govuk-form-group">
  <div class="govuk-checkboxes">
    <div class="govuk-checkboxes__item">
      <input class="govuk-checkboxes__input" id="email" name="email" type="checkbox" value="email">
      <label class="govuk-label govuk-checkboxes__label" for="email">
        I want to get electronic communications instead of letters from HMRC
      </label>
    </div>
    <div class="govuk-checkboxes__item">
      <input class="govuk-checkboxes__input" id="remember" name="remember" type="checkbox" value="remember">
      <label class="govuk-label govuk-checkboxes__label" for="remember">
        Remember this access code for 7 days
      </label>
    </div>
  </div>
</div>

<button type="submit" class="govuk-button">Continue</button>