---
layout: layout-example.njk
---
{%- from "hmrc/components/caseworker-banner/macro.njk" import hmrcCaseworkerBanner -%}

{% set html %}
  <ul class="govuk-list govuk-list--bullet">
    <li>mae balans y cyfrif sydd wedi’i ddangos ar y dudalen hon yn wybodaeth o dan gyfyngiadau, peidiwch â’i ddatgelu i’r galwyr</li>
    <li><a class="govuk-link caseworker-guidance-banner__link" rel="noopener noreferrer" href="https://www.gov.uk/government/organisations/hm-revenue-customs" target="_blank">Arweiniad Rheoli Dyledion (yn agor tab newydd)</a></li>
  </ul>
{% endset %}

{{ hmrcCaseworkerBanner({
  language: "cy",
  html: html
}) }}

