---
layout: layout-example.njk
---

{% from "govuk/components/input/macro.njk" import govukInput %}
{{ govukInput({
  label: {
    text: "Postcode"
  },
  classes: "govuk-input--width-10",
  id: "postcode",
  name: "postcode",
  errorMessage: {
    text: "Enter postcode in correct format"
  },
  autocomplete: "postal-code"
}) }}