---
layout: layout-example.njk
---

<p class="govuk-error-message">
    <span class="govuk-visually-hidden">Error:</span>
    Mae’n rhaid i’r cod post dim ond cynnwys y llythrennau a i z, y rhifau 0 i 9 a bylchau
</p>