---
layout: layout-example.njk
---

{% from "govuk/components/input/macro.njk" import govukInput %}

{{ govukInput({
  label: {
    text: "Cod post"
  },
  classes: "govuk-input--width-10",
  id: "postcode",
  name: "postcode",
  errorMessage: {
    text: "Mae’n rhaid i’r cod post dim ond cynnwys y llythrennau a i z, y rhifau 0 i 9 a bylchau"
  },
  autocomplete: "postal-code"
}) }}