---
title: Add to a list
layout: twoColumnPage.njk
---
{% from "_example.njk" import example %}

{% block content %}

<p class="govuk-body">This pattern lets the user add information with more than one item to a list.</p>

<h2 class="govuk-heading-l" id="when-to-use">When to use</h2>

<p class="govuk-body">Use this pattern when the user needs to add information with more than one item to a list. For example, when they need to enter more than one address or more than one person’s details.</p>

<h2 class="govuk-heading-l" id="when-not-to-use">When not to use</h2>

<p class="govuk-body">Do not use this pattern when the user needs to add different kinds of information that do not relate to each other.</p>

<h2 class="govuk-heading-l" id="how-it-works">​How it works</h2>

<p class="govuk-body">Allow the user to:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>view a summary of what they have added to the list</li>
  <li>add things to the list</li>
  <li><a class="govuk-link" href="https://www.gov.uk/service-manual/design/check-your-answers-pages">check their answers</a></li>
  <li>change things on the list</li>
  <li>remove things from the list</li>
</ul>

<div class="govuk-inset-text">
  You need HMRC Frontend to use this pattern – <a href="/hmrc-design-patterns/install-hmrc-frontend-in-your-prototype/">find out how to install HMRC Frontend</a>. If you use the HMRC Nunjucks macro, you must copy and paste the entire macro in to your code.
</div>

<h3 class="govuk-heading-m" id="view-a-summary">View a summary of what they have added to the list</h3>

{{
  example({
    item: 'add-to-a-list',
    example: 'view-a-summary',
    description: 'View list summary'
  })
}}

<h3 class="govuk-heading-m" id="add-things-to-the-list">Add things to the list</h3>

{{
  example({
    item: 'add-to-a-list',
    example: 'add-to-summary',
    description: 'View list summary after addition'
  })
}}

<h3 class="govuk-heading-m" id="check-answers">Check their answers</h3>

{{
  example({
    item: 'add-to-a-list',
    example: 'check-answers',
    description: 'Check answers'
  })
}}

<h3 class="govuk-heading-m" id="change-something-on-the-list">Change things on the list</h3>

<p class="govuk-body">Show all the information about the entry and let the user make a change.</p>

{{
  example({
    item: 'add-to-a-list',
    example: 'change-list',
    description: 'Change list'
  })
}}

<h3 class="govuk-heading-m" id="remove-something-from-the-list">Remove things from the list</h3>

<p class="govuk-body">Ask the user to confirm they want to remove something from the list.</p>

{{
  example({
    item: 'add-to-a-list',
    example: 'remove-from-list',
    description: 'Remove from list'
  })
}}

<h2 class="govuk-heading-l" id="research">Research</h2>

<p class="govuk-body">We need more research. If you have used add to a list, get in touch to share your research findings.</p>

<p class="govuk-body"><a class="govuk-link" href="https://github.com/hmrc/design-patterns/issues/31">Discuss add to a list on GitHub</a></p>

{% endblock %}
