---
layout: layout-example.njk
---

<h1 class="govuk-heading-l">Nid yw'r manylion a nodwyd gennych yn cyd-fynd â'n cofnodion</h1>
<p class="govuk-body">Nid oedd modd i ni baru’r manylion a nodwyd gennych â chofnodion a gedwir gan CThEM.</p>
<p class="govuk-body">Os gwnaethoch ddefnyddio’r manylion anghywir, <a class="govuk-link" href="#">gallwch roi cynnig arall arni gan ddefnyddio manylion gwahanol</a>.</p>
