---
layout: twoColumnPage.njk
---

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/tag/macro.njk" import govukTag %}

{% extends "layouts/main.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Upload receipt</h1>

    <div id="file-upload-1-hint" class="govuk-hint">
        You can upload your receipt as a scanned copy or photo of the original. The selected file must be smaller than 100MB.
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {{ govukSummaryList({
          rows: [
            {
              key: {
                text: "receipt1.jpg"
              },
              value: {
                text: govukTag({ text: "uploading", classes: "govuk-tag--yellow" })
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Remove",
                    visuallyHiddenText: "receipt1.jpg"
                  }
                ]
              }
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </div>
    </div>
  </div>
</div>

{% endblock %}

