---
layout: layout-example.njk
---

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/tag/macro.njk" import govukTag %}

{% block content %}

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

  <h1 class="govuk-heading-xl">Upload receipt</h1>

  <div id="file-upload-1-hint" class="govuk-hint">
      You can upload your receipt as a scanned copy or photo of the original. The selected file must be smaller than 100MB.
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Upload receipts</h1>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <div id="file-upload-1-hint" class="govuk-hint">
              You can upload your receipt as a scanned copy or photo of the original. The selected file must be smaller than 100MB.
          </div>

          {{ govukButton({
            text: "Upload another receipt",
            classes: "govuk-button--secondary"
          }) }}

          {{ govukSummaryList({
            classes: 'govuk-summary-list--long-key',
            rows: [
              {
                key: {
                  text: "receipt2.jpg"
                },
                value: {
                  text: govukTag({ text: "uploading", classes: "govuk-tag--yellow" })
                },
                actions: {
                  items: [
                    {
                      href: "#",
                      text: "Remove",
                      visuallyHiddenText: "receipt1.jpg"
                    }
                  ]
                }
              },
              {
                key: {
                  html: '<a class="govuk-link" href="#">receipt1.jpg</a>'
                },
                value: {
                  text: govukTag({ text: "uploaded", classes: "govuk-tag--green" })
                },
                actions: {
                  items: [
                    {
                      href: "#",
                      text: "Remove",
                      visuallyHiddenText: "receipt1.jpg"
                    }
                  ]
                }
              }
            ]
          }) }}

          {{ govukButton({
            text: "Continue"
          }) }}
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

