---
layout: layout-example.njk
---

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukRadios({
        classes: "govuk-radios",
        idPrefix: "want-to-register",
        name: "want-to-register",
        hint: {
          text: "You can repeat this step to add more types of documents to your claim."
        },
        fieldset: {
          legend: {
            text: "Add supporting documents to your claim",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "declaration",
            text: "Declaration"
          },
          {
            value: "invoice",
            text: "Invoice"
          },
          {
            value: "receipt",
            text: "Receipt"
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}
    </div>
  </div>
</div>

{% endblock %}

