---
title: Anti-Dumping Duty measures
layout: twoColumnPage.njk
---

<h2 class="govuk-heading-l">Document type</h2>

<p class="govuk-body">Publication guidance - stub page and HTML attachment.</p>

<h2 class="govuk-heading-l">Collection type</h2>

<p class="govuk-body">
  Add the page to the
  <a href="https://www.gov.uk/government/collections/anti-dumping-duty-measures" class="govuk-link">
    Anti-Dumping Duty measures collection
  </a> page.
</p>

<h2 class="govuk-heading-l">How it works</h2>

<h3 class="govuk-heading-m">Stub page</h3>

<h4 class="govuk-heading-s">Title</h4>

<p class="govuk-body">Describe the measure and include the reference type and number in brackets.</p>

<p class="govuk-body">For example, ‘Hand pallet trucks imported from China (Anti-Dumping Duty 2221)’.</p>

<h4 class="govuk-heading-s">Summary</h4>

<p class="govuk-body">Provide a short description of what the attached document is about.</p>

<p class="govuk-body">
  For example, ‘Changes to the duty codes for trucks with a weight indicative system, originating in the
  People’s Republic of China’.
</p>

<h4 class="govuk-heading-s">Details</h4>

<p class="govuk-body">Enter this text:</p>

<pre class="language-example-code">
  Anti-Dumping Duty is an Import Duty charged in addition to normal Customs Duty and is applied across
  the whole EU. It is designed to allow the EU to take action against goods that are sold at less than their
  normal value - that being defined as the price for ‘like goods’ sold in the exporter’s home market.
</pre>


<h3 class="govuk-heading-m">HTML attachment</h3>

<h4 class="govuk-heading-s">Title</h4>

<p class="govuk-body">Describe the measure and include the reference type and number in brackets.</p>

<p class="govuk-body">For example, ‘Hand pallet trucks imported from China (Anti-Dumping Duty 2221)’.</p>

<h4 class="govuk-heading-s">Body text</h4>

<p class="govuk-body">Enter the contents of the Anti-Dumping Duty measure.</p>

<h2 class="govuk-heading-l">If you need to change this pattern</h2>

<p class="govuk-body">You should send a request to the Editorial Board if you need to change this pattern.</p>
