---
title: Anti-Dumping Duty measures
layout: twoColumnPage.njk
---

<h2 class="govuk-heading-l">Document type</h2>
<!-- testing signing -->
<p class="govuk-body">Publication guidance - stub page and HTML attachment.</p>

<h2 class="govuk-heading-l">When to use</h2>

<p class="govuk-body">Use this pattern to tell users about a change in import or export procedures.</p>

<h2 class="govuk-heading-l">How it works</h2>

<p class="govuk-body">You do not need to mention 'import' or 'export' unless really necessary, as anti-dumping duty only apply to imports into the UK and EU.</p>

<h3 class="govuk-heading-m">Stub page</h3>

<h4 class="govuk-heading-s">Title</h4>

<p class="govuk-body">Description (only include the object or item and where it’s imported from or describe what the measure is about and the measure number in brackets at the end).</p>

<p class="govuk-body">Check the anti-dumping duty measures collection to make sure your title has not already been used in a recent measure.</p>

<p class="govuk-body">Examples of good titles:</p>

<ul class="govuk-list govuk-list--bullet">
<li>Hand pallet trucks imported from China (anti-dumping duty xxxx)</li>
<li>Name change of a company that exports ceramic tableware and kitchenware from China (anti-dumping duty xxxx)</li>
</ul>

<h4 class="govuk-heading-s">Summary</h4>

<p class="govuk-body">Provide a short description of what the attached document is about.</p>

<p class="govuk-body">Do not start your summary with 'Find out'.</p>

<p class="govuk-body">
  For example, ‘Changes to the duty codes for trucks with a weight indicative system, originating in the
  People’s Republic of China’.
</p>

<h4 class="govuk-heading-s">Details</h4>

<p class="govuk-body">Enter this text:</p>

<pre class="language-example-code">
  Anti-Dumping Duty is an Import Duty charged in addition to normal Customs Duty and is applied across
  the whole EU. It is designed to allow the EU to take action against goods that are sold at less than their
  normal value - that being defined as the price for ‘like goods’ sold in the exporter’s home market.
</pre>

<h3 class="govuk-heading-m">HTML attachment</h3>

<p class="govuk-body">Although measures contain technical information you should be able to get a general understanding about what they are for - go back to the SME if you think a measure does not make sense or is unclear.</p>

<p class="govuk-body">Check any hyperlinks in the business draft. Contact the SME to get correct details if any links:</p>

<ul class="govuk-list govuk-list--bullet">
<li>point to the <a href="https://eur-lex.europa.eu/homepage.html" class="govuk-link">home page of the EurLex website</a>, rather than the page containing the relevant legislation</li>
<li>go directly to a PDF (or other file), rather than the webpage that houses it</li>
</ul>

<h4 class="govuk-heading-s">Title</h4>

<p class="govuk-body">Describe the measure and include the reference type and number in brackets.</p>

<p class="govuk-body">For example, ‘Hand pallet trucks imported from China (Anti-Dumping Duty 2221)’.</p>

<h4 class="govuk-heading-s">Body text</h4>

<p class="govuk-body">Enter the contents of the Anti-Dumping Duty measure.</p>

<h3 class="govuk-heading-m">Tagging and collection page</h3>

<p class="govuk-body">Make sure you:</p>
<ul class="govuk-list govuk-list--bullet">
<li>add the appropriate associations and specialist sector tags</li>
<li>add the new measure to the <a href="https://eur03.safelinks.protection.outlook.com/?url=https%3A%2F%2Fwww.gov.uk%2Fgovernment%2Fcollections%2Fanti-dumping-duty-measures&data=04%7C01%7Cdaniela.salvini%40hmrc.gov.uk%7C8caf0b75baf746fc940308d88a364a2a%7Cac52f73cfd1a4a9a8e7a4a248f3139e1%7C0%7C0%7C637411313057702957%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6Ik1haWwiLCJXVCI6Mn0%3D%7C1000&sdata=XwxvROvDxGpSBfcF97f%2FjnBb5AZQO1AwndLftZwVRyA%3D&reserved=0" class="govuk-link">anti-dumping duty measures</a> document collection - do not create a public change note</li>
</ul>

<p class="govuk-body">Remember to save both the HTML attachment and the document.</p>

<h2 class="govuk-heading-l">If you need to change this pattern</h2>

<p class="govuk-body">You should send a request to the Editorial Board if you need to change this pattern.</p>
