---
layout: layout-example.njk
---
{% from "hmrc/components/page-heading/macro.njk"  import hmrcPageHeading %}

{{ hmrcPageHeading({
  text: 'Documents'
}) }}

{#Temporary solution#}

<div class="attachment">
<div class="attachment-thumb">
      <a aria-hidden="true" class="thumbnail" tabindex="-1" style="display: block; max-width: 100%; float: left; padding-right: 30px;" href="https://www.tax.service.gov.uk/digital-forms/form/claim-tax-back-when-you-have-stopped-working/draft/guide"><img alt="" src="https://www.gov.uk/assets/whitehall/pub-cover-a380604bb953dc22ac9dcfbf3cc65598327f493c37b09ac497c45148cbaa21b1.png"></a>
  </div>
<div class="attachment-details">
    <h3 class="govuk-heading-m"><a rel="external" href="https://www.tax.service.gov.uk/digital-forms/form/claim-tax-back-when-you-have-stopped-working/draft/guide">Claim online (sign in using Government Gateway)</a></h2>
    <p class="metadata" style="    text-size-adjust: 100%;
    color: #0b0c0c;
    font-family: GDS Transport,arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.25;
    margin-top: 0;
    margin-bottom: 15px;
    max-width: 38em;">
        <span class="url">https://www.tax.service.gov.uk/digital-forms/form/claim-tax-back-when-you-have-stopped-working/draft/guide</span>
    </p>


  </div>
  </div>
