---
layout: layout-example.njk
---
{%- from "hmrc/components/notification-badge/macro.njk" import hmrcNotificationBadge -%}

<a class="govuk-service-navigation__link" href="#">Negeseuon {{ hmrcNotificationBadge() }}</a>
