---
layout: layout-example.njk
---
<div class="caseworker-guidance-banner" data-module="caseworker-guidance-banner">
  <div class="caseworker-guidance-banner__container govuk-width-container">
    <div class="caseworker-guidance-banner__text">
      <h2 class="govuk-heading-s caseworker-guidance-banner__title">
        Caseworker guidance
      </h2>
      Use HMRC records to complete this page. Do not request this information from the user.
    </div>
  </div>
</div>