---
layout: layout-example.njk
---
{%- from "hmrc/components/caseworker-banner/macro.njk" import hmrcCaseworkerBanner -%}

{{ hmrcCaseworkerBanner({
  text: "Use HMRC records to complete this page. Do not request this information from the user."
}) }}

