---
layout: layout-example.njk
---
<div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" style="border-color: #0b0c0c; background-color: #0b0c0c;">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">Caseworker guidance</h2>
  </div>
  <div class="govuk-notification-banner__content">
    Use HMRC records to complete this page. Do not request this information from the user.
  </div>
</div>
