{% from "_copyContents.njk" import copyContents %}

{% macro codeSnippet(params) %}
  {% if params.code %}
    <div class="app-code-snippet{%if params.canCopy%} app-code-snippet--copy{% endif %}">
      {% if params.canCopy %}
        {{ copyContents() }}
      {% endif %}
      <pre><code class="govuk-body-s">
        {%- if params.isSafe -%}
          {{- params.code | safe -}}
        {%- else -%}
          {{- params.code -}}
        {%- endif -%}
      </code></pre>
    </div>
  {% endif %}
{% endmacro %}
