{% macro copyContents(params) %}
  <div class="app-link--copy__container">
    <a class="govuk-link app-link--copy" href="#copy" aria-live="assertive" data-module="copy-to-clipboard">
      {{- params.text or 'Copy' -}}
    </a>
  </div>
{% endmacro %}
