{% macro research(issue) %}
  <h2 id="research" class="govuk-heading-l">Research</h2>
  <p class="govuk-body">We need more research. If you have used the account header, get in touch to share your research findings.</p>
  <p class="govuk-body"><a class="govuk-link" href="https://github.com/hmrc/design-patterns/issues/{{issue}}">Discuss the account header on GitHub</a></p>
{% endmacro %}
