{% macro subNav(params) %}
  {% set pageSection = params.section %}
  {% set navigation = params.navigation[pageSection] %}
  {% set indexPageLink = '/' ~ pageSection ~ '/' %}
  {% set filepath = params.filepath %}

  <div class="app-subnav-toggle" data-module="subnav-toggle">
    <label for="app-subnav-toggle" class="app-subnav-toggle__label">Menu</label>
  </div>
  <input type="checkbox" id="app-subnav-toggle">

  <nav class="app-pane__subnav">

    <h2 class="govuk-heading-m">
      {% set isRoot = '/' ~ filepath === indexPageLink %}
      {%- if not isRoot -%}<a href="{{ indexPageLink }}">{%- endif -%}
        {{ params.indexPageTitle}}
      {%- if not isRoot -%}</a>{%- endif -%}
    </h2>

    <div class="app-subnav">

      <ul class="app-subnav__section">
        {%- for item in navigation -%}
          {%- set isActive = item.filepath ~ '/' === filepath -%}

          {%- if item.placement === 'primary' -%}
            <li class="app-subnav__section-item{%if isActive%} app-subnav__section-item--current{% endif %}">
              <a class="app-subnav__link govuk-link" href="/{{ item.href }}">
                {{item.text}}
              </a>
            </li>
          {%- endif -%}
        {%- endfor -%}
      </ul>

      <ul class="app-subnav__section">
      {%- for item in navigation -%}
        {%- set isActive = item.filepath ~ '/' === filepath -%}

        {%- if item.placement === 'secondary' -%}
          <li class="app-subnav__section-item{%if isActive%} app-subnav__section-item--current{% endif %}">
            <a class="app-subnav__link govuk-link" href="/{{ item.href }}">
              {{item.text}}
            </a>
          </li>
        {%- endif -%}
      {%- endfor -%}
      </ul>
    </div>
  </nav>
{% endmacro %}
