{% from "hmrc/components/internal-header/macro.njk"  import hmrcInternalHeader %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{% set navigationItems = [] %}

{% for section in navigation %}
  {% set isActive = filepath.startsWith(section.href) %}
  {% set isCurrent = filepath === section.href ~ "/" %}
  {% set subsection = '' %}

  {% if section.items and isActive %}
    {% set subsection %}
      {% for placement, items in section.items | groupby("placement") %}
        {% if placement === 'primary' %}
          <h3>Primary</h3>
        {% elif placement === 'secondary' %}
          <h3>Secondary</h3>
        {% endif %}

        <ul>
          {% for topic, items in items | groupby("topic") %}
            {% if topic !== 'none' %}
              <h3>{{ topic }}</h3>
            {% endif %}

            {% for item in items %}
              <li><a href="/{{item.href}}/">{{item.text}}</a></li>
            {% endfor %}
          {% endfor %}
        </ul>
      {% endfor %}
    {% endset %}
  {% endif %}

  {% set navigationItems = (navigationItems.push({
    href: ("/" ~ section.href ~ "/") if not isActive,
    html: section.text ~ (subsection if isActive),
    active: isActive,
    current: isCurrent
  }), navigationItems) %}
{% endfor %}

{{ hmrcInternalHeader({
  homepageUrl: 'https://www.gov.uk/government/organisations/hm-revenue-customs',
  serviceName: 'Design resources',
  serviceUrl: '/'
}) }}

{{ govukServiceNavigation({
  serviceName: serviceName,
  serviceUrl: "/",
  navigation: navigationItems
}) }}

