{% from "hmrc/components/internal-header/macro.njk"  import hmrcInternalHeader %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{% set sections = {
  'hmrc-design-patterns': { "text": "Patterns for services", "href": "hmrc-design-patterns" },
  'govuk-patterns': { "text": "Patterns for GOV.UK", "href": "patterns-hmrc-govuk-team" },
  'style-guide': { "text": "Style guide", "href": "hmrc-content-style-guide" },
  'guidance-for-designers': { "text": "Guidance for designers", "href": "guidance-for-designers" }
} %}

{% set listHTML = '<ul><li><a href="#">Item 1</a></li><li><a href="#">Item 2</a></li><li><a href="#">Item 3</a></li></ul>' %}

    {# href: "/" ~ sections['hmrc-design-patterns']['href'] ~ "/", #}

{% set navigationItems = [] %}

{% for section, item in navigationItems %}
  {% set isActive = filepath.startsWith(item.href) %}
  {% set isCurrent = filepath === item.href ~ "/" %}

  {% set navigationItems= (navigationItems.push({
    href: ("/" ~ item.href ~ "/") if not isActive,
    text: item.text,
    active: isActive,
    current: isCurrent 
  }), navigationItems) %}
{% endfor %}

{{ hmrcInternalHeader({
  homepageUrl: 'https://www.gov.uk/government/organisations/hm-revenue-customs',
  serviceName: 'Design resources',
  serviceUrl: '/'
}) }}

{{ govukServiceNavigation({
  serviceName: serviceName,
  serviceUrl: "/",
  navigation: navigationItems
}) }}

