{% macro hmrcFrontendInfo() %}
  <div class="govuk-inset-text">
    You need HMRC Frontend to use this pattern — <a class="govuk-link" href="/hmrc-design-patterns/install-hmrc-frontend-in-your-prototype/">find out how to install HMRC Frontend</a>. If you use the HMRC Nunjucks macro, you must copy and paste the entire macro into your code.
  </div>
{% endmacro %}
