<div class="hmrc-masthead">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters-from-desktop">
        <h1 class="govuk-heading-xl hmrc-masthead__title">Design your service</h1>
        <p class="hmrc-masthead__description">Use these design resources to make your service and guidance consistent with HMRC and GOV.UK. Learn from the experience of other teams to avoid repeating work and share your knowledge by suggesting new content.</p>
        </p>
        {% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
  text: "Start now",
  href: "http://localhost:3000/Get%20started/",
 classes: "govuk-button--inverse"
}) }}
      </div>
    </div>
  </div>
</div>
