<div class="hmrc-masthead">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">
        <h1 class="hmrc-masthead__title">Start using the HMRC <br>Design Resources</h1>
        <p class="hmrc-masthead__description">Use these design resources to make HMRC services consistent with GOV.UK. Employ GOV.UK and HMRC-specific patterns to save time and avoid designing things that already exist.</p>
      </div>
      <div class="govuk-grid-column-one-third-from-desktop">
      </div>
    </div>
  </div>
</div>