<div class="whats-new">
  <h2 id="whats-new" class="govuk-heading-m">What’s new</h2>

  <ul class="govuk-list govuk-list--bullet">
  <li>11 May 2026: <a href="/hmrc-design-patterns/welsh-language-toggle/" class="govuk-link">Welsh language toggle</a> updated (<a href="https://github.com/hmrc/design-system/pull/1150" class="govuk-link">changes</a>)</li>
  <li>28 April 2026: <a href="/patterns-hmrc-govuk-team/pay-for-a-tax-duty-levy-or-grant/" class="govuk-link">Pay for a tax, duty, levy or grant</a> updated (<a href="https://github.com/hmrc/design-system/pull/1142/changes" class="govuk-link">changes</a>)</li>
  <li>27 April 2026: <a href="/patterns-hmrc-govuk-team/forms-detailed-guide/" class="govuk-link">Forms: in a detailed guide</a> updated (<a href="https://github.com/hmrc/design-system/pull/1143/changes" class="govuk-link">changes</a>)</li>
</ul>

  <p class="govuk-body">
    <a href="https://github.com/hmrc/design-system/pulls?q=is%3Apr" class="govuk-link">Check all updates to HMRC design resources</a>
  </p>

  <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--xl" aria-hidden="true">
</div>
