<div class="whats-new">
  <h3 id="whats-new" class="govuk-heading-m">What’s new</h3>

  <ul class="govuk-list govuk-list--bullet">
  <li>13 June 2024: <a href="/hmrc-design-patterns/unique-taxpayer-reference/" class="govuk-link">UTR</a> updated: (<a href="https://github.com/hmrc/design-system/pull/845/files" class="govuk-link">changes to UTR pattern</a>)</li>
  <li>11 March 2024: New pattern for <a href="/patterns-hmrc-govuk-team/freeport-maps/" class="govuk-link">Freeport maps</a></li>
  <li>5 March 2024: <a href="/patterns-hmrc-govuk-team/tax-treaties/" class="govuk-link">Tax treaties</a> updated</li>
</ul>
  <p class="govuk-body">
    <a href="https://github.com/hmrc/design-system/pulls?q=is%3Apr" class="govuk-link">Check all updates to HMRC design resources</a>
  </p>

  <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--xl" aria-hidden="true">
</div>
