<div class="whats-new">
  <h2 id="whats-new" class="govuk-heading-m">What’s new</h2>

  <ul class="govuk-list govuk-list--bullet">
  <li>14 October 2025: <a href="/hmrc-design-patterns/addresses/" class="govuk-link">Addresses</a> updated (<a href="https://github.com/hmrc/design-system/pull/1048" class="govuk-link">changes</a>)</li>
  <li>8 October 2025: <a href="/patterns-hmrc-govuk-team/hmrc-email-updates-videos-webinars-community-forums/" class="govuk-link">HMRC email updates, videos and webinars</a> updated (<a href="https://github.com/hmrc/design-system/pull/1041/files" class="govuk-link">changes</a>)</li>
  <li>15 September 2025: <a href="/patterns-hmrc-govuk-team/forms-publication/" class="govuk-link">Forms: in a publication</a> updated (<a href="https://github.com/hmrc/design-system/pull/1028/files" class="govuk-link">changes</a>)</li>
  
</ul>
  <p class="govuk-body">
    <a href="https://github.com/hmrc/design-system/pulls?q=is%3Apr" class="govuk-link">Check all updates to HMRC design resources</a>
  </p>

  <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--xl" aria-hidden="true">
</div>
