---
title: Insolvency practitioner bulletins
menuText: Insolvency practitioner bulletins
layout: twoColumnPage.njk
---

{% from "_codeSnippet.njk" import codeSnippet %}

<h2 class="govuk-heading-l">When to use</h2>

<p class="govuk-body">Use this pattern when creating or amending insolvency practitioner bulletins.</p>

<h2 class="govuk-heading-l">How to design using this pattern</h2>

<h3 class="govuk-heading-m">Document type</h3>

<p class="govuk-body">Publication: guidance (with an HTML attachment)</p>

<h3 class="govuk-heading-m">Publication</h3>

<h4 class="govuk-heading-s">Title</h4>

{{
  codeSnippet({
    code: 'Insolvency practitioner bulletin [issue number] [(year)]: [title]',
    canCopy: true
  })
}}

<h4 class="govuk-heading-s">Summary</h4>

{{
  codeSnippet({
    code: 'This bulletin tells you about [give a brief summary of the content].',
    canCopy: true
  })
}}

<h4 class="govuk-heading-s">Body</h4>

<p class="govuk-body">Read the document and summarise the content to create the body text under the ‘Details’ section.</p>

{{
  codeSnippet({
    code: 'This bulletin explains: [then summarise the content using a bulleted list]\n\n* ',
    canCopy: true
  })
}}

<h3 class="govuk-heading-m">HTML attachment</h3>

<h4 class="govuk-heading-s">Title</h4>

{{
  codeSnippet({
    code: '[title] — Insolvency practitioner bulletin [issue number] [(year)]',
    canCopy: true
  })
}}

<h4 class="govuk-heading-s">Body</h4>
<p class="govuk-body">Enter the contents of the bulletin. Do not include numbers in section headings.</p>

<h3 class="govuk-heading-m">Collection</h3>

<p class="govuk-body">Add the URL of any new page to the relevant year of the <a href="https://www.gov.uk/government/collections/hmrc-insolvency-practitioner-bulletins" class="govuk-link">HMRC insolvency practitioner bulletin collection</a>. Do not create a public change note.</p>

