---
layout: layout-example.njk
---
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/tag/macro.njk" import govukTag %}
{% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{{ govukErrorSummary({
  titleText: "There is a problem",
  errorList: [
    {
      text: "Select a file",
      href: "#select-error"
    },
    {
      text: "The selected file is empty",
      href: "#empty-error"
    },
    {
      text: "The selected file must be smaller than 100MB",
      href: "#smaller-error"
    },
    {
      text: "The selected file has already been uploaded",
      href: "#already-error"
    },
    {
      text: "The selected file must be a JPG, PNG or PDF",
      href: "#type-error"
    },
    {
      text: "The selected file contains a virus — upload a different one",
      href: "#virus-error"
    },
    {
      text: "The selected file could not be uploaded",
      href: "#could-not-error"
    },
    {
      text: "Select yes if you want to add a different type of supporting evidence",
      href: "#supporting-evidence-error"
    }
  ]
}) }}

<h1 class="govuk-heading-xl">Upload receipts</h1>

<div id="file-upload-1-hint" class="govuk-hint">
    You can upload your receipt as a scanned copy or photo of the original. The selected file must be smaller than 100MB.
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <table class="govuk-table">
      <colgroup>
        <col>
        <col span="2">
        <col span="1">
      </colgroup>

      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a class="govuk-link" href="#"><strong>receipt1.jpg</strong></a></td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">uploaded</strong></td>
          <td class="govuk-table__cell govuk-!-text-align-right"><a class="govuk-link" href="#">Remove</a></td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell" colspan="2">
            {{ govukFileUpload({
              id: "select-error",
              name: "select-error",
              errorMessage: {
                text: "Select a file"
              },
              label: {
                text: "Receipt 2",
                classes: "govuk-visually-hidden"
              }
            }) }}
          </td>
          <td class="govuk-table__cell govuk-!-text-align-right"><a class="govuk-link" href="#">Remove</a></td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell" colspan="2">
            {{ govukFileUpload({
              id: "empty-error",
              name: "empty-error",
              errorMessage: {
                text: "The selected file is empty"
              },
              label: {
                text: "Receipt 3",
                classes: "govuk-visually-hidden"
              }
            }) }}
          </td>
          <td class="govuk-table__cell govuk-!-text-align-right"><a class="govuk-link" href="#">Remove</a></td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell" colspan="2">
            {{ govukFileUpload({
              id: "smaller-error",
              name: "smaller-error",
              errorMessage: {
                text: "The selected file must be smaller than 100MB"
              },
              label: {
                text: "Receipt 4",
                classes: "govuk-visually-hidden"
              }
            }) }}
          </td>
          <td class="govuk-table__cell govuk-!-text-align-right"><a class="govuk-link" href="#">Remove</a></td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell" colspan="2">
            {{ govukFileUpload({
              id: "already-error",
              name: "already-error",
              errorMessage: {
                text: "The selected file has already been uploaded"
              },
              label: {
                text: "Receipt 5",
                classes: "govuk-visually-hidden"
              }
            }) }}
          </td>
          <td class="govuk-table__cell govuk-!-text-align-right"><a class="govuk-link" href="#">Remove</a></td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell" colspan="2">
            {{ govukFileUpload({
              id: "type-error",
              name: "type-error",
              errorMessage: {
                text: "The selected file must be a JPG, PNG or PDF"
              },
              label: {
                text: "Receipt 6",
                classes: "govuk-visually-hidden"
              }
            }) }}
          </td>
          <td class="govuk-table__cell govuk-!-text-align-right"><a class="govuk-link" href="#">Remove</a></td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell" colspan="2">
            {{ govukFileUpload({
              id: "virus-error",
              name: "virus-error",
              errorMessage: {
                text: "The selected file contains a virus — upload a different one"
              },
              label: {
                text: "Receipt 7",
                classes: "govuk-visually-hidden"
              }
            }) }}
          </td>
          <td class="govuk-table__cell govuk-!-text-align-right"><a class="govuk-link" href="#">Remove</a></td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell" colspan="2">
            {{ govukFileUpload({
              id: "could-not-error",
              name: "could-not-error",
              errorMessage: {
                text: "The selected file could not be uploaded"
              },
              label: {
                text: "Receipt 8",
                classes: "govuk-visually-hidden"
              }
            }) }}
          </td>
          <td class="govuk-table__cell govuk-!-text-align-right"><a class="govuk-link" href="#">Remove</a></td>
        </tr>
      </tbody>
    </table>

    {{ govukButton({
      text: "Upload another receipt",
      classes: "govuk-button--secondary"
    }) }}

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    {{ govukRadios({
      name: "add-a-different-type-of-evidence",
      fieldset: {
        legend: {
          text: "Add a different type of supporting evidence to your claim?",
          classes: "govuk-fieldset__legend govuk-fieldset__legend--m"
        }
      },
      items: [
        {
          value: "yes",
          text: "Yes"
        },
        {
          value: "no",
          text: "No"
        }
      ],
      errorMessage: {
        text: "Select yes if you want to add a different type of supporting evidence"
      }
    }) }}

    {{ govukButton({
      text: "Continue"
    }) }}

  </div>
</div>
