---
layout: layout-example.njk
---
{% from "hmrc/components/page-heading/macro.njk"  import hmrcPageHeading %}

{{ hmrcPageHeading({
  text: 'We are unable to match your business'
}) }}

<p class="govuk-body">We have been unable to complete your request as the information submitted does not match the information
HMRC has stored about the business.</p>
<p class="govuk-body">If there have been any changes to your limited company in
the past 12 months, such as changes to your company name or registered address, you need to  <a class="govuk-link" href="https://www.gov.uk/file-changes-to-a-company-with-companies-house">contact Companies House (opens in new tab). </a>
You may also need to <a class="govuk-link" href="https://www.gov.uk/tell-hmrc-changed-business-details">contact HMRC</a>.</p>

<p class="govuk-body">You can <a class="govuk-link" href="#">restart the process</a> to make any relevant changes.</p>
