---
layout: layout-example.njk
---
{%- from "hmrc/components/caseworker-banner/macro.njk" import hmrcCaseworkerBanner -%}

{{ hmrcCaseworkerBanner({
  language: "cy",
  text: "Mae balans y cyfrif sydd wedi’i ddangos ar y dudalen hon yn wybodaeth o dan gyfyngiadau. Peidiwch â’i ddatgelu i’r galwyr."
}) }}

