---
title: HMRC Design Patterns archive
menuText: HMRC Design Patterns archive
navigationPlacement: secondary
layout: twoColumnPage.njk
---

{% block content %}

<p class="govuk-body">HMRC patterns are archived when:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>GDS updates the GOV.UK Design System to include similar guidance</li>
  <li>GDS includes the pattern in the GOV.UK Design System</li>
  <li>we do not recommend you use the pattern</li>
</ul>

<hr aria-hidden="true" class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<h2 class="govuk-heading-m"><a class="govuk-link" href="/hmrc-design-patterns/status-tags-in-task-list-pages/">Status tags in Task list pages</a></h2>
<p class="govuk-body">This pattern was archived on 29 December 2023.</p>
<p class="govuk-body">Supplemental HMRC guidance became unnecessary after improvements to the GDS <a class="govuk-link" href="https://design-system.service.gov.uk/patterns/complete-multiple-tasks/">Complete multiple tasks</a> pattern.</p>

<h2 class="govuk-heading-m"><a class="govuk-link" href="/hmrc-design-patterns/hmrc-design-patterns-archive/page-heading/">Page heading</a></h2>
<p class="govuk-body">This pattern was replaced by <a class="govuk-link" href="/hmrc-design-patterns/page-heading">a new page heading pattern</a>.</p>
<p class="govuk-body">This was because the pattern did not work in all cases, like headings as labels and legends.</p>

<h2 class="govuk-heading-m">Open links in a new window or tab</h2>
<p class="govuk-body">This pattern was archived on 5 October 2020.</p>
<p class="govuk-body">HMRC removed this guidance because GDS updated its guidance on this style in the GOV.UK Design System.</p>
<p class="govuk-body">Read about <a class="govuk-link" href="https://design-system.service.gov.uk/styles/typography/#opening-links-in-a-new-tab">how to style links that open in a new tab in the GOV.UK Design System</a>.</p>

{% endblock %}
