---
title: Archived patterns
menuText: Archived patterns
navigationPlacement: secondary
layout: twoColumnPage.njk
---

{% block content %}

<p class="govuk-body">Patterns in the HMRC design system maybe archived where:</p>

<ul class="govuk-list govuk-list--bullet">
<li> similar guidance is published in the GOV.UK design system </li>
<li> the pattern is upstreamed and published in the GOV.UK design system </li>
<li> the pattern or guidance has been deprecated  </li>

</ul>




<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">


<h3 class="govuk-heading-m">Open links in a new window or tab</h2>

<p class="govuk-body"> The pattern was archived on the 5th of october 2020</p>

<p class="govuk-body">
The HMRC version of this pattern has been removed because GOV.UK has published an updated version of the pattern in the GOV.UK design system.

</p>

<p class="govuk-body">
<a class="govuk-link" href="https://design-system.service.gov.uk/styles/typography/#opening-links-in-a-new-tab">View the new guidance on opening links in a new tab</a>.
</p>



{% endblock %}
