---
layout: layout-example.njk
---

<h1 class="govuk-heading-xl">Your EORI number did not match any registered business</h1>

<p class="govuk-body">You searched for '<strong>GB123456123456</strong>'.</p>

<p class="govuk-body">Search completed on 10 January 2022 at 5:30pm (GMT).</p>

<p class="govuk-body"><a href="#" class="govuk-link">Check another EORI number</a></p>

<p class="govuk-body"><a href="#" class="govuk-link">Download this page (PDF)</a></p>

<p class="govuk-body"><a href="#" class="govuk-link">Print this page</a></p>

<p class="govuk-body"><a href="#" class="govuk-link">What did you think of this service?</a> (takes 30 seconds)</p>