---
layout: layout-example.njk
---

{%- from "hmrc/components/add-to-a-list/macro.njk" import hmrcAddToAList -%}

{{
  hmrcAddToAList({
    language: 'cy',
    itemList: [
      {
        name: 'Sydney Russell',
        changeUrl: '#',
        removeUrl: '#'
      },
      {
        name: 'Michael Cain',
        changeUrl: '#',
        removeUrl: '#'
      },
      {
        name: 'Jeremy Winter',
        changeUrl: '#',
        removeUrl: '#'
      }
    ],
    itemType: {
      singular: 'director',
      plural: 'directors',
      formAction: '#'
    },
    hintText: 'Mae’n rhaid i chi roi gwybod i ni am eich holl gyfarwyddwyr.'
  })
}}
