---
title: Service availability and service issues
layout: twoColumnPage.njk
---
{% from "_codeSnippet.njk" import codeSnippet %}

<h2 class="govuk-heading-l">How to design using this pattern</h2>

<h3 class="govuk-heading-m">Document type</h3>

<p class="govuk-body">Publication: guidance (with an HTML attachment)</p>

<h3 class="govuk-heading-m">Publication</h3>

<h4 class="govuk-heading-s">Title</h4>

<p class="govuk-body">The title should be ‘[Service name]: service availability and issues’.</p>

<p class="govuk-body">For example, ‘Corporation Tax: service availability and issues’.</p>

<h4 class="govuk-heading-s">Summary</h4>

<p class="govuk-body">The summary should be ‘Check the availability and any issues affecting the [service name] service.’</p>

<p class="govuk-body">For example, ‘Check the availability and any issues affecting the Corporation Tax online service.’</p>

<h4 class="govuk-heading-s">Body</h4>

<p class="govuk-body">The body text should say ‘Latest updates on the availability and any issues affecting the [service name] service.’</p>

<p class="govuk-body">For example, ‘Latest updates on the availability and any issues affecting the Corporation Tax online service.’</p>

<h3 class="govuk-heading-m">HTML attachment</h3>

<h4 class="govuk-heading-s">Title</h4>

<p class="govuk-body">Use a different title to what you have used for the landing page. The titles can be similar but cannot be exactly the same.</p>

<p class="govuk-body">For example, ‘Corporation Tax — service availability and issues’.</p>

<h4 class="govuk-heading-s">Body</h4>

{{
    codeSnippet({
      code: '## Service availability

Full service available.

Sign in to [insert service name] (add the url)

## Planned downtime

None.

## Service issues

None.

## Other services

Check [availability and issues](https://www.gov.uk/government/collections/hmrc-service-availability-and-issues) for other services.',
      canCopy: true
    })
  }}

<p class="govuk-body">Use a call to action box if there is planned downtime or service issues.</p>

<p class="govuk-body">Do not use ‘midnight’, use ‘11:59pm’,</p>

{{
    codeSnippet({
      code: '$CTA

Sunday 26 September 2021 11:59pm to 3am Monday 27 September 2021

$CTA

Due to scheduled maintenance, you will be unable to access our online service from 11:59pm on Sunday 26 September 2021 to 3am on Monday 27 April 2021.

We apologise for any inconvenience this may cause.',
      canCopy: true
    })
  }}

<p class="govuk-body">If the planned downtime does not span over multiple days, include the date once, followed by the times. For example:</p> 

{{
  codeSnippet({
    code: '$CTA

Tuesday 16 May 2023 8am to 6pm

$CTA

Due to scheduled maintenance, you will be unable to access our online service from 8am to 6pm on Tuesday 16 May 2023.

We apologise for any inconvenience this may cause.',
    canCopy: true
  })
}}

<h3 class="govuk-heading-m">Public change note</h3>

<h4 class="govuk-heading-s">Service availability</h4>

<p class="govuk-body">Examples:</p>
<ul class="govuk-list govuk-list--bullet">
<li> The agent services account is currently unavailable. Check the service availability page for updates. </li>
<li> This service will be unavailable from 8am to 6pm on Tuesday 16 May 2023. </li>
</ul>

<p class="govuk-body">No public change note is needed when removing a service availability message.</p>

<h4 class="govuk-heading-s">Planned downtime</h4>

<p class="govuk-body">Example: Planned downtime from 5pm on Friday 17 December 2021 to 9am Monday 20 December 2021 has been added.</p>

<p class="govuk-body">Example: Planned downtime from 8am to 6pm on Tuesday 16 May 2023 has been added.</p>

<p class="govuk-body">No public change note is needed when removing a planned downtime message.</p>

<h4 class="govuk-heading-s">Service issues</h4>

<p class="govuk-body">Example when you add an issue: A service issue about accessing the Making Tax Digital service has been added.</p>

<p class="govuk-body">Include a public change note when removing a service issues message, for example: The service issue about submitting Report of Receipt (ROR) messages to EMCS using the HMRC Portal has now been resolved.</p>

<h3 class="govuk-heading-m">Scheduled publication time</h3>

<p class="govuk-body">You only need to put in a scheduled publication time for the removal of a message, not for the addition.</p>

<h3 class="govuk-heading-m">Collection page</h3>

<p class="govuk-body">Add the URL of any new page to the <a href="https://www.gov.uk/government/collections/hm-revenue-and-customs-service-availability-and-issues" class="govuk-link">HMRC service availability and issues collection</a>. Do not create a public change note.
</p>
