---
layout: layout-example.njk
---

<h2 class="govuk-heading-l">Pay at your bank or building society</h2>

<p class="govuk-body">
You can make payment at your own branch, by cash or cheque.
</p>

<p class="govuk-body">
You must:
</p>

<ul class="govuk-list govuk-list--bullet">
<li>use the paying-in slip sent by HMRC</li>
<li>make your cheque payable to ‘HM Revenue and Customs only’ and write your 11-character payment reference number on the back</li>
</ul>

<p class="govuk-body">
If you pay from Monday to Friday HMRC will accept your payment on the date you make it, not the date it reaches their account.
</p>
