---
title: Start designing services at HMRC 
layout: oneColumnPage.njk
---
{% from "hmrc/components/page-heading/macro.njk"  import hmrcPageHeading %}

<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">

{{ hmrcPageHeading({
text: 'Start designing services at HMRC'
}) }}

<h2 class="govuk-heading-l" id="What-you-will-need">
What you will need
</h2>

<p class="govuk-body">
Designers need the right hardware, software and accounts to start designing HMRC services. Check that you have access to the following tools: 
</p>

<h3 class="govuk-heading-m" id="Hardware">
  Hardware
  </h3>

  <ul class="govuk-list govuk-list--bullet">
    <li>A computer that you have admin access to and can install software on</li>
    </ul>

<h3 class="govuk-heading-m" id="Software-systems-accounts">
  Software/systems/accounts
  </h3>

  <ul class="govuk-list govuk-list--bullet">
    <li>GOV.UK Prototype Toolkit</li>
    <li>A code editor such as Visual Studio (VS) Code</li>
    <li>Google Suite</li>
    <li>Pseudo PID + Office 365</li>
    <li>VPN access</li>
    <li>GitHub</li>
    </ul>

<p class="govuk-body">
If you need access to items on this list, speak to your manager/project lead, who will contact P&UCD Ops to set you up.
</p>

<h2 class="govuk-heading-l" id="Patterns-components-and-styles">
  Patterns, components and styles
</h2>

<p class="govuk-body">
All designs for HMRC services must follow <a href="https://www.gov.uk/guidance/government-design-principles" class="govuk-link">GOV.UK principles</a> and use <a href="https://design.tax.service.gov.uk/hmrc-design-patterns/" class="govuk-link">HMRC</a> and <a href="https://www.gov.uk/guidance/government-design-principles" class="govuk-link">GOV.UK</a>
design patterns, components and styles. 
</p>

<p class="govuk-body">
If a pattern exists in both HMRC and GOV.UK design libraries use the HMRC version, as it will have been created to meet specific needs and context within HMRC.
</p>

<p class="govuk-body">
Designers should use these libraries for internal services where possible. When prototyping services for internal users, or services not on GOV.UK, designers should follow the relevant brand and typography guidance for their platform. 
</p>

<h3 class="govuk-heading-m" id="Get-support">
  Get support
</h3>

<p class="govuk-body">
Designers can get support with HMRC-specific patterns from the HMRC Design Resources team on HMRC Slack at <a href="https://hmrcdigital.slack.com/archives/C014S77JCJW?name=C014S77JCJW#" class="govuk-link">#team-design-system</a>. Service patterns also have a link to the discussions on <a href="https://github.com/hmrc/design-patterns/issues" class="govuk-link">GitHub</a>.
</p>

<p class="govuk-body">
For wider government patterns and components, the GOV.UK Design System Team is available on cross-government Slack at <a href="https://hmrcdigital.slack.com/archives/C014S77JCJW?name=C014S77JCJW#">#team-design-system</a>.
</p>

<h3 class="govuk-heading-m" id="using-prototypes">
Using prototypes
</h3>

<p class="govuk-body">
At HMRC we use a mix of <a href="https://companieshouse.blog.gov.uk/2023/09/13/how-prototyping-helps-us-deliver-better-user-experiences/" class="govuk-link">high and low-fidelity prototypes</a> to explain and test our design ideas. 
</p>
    
<p class="govuk-body">
Prototypes usually get more detailed as the service progresses through <a href="https://www.gov.uk/service-manual/agile-delivery" class="govuk-link">delivery phases</a>. 
</p>
    
<p class="govuk-body">
Low-fidelity prototypes are typically used in discovery and alpha, with high-fidelity prototyping being more common from alpha to live.
</p>

<h2 class="govuk-heading-l" id="Low-fidelity-prototypes">
Low-fidelity prototypes
</h2>

<p class="govuk-body">
HMRC’s preferred approach is to design using low-fidelity prototypes in early project stages.
</p>
    
<p class="govuk-body">
Designers can use low-fidelity prototypes to explore ideas quickly and cheaply before creating ‘high-fidelity’ prototypes that look more like the final product. Low-fidelity prototypes should be used in addition to high-fidelity prototypes - not instead of them.
</p>
     
<p class="govuk-body">
Designers should help teams and stakeholders understand how low-fidelity prototypes help projects quickly and cheaply explore design ideas.
</p>

<h3 class="govuk-heading-m" id="Low-fidelity-prototyping-tools">
Low-fidelity prototyping tools
</h3>

<h3 class="govuk-heading-s" id="sketches">
Sketches
</h3>

<p class="govuk-body">
Sketched prototypes, using pen and paper, are the easiest way to start exploring design ideas.
</p>

<p class="govuk-body">
Sketches are cheap and easy to produce and can be discarded if they don’t meet your needs. This makes them perfect for the early stages of designing a service or product.
</p>

<h3 class="govuk-heading-s" id="google-suite">
Google Suite
</h3>

<p class="govuk-body">
Designers with access to Google Suite have a range of tools available for creating journey maps, flow diagrams, quick sketches, and forms. 
</p>

<h3 class="govuk-heading-s" id="mural">
Mural
</h3>

<p class="govuk-body">
Mural is available for use on HMRC devices and we recommend using it for creating flow diagrams, journey maps, sketching out design ideas and creating simple screens. 
</p>

<p class="govuk-body">
Full licences may not be available for every designer, please speak to the design leadership in your programme or P&UCD Ops to find out what is available for you.
</p>

<p class="govuk-body">
  Mural templates for low-fidelity prototyping:
  
  <ul class="govuk-list govuk-list--bullet">
    <li><a href="https://github.com/dashouse/govuk-design-system-flow-diagrams" class="govuk-link">Flow diagrams for GOV.UK services</a></li>
    <li><a href="https://github.com/clare-brown/govuk-designsystem-flow-diagram-mural" class="govuk-link">GOV.UK elements in Mural</a></li>
    </ul>
    </p>

<h2 class="govuk-heading-l" id="High-fidelity-prototypes">
 High-fidelity prototypes
 </h2>
 
 <p class="govuk-body">
 High-fidelity prototypes are detailed, coded prototypes that mimic the behaviour of ‘finished’ services. High-fidelity prototypes will help you to perform user testing and demonstrate the service to stakeholders.
 </p>
 
 <p class="govuk-body">
 HMRC’s preferred approach is to use the GOV.UK Prototype Kit. You will need a device, such as a MacBook, that isn’t managed by HMRC so you can install the necessary software. 
 </p>
 
 <p class="govuk-body">
 You can <a href="https://design-system.service.gov.uk/get-started/prototyping/">follow instructions</a> in the GOV.UK Design System to get the kit running on your unmanaged device.
 </p>
 
 <h3 class="govuk-heading-m" id="Prototype-support">
 Prototype support
 </h3>
 
 <p class="govuk-body">
 The GOV.UK Prototype Kit is used across governments and there is a significant amount of community support available if you get stuck or need help. 
 </p>
 
 <p class="govuk-body">
 Inside HMRC you can reach out in our #community-prototype Slack channel or speak to members of HMRC’s Design Resources Team. Support is also available on the cross-government Slack in the #govuk-prototype-kit channel.
 </p>
 
 <p class="govuk-body">
 You can also find out more in our prototyping club. We have a range of videos covering common tasks, like getting set up, routing and session data available on <a href="https://drive.google.com/drive/folders/1k9ZkMXE3WPpNsU126ekggSO5rWZ4MusK?usp=sharing/" class="govuk-link">Google Drive</a>.
 </p>
 
 <h3 class="govuk-heading-m" id="Hosting-and-sharing-prototypes">
 Hosting and sharing prototypes
 </h3>
 
 <p class="govuk-body">
 You will need a GitHub account, which you can create, and a digital HMRC login which can be set up for you by your team lead. Once you have set up your account you can use the 'automatic prototype creation tool'. 
 </p>

 <p class="govuk-body">
 If you are working on a new service or a new prototype follow the guidance on <a href="https://confluence.tools.tax.service.gov.uk/display/PROT/Creating+a+new+prototype+repository/" class="govuk-link">Confluence</a> to create a new prototype repository. If you are working on a service where a prototype already exists, speak to the senior interaction designer on your programme or reach out on HMRC Slack <a href="https://join.slack.com/share/enQtNzY0NjE3NjY5NDE4MS1lNDczNTQxODk5YzE4MDk0MGY5YTBkY2YwMDdiNWNmZDRhMDdkOGIxMDg3YjA0ZTg5OWUwYjZhMTNjNjFlNjc3" class="govuk-link">#community-prototype</a>.
 </p>
 
 <p class="govuk-body">
 You can use an existing GitHub account if you have one or you can create a new one. Full guidance on setting up your account and being added to the HMRC organisation is available in the <a href="https://docs.tax.service.gov.uk/mdtp-handbook/documentation/developer-set-up/join-hmrc-on-github.html" class="govuk-link">MDTP handbook</a>.
 </p> 
 
 <p class="govuk-body">
 Remember that a GitHub account is a public profile, linking you to HMRC.
 </p>
 
 <h2 class="govuk-heading-l" id="Other-tools-to-support-design-and-prototyping">
 Other tools to support design and prototyping
 </h2>
 
 <h3 class="govuk-heading-m" id="Prototype-support">
 Pattern Checker
 </h3>
 
 <p class="govuk-body">
 Pattern Checker is an <a href="https://chromewebstore.google.com/detail/pattern-checker/amjjliajblignodfdjalnfkekkeflkph?hl=en-GB">automated pattern and accessibility checker</a> for government services that use GOV.UK and HMRC design patterns.
 </p>
 
 <h2 class="govuk-heading-l" id="Unauthorised-tools">
 Unauthorised tools
 </h2>
 
 <p class="govuk-body">
 The following tools are not authorised for use for use by service teams: 
 </p>
 
 <ul class="govuk-list govuk-list--bullet">
 <li>Figma</li>
 <li>Miro</li> 
 <li>Sketch</li>
 </ul>
 
 <p class="govuk-body">
 If you have a question about any of these tools please speak to the head of your profession.
 </p>




