---
title: Forms > Using a detailed guide
menuText: Forms > Using a detailed guide
layout: twoColumnPage.njk
---
{% from "_codeSnippet.njk" import codeSnippet %}

<h2 class="govuk-heading-l">All forms</h2>

<p class="govuk-body">
The following forms will be accessible:
</p>

<ul class="govuk-list govuk-list--bullet">
<li>a gForm (<a href="https://tax.service.gov.uk" class="govuk-link">https://tax.service.gov.uk</a>)</li>
<li>in Open Document Format</li>
</ul>

<p class="govuk-body">
For all other forms, you should include the following accessibility statement after the form:
</p>

  {{
    codeSnippet({
      code: 'Read the [accessibility statement for HMRC forms](https://www.gov.uk/guidance/accessibility-statement-for-hmrc-interactive-forms).',
      canCopy: true
    })
  }}

<p class="govuk-body">
If the form is not translated into Welsh, always include:
</p>

  {{
    codeSnippet({
      code: 'Email HMRC to [ask for the form in Welsh (Cymraeg)](https://www.gov.uk/government/organisations/hm-revenue-customs/contact/welsh-language-helplines#email).',
      canCopy: true
    })
  }}

<h3 class="govuk-heading-m">Forms that are attachments</h3>

<p class="govuk-body">
If you’re going to attach a file, you must use the publication box !@n markdown.
</p>

<p class="govuk-body">
Do not tick ‘Attachment is accessible’ – as the attachment must always have the ‘not suitable for assistive technology’ callout.
</p>

<h4 class="govuk-heading-s">Interactive PDFs</h4>

<p class="govuk-body">
Markdown:
</p>

  {{
    codeSnippet({
      code: '## How to complete the form

You need to:

s1. Download and save the form on your computer.

s2. Open it using the [the latest free version of Adobe Reader](http://get.adobe.com/uk/reader/).

s3. Complete it on-screen.

!@n

Read the [accessibility statement for HMRC forms](https://www.gov.uk/guidance/accessibility-statement-for-hmrc-interactive-forms).

^It may not work it you try to open it in your internet browser. If the form does not open, then contact the Online services helpdesks for more help.',
      canCopy: true
    })
  }}

<h3 class="govuk-heading-m">Forms that are links</h3>

<h4 class="govuk-heading-s">gForms</h4>

<p class="govuk-body">
gForms are hosted on <a href="https://tax.service.gov.uk" class="govuk-link">https://tax.service.gov.uk</a>. Depending on design of the detailed guide, use either an inline link or a <a href="https://design.tax.service.gov.uk/hmrc-content-guide/green-button/">green button</a>.
</p>

<h4 class="govuk-heading-s">Print and post forms</h4>

<p class="govuk-body">
These will be hosted on <a href="https://public-online.hmrc.gov.uk/lc/content/" class="govuk-link">https://public-online.hmrc.gov.uk/lc/content/</a>.
</p>

<p class="govuk-body">
Markdown:
</p>

  {{
    codeSnippet({
      code: 's1. You need to open and complete this form online. As you cannot save your progress, you may want to get all your information together before you start.

s2. Fill in [name of form](LINK).

s3. Print and post it to HMRC, using the postal address shown on the form.

^This file may not be suitable if you use assistive technology – such as a screen reader. If you need a more accessible format email <different.format@hmrc.gov.uk> and tell us what format you need. It will help if you tell us what assistive technology you use. Read the [accessibility statement for HMRC forms](https://www.gov.uk/guidance/accessibility-statement-for-hmrc-interactive-forms).',
      canCopy: true
    })
  }}

<p class="govuk-body">
You may need to include the following:
</p>

  {{
    codeSnippet({
      code: 'If the form does not open, then [contact the Online Services helpdesks for more help](https://www.gov.uk/government/organisations/hm-revenue-customs/contact/online-services-helpdesk).',
      canCopy: true
    })
  }}