---
title: Patterns for the HMRC GOV.UK team
pageHeading: Patterns for the HMRC GOV.UK team
layout: twoColumnPage.njk
---

<p class="govuk-body">
  These content patterns should be used to design specialist HMRC content on GOV.UK.
  GOV.UK content designers should use them to make their content consistent.
</p>

<p class="govuk-body">
  Each pattern has guidance on:
</p>

<ul class="govuk-list govuk-list--bullet">
<li>when to use it</li>
<li>which document type to use</li>
<li>how to write specific content, like titles and summaries</li>
</ul>

<h2 class="govuk-heading-l">Get help</h2>

<p class="govuk-body">
  If you have a question, idea or suggestion, you can email the design resources team at <a class="govuk-link" href="mailto:design.resources-g@digital.hmrc.gov.uk">design.resources-g@digital.hmrc.gov.uk</a>.
</p>
