---
layout: layout-example.njk
---
{% from "hmrc/components/page-heading/macro.njk"  import hmrcPageHeading %}
{% from "govuk/components/button/macro.njk" import govukButton %}

<div class="govuk-form-group">
  <div class="govuk-grid-column-two-thirds">
  <h1 class="govuk-heading-xl">Upload invoice</h1>

<div id="file-upload-1-hint" class="govuk-hint">
    You can upload your invoice as a scanned copy or photo of the original. The selected file must be smaller than 100MB.
</div>

  <input class="govuk-file-upload" id="file-upload-1" name="file-upload-1" type="file" value="C:\fakepath\text.txt">

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <dl class="govuk-summary-list">

    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key"><a class="govuk-link" href="#">declaration.jpg</a><br>
        <label class="govuk-label" for="file-upload-1">
        Declaration
        </label>
        </dt>
        <dd class="govuk-summary-list__actions"><strong class="govuk-tag govuk-tag--green">uploaded</strong></dd>
        <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">Remove</a></dd>
    </div>

    </dl>

<div class="govuk-form-group">

  <fieldset class="govuk-fieldset">

    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">Add a different type of supporting evidence to your claim?</legend>

    <div class="govuk-radios">

      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="another" name="another" type="radio" value="yes">
        <label class="govuk-label govuk-radios__label" for="another">Yes</label>
    </div>

      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="another-2" name="another" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="another-2">No</label>
      </div>
    </div>

  </fieldset>
</div>

<br> 
<button class="govuk-button" data-module="govuk-button">Continue</button>
