---
title: Welsh language toggle
layout: twoColumnPage.njk
status: in development
---
{% from "_example.njk" import example %}

{% block content %}

<p class="govuk-body">
  This pattern lets the user change the language used in a service from English to Welsh and from Welsh
  to English.
</p>

<h2 id="when-to-use" class="govuk-heading-l">When to use</h2>

<p class="govuk-body">
  Use the Welsh language toggle when a service is available in Welsh.
</p>

<h2 id="when-not-to-use" class="govuk-heading-l">When not to use</h2>

<p class="govuk-body">
  Do not use the Welsh language toggle:
</p>

<ul class="govuk-list govuk-list--bullet">
  <li>where there is no Welsh translation for a service</li>
  <li>in personal tax account services – use the
  <a class="govuk-link" href="/design-library/account-header">account header</a> which already has a
  Welsh language toggle</li>
</ul>

<h2 id="how-it-works" class="govuk-heading-l">How it works</h2>

<p class="govuk-body">
  Put the Welsh language toggle on the right hand side below the
  <a class="govuk-link" href="https://design-system.service.gov.uk/components/header/">GOV.UK header</a>.
</p>

{{
  example({
    item: 'welsh-language-toggle',
    example: 'govuk',
    description: 'Welsh language toggle for GOVUK'
  })
}}

<p class="govuk-body">
  If you are also using the <a class="govuk-link" href="/design-library/hmrc-header">HMRC header</a>, put the
  Welsh language toggle below the HMRC header.
</p>

{{
  example({
    item: 'welsh-language-toggle',
    example: 'hmrc',
    description: 'Welsh langugae toggle for HMRC'
  })
}}

<h2 id="research" class="govuk-heading-l">Research</h2>

<p class="govuk-body">
  We need more research. If you have used the Welsh language toggle, get in touch to share your research
  findings.
</p>

<p class="govuk-body">
  <a class="govuk-link" href="https://github.com/hmrc/design-patterns/issues/158">Discuss the Welsh language toggle on GitHub</a>
</p>

{% endblock %}
