---
title: Welsh language toggle
menuText: Welsh language toggle
layout: twoColumnPage.njk
---

{% from "_example.njk" import example %}
{% from "_codeSnippet.njk" import codeSnippet %}

{% block content %}

<p class="govuk-body">  This pattern lets the user change the language used in a service from English to Welsh and from Welsh to English.</p>

<h2 id="when-to-use" class="govuk-heading-l">When to use</h2>

<p class="govuk-body">
  Use the Welsh language toggle when a service is available in Welsh.
</p>

<h2 id="when-not-to-use" class="govuk-heading-l">When not to use</h2>

<p class="govuk-body">
  Do not use the Welsh language toggle:
</p>

<ul class="govuk-list govuk-list--bullet">
  <li>where there is no Welsh translation for a service</li>
  <li>in personal tax account services – use the <a class="govuk-link" href="/design-library/account-header">account header</a> which already has a Welsh language toggle</li>
</ul>

<h2 id="how-it-works" class="govuk-heading-l">How it works</h2>

<p class="govuk-body">
  Put the Welsh language toggle on the right hand side below the <a class="govuk-link" href="https://design-system.service.gov.uk/components/header/">GOV.UK header</a>.
</p>


{{
  example({
    item: 'welsh-language-toggle',
    description: 'Welsh toggle with gov header',
    example: 'toggle-with-gov-header',
    welsh: 'example-welsh',
    hideTabs: true
  })
}}

<p class="govuk-body">
  If you are also using the <a class="govuk-link" href="/design-library/hmrc-header">HMRC header</a>, put the Welsh language toggle below the HMRC header.
</p>



{{
  example({
    item: 'welsh-language-toggle',
    description: 'Welsh toggle with hmrc header',
    example: 'toggle-with-hmrc-header',
    welsh: 'example-welsh',
    hideTabs: true
  })
}}


<h3 class="govuk-heading-m" id="when-to-use">How to use the welsh language toggle</h3>


<h4 class="govuk-heading-s" id="when-to-use">Below the GOV.UK header</h4>

<p class="govuk-body">
Find this code:
</p>
<main class="govuk-width-container">
<code>
  &lt;main class="govuk-width-container"&gt;
</code><br /><br />

<p class="govuk-body">
  Then add this code directly below it:

</p>

{{
  codeSnippet({
    code: ' <p class="hrmc-lang-select">
    English
    <span aria-hidden="true">|</span>
    <a class="govuk-link" id="switchToWelsh" lang="cy" href="#" data-journey-click="link - click:lang-select:Cymraeg">Cymraeg</a>
  </p>',
    canCopy: true
  })
}}

<h4 class="govuk-heading-s" id="when-to-use">Below the HMRC header</h4>

<p class="govuk-body">
Find this code:
</p>

<code>
  &lt;div class="hmrc-banner" role="banner"&gt;
    &lt;div class="hmrc-organisation-logo"&gt;
      &lt;p&gt; HM Revenue &amp; Customs   &lt;/p&gt; &lt;/div&gt;  &lt;/div&gt;
</code><br /><br />

<p class="govuk-body">
  Then add this code directly below it:

</p>

{{
  codeSnippet({
    code: ' <p class="hrmc-lang-select">
    English
    <span aria-hidden="true">|</span>
    <a class="govuk-link" id="switchToWelsh" lang="cy" href="#" data-journey-click="link - click:lang-select:Cymraeg">Cymraeg</a>
  </p>
  ',
    canCopy: true
  })
}}


<h2 id="research" class="govuk-heading-l">Research</h2>

<p class="govuk-body">We need more research. If you have used the Welsh language toggle, get in touch to share your research findings.</p>

<p class="govuk-body"><a class="govuk-link" href="https://github.com/hmrc/design-patterns/issues/158">Discuss the Welsh language toggle on GitHub</a></p>

{% endblock %}
