---
layout: layout-example.njk
---

<h1 class="govuk-heading-xl">The details you entered did not match our records</h1>
<p class="govuk-body">We could not match the details you entered with records held by HMRC.</p>
<p class="govuk-body">If you used the wrong details, you can <a class="govuk-link" href="#">try again using different details</a>.</p>
