---
title: Freeport maps
menuText: Freeport maps
layout: twoColumnPage.njk
---

<h2 class="govuk-heading-l">When to use</h2>

<p class="govuk-body">Use this pattern to design Freeport customs site maps. For examples, check the <a href="https://www.gov.uk/government/collections/maps-of-freeports-and-freeport-tax-sites"class="govuk-link">maps of Freeports, Freeport customs sites and Freeport tax sites collection</a>.</p>

<h2 class="govuk-heading-l">How to design using this pattern</h2>

<h3 class="govuk-heading-m">Document type</h3>

<p class="govuk-body">Publication: Map [with a PDF attachment]</p>

<h3 class="govuk-heading-m">Publication</h3>

<h4 class="govuk-heading-s">Title</h4>

<p class="govuk-body">For a single map:</p>
<p class="govuk-body">The title should be: Map of xxx [name] Freeport customs site.</p>

<p class="govuk-body">For multiple maps:</p>
<p class="govuk-body">The title should be: Maps of xxx [name] Freeport customs sites.</p>

<h4 class="govuk-heading-s">Summary</h4>

<p class="govuk-body">For a single map:</p> 
<p class="govuk-body">The summary should be: This map shows the Freeport customs site within xxx [name] Freeport.</p>

<p class="govuk-body">For multiple maps:</p> 
<p class="govuk-body">The summary should be: These maps show the Freeport customs site within xxx [name] Freeport.</p>

<h4 class="govuk-heading-s">Details</h4>

<h3 class="govuk-heading-s">For single maps</h3> 

<p class="govuk-body">The summary should be: This map shows the Freeport customs site within xxx [name] Freeport.
</p>

<h4 class="govuk-heading-s">For multiple maps</h4> 

<p class="govuk-body">These maps show the designated Freeport customs sites within xxx [name] Freeport. These sites are recognised in law as a geographical area where businesses can benefit from simplified customs and VAT arrangements.</p>

<p class="govuk-body"><p class="govuk-body">Check the full list of <a href="https://www.gov.uk/government/collections/maps-of-freeports-and-freeport-tax-sites" class="govuk-link">Freeport maps and the Freeport customs site locations within them</a>.</p>

<h4 class="govuk-heading-s">Excluded nations</h4> 

<p class="govuk-body">The content normally only ‘applies to England’.</p>

<p class="govuk-body">Check the full list of Freeport maps and the Freeport customs site locations within them.</p>

<h3 class="govuk-heading-m">Tagging content</h3>

<p class="govuk-body">Tag the content as follows:</p>
<ul class="govuk-list govuk-list--bullet">
<li>Business and industry > Trade and investment > Exporting</li>
<li>Business and industry > Trade and investment > Importing</li>
<li>Brexit</li>
</ul>
<h3 class="govuk-heading-m">HMTL attachment</h3>

<h4 class="govuk-heading-s">Title</h4>

<p class="govuk-body">Use different titles for the landing page and HMTL attachment. The titles can be similar but cannot be exactly the same.</p>

<p class="govuk-body">Customs Site No. xx [number] — xxx [Place] Freeport</p>

<p class="govuk-body">For example Customs Site No. 1 — Liverpool Freeport</p>

<h4 class="govuk-heading-s">Body</h4>

<p class="govuk-body">Enter the contents of the brief.</p>

<p class="govuk-body">Do not include numbers in section headings.</p>

<h3 class="govuk-heading-m">Collection</h3>

<p class="govuk-body">Add the URL of any new page to the maps of <a href="https://www.gov.uk/government/collections/maps-of-freeports-and-freeport-tax-sites" class="govuk-link">Freeport maps and the Freeport customs site locations within them</a>. Do not create a public change note.</p>
