---
layout: layout-example.njk
---
{% from "hmrc/components/page-heading/macro.njk"  import hmrcPageHeading %}
{% from "govuk/components/button/macro.njk" import govukButton %}

<!-- draft code, to be looked at by Tim -->

<h1 class="govuk-heading-xl">Upload successful</h1>

<p class="govuk-body">5 files uploaded.</p>

<button class="govuk-button" data-module="govuk-button">
  Continue
</button>