.app-card {
  text-decoration: none;
  background-color: #f8f8f8;
  display: block;
  padding: 20px - $govuk-focus-width;
  margin-bottom: 20px;
  outline: 1px solid transparent;
  @include govuk-media-query(desktop) {
    min-height: 145px;
  }

  &:focus {
    outline: $govuk-focus-width solid govuk-functional-colour(focus-text);
    box-shadow: 0 0 0 ($govuk-focus-width * 2) govuk-functional-colour(focus);
  }
}

.app-card__heading {
  color: #005ea5;
}

.app-card:hover {
  background-color: #005ea5;
  color: white;

  & > * {
    color: inherit;
  }
}

.app-card p:last-child {
  margin-bottom: 0;
}
