.app-cookie-banner {
  background-color: #d5e8f3;
  padding: 10px;

  p {
    font-family: "nta", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.25;
    font-weight: 400;
    text-transform: none;
    margin-top: 0;
    margin-bottom: 0;
  }
}
