// Taken from https://github.com/alphagov/govuk-design-system/blob/29b9cf8c30ac1514d16fc97adaf15100e5040f7d/src/stylesheets/components/_example.scss
// with the exception of `.app-example-page` taken from https://github.com/alphagov/govuk-design-system/blob/29b9cf8c30ac1514d16fc97adaf15100e5040f7d/src/stylesheets/main.scss#L160-L162
// and .language-example-code taken from the old prototype codebase

// Example styles
.app-example-wrapper {
  @include govuk-responsive-margin(6, "top");
  @include govuk-responsive-margin(6, "bottom");
  @include govuk-font(19);
}

.app-example {
  position: relative;
  border: 1px solid $govuk-border-colour;
  background: govuk-colour("light-grey");
}

.app-example-page {
  padding: govuk-spacing(6) * 2 govuk-spacing(6) govuk-spacing(6);
}

.app-example--tabs {
  @include govuk-responsive-margin(0, "bottom");

  @include govuk-media-query($from: desktop) {
    margin-bottom: -1px;
  }
}

.app-example__link {
  position: absolute;
  z-index: 1;
  top: 0;
  padding: 5px govuk-spacing(2);
  @include govuk-font(14);
  background: govuk-colour("light-grey");

  a, 
  button {
    color: $govuk-link-colour;
    text-decoration: none;
  }
}

.app-example__new-window {
  left: 0;
  padding: 5px govuk-spacing(2);

  a {
    @extend %govuk-link;
    
    display: inline-block;
  }
}

.app-example__language-switch {
  right: 0;
  padding: 5px govuk-spacing(2);

  button {
    @extend %govuk-link;

    display: inline-block;
    border: 0;
    cursor: pointer;
  }
}

.app-example__language-switch--current {
  display: none;
}

.app-example__language-switch--en-activated .app-example__language-switch--cy-only-content {
  display: none
}

.app-example__language-switch--cy-activated .app-example__language-switch--en-only-content {
  display: none
}

.app-example__frame {
  display: block;
  width: 100%;
  max-width: 100%;
  border: none;
  border-right: 1px solid $govuk-border-colour;
  background: govuk-colour("white");
}

// Default size
.app-example__iframe,
.app-example__frame--xs {
  height: 150px;
}

.app-example__frame--s {
  height: 250px;
}

.app-example__frame--m {
  height: 350px;
}

.app-example__frame--l {
  height: 450px;
}

.app-example__frame--xl {
  height: 550px;
}

.app-example__frame--resizable {
  min-width: 230px;
  min-height: govuk-spacing(6) * 2;
  overflow: auto;
  transform: translate3d(0, 0, 0);
  @include govuk-media-query($from: desktop) {
    resize: both;
  }
}

.language-example-code
{
  background-color:#f8f8f8;
  width: calc(135% - 100px);
  border: 1px solid #bfc1c3;
  white-space: normal;
  padding: 20px;
  display: block;

}
