.hmrc-masthead {

background-color: #008670;
color: #fff;
padding-top: 20px;
padding-bottom: 30px;

}

.govuk-heading-xl {

color: #fff;
margin-bottom: 30px;

}

.app-masthead__description {

font-family: GDS Transport;
font-size: 24px;
margin: 0;

}
