.hmrc-masthead {

background-color: $hmrc-green;
color: #fff;
padding: 0px;
padding-bottom: 30px;

    &__title {

    color: #fff;
    margin-bottom: 30px;
    font-family: 'GDS Transport';
    font-size: 48px;

    }

    &__description {

    font-family: 'GDS Transport';
    font-size: 24px;
    margin: 0;

    }
}