.hmrc-currency-input__wrapper {
    position: relative;
    display: inline-block;
}
.hmrc-currency-input__pence,
.hmrc-currency-input__unit--pence,
.hmrc-currency-input__unit {
    position: absolute;
    bottom: 2px;
    left: 2px;
    top: 2px;
    width: 1.5rem;
    text-align: center;
    background: #dee0e2;
    border-right: 2px solid;
    @include govuk-font($size: 19, $weight: bold);
}
.govuk-form-group--error .hmrc-currency-input__unit {
    bottom: 4px;
    left: 4px;
    top: 4px;
}
.hmrc-currency-input__unit--pence,
.hmrc-currency-input__pence {
    left: auto;
    width: 3rem;
    right: 2px;
    line-height: 1.8;
    border-right-width: 0;
    border-left: 2px solid;
}
.hmrc-currency-input__unit--pence {
    width: 1.5rem;
}
.govuk-form-group--error .hmrc-currency-input__pence,
.govuk-form-group--error .hmrc-currency-input__unit--pence {
    bottom: 4px;
    right: 4px;
    top: 4px;
}

.hmrc-currency-input__decimal {
    @include govuk-font($size: 36, $weight: bold);
}
.hmrc-currency-input__pence:after,
.hmrc-currency-input__unit:after,
.hmrc-currency-input__unit--pence:after {
    content: "";
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}
.hmrc-currency-input__unit ~ .govuk-input {
    padding-left: 2rem;
}
.hmrc-currency-input__pence ~ .govuk-input {
    padding-right: 3.5rem;
}
.hmrc-currency-input__unit--pence ~ .govuk-input {
    padding-right: 2rem;
}



.hmrc-currency-input__group {
    display: inline-block;
    margin-bottom: 0;
}


  // WCAG 2.1 focus update
  // duplicating as non-supporting browsers choke on focus-within and throw the whole rule
  .hmrc-currency-input__wrapper--has-focus .hmrc-currency-input__unit {
    top: 4px;
    left: 4px;
    bottom: 4px;
  }
  .hmrc-currency-input__wrapper:focus-within .hmrc-currency-input__unit {
    top: 4px;
    left: 4px;
    bottom: 4px;
  }
  .hmrc-currency-input__wrapper--has-focus .hmrc-currency-input__pence {
    top: 4px;
    right: 4px;
    bottom: 4px;
  }
  .hmrc-currency-input__wrapper:focus-within .hmrc-currency-input__pence {
    top: 4px;
    right: 4px;
    bottom: 4px;
  }