.hmrc-logo {
  border-left: 2px solid #009390;
}

.hmrc-logo__link{
  display: table;

  &:before{
    content: '';
    display: table-cell;
    background: url(/assets/images/hmrc-crown-logo_black.svg) no-repeat;
    background-size: 100% 100%;
    width: 52px;
    height: 32px;
  }

  &:link,
  &:visited {
    text-decoration: none;
    font-size: 20px;
    color: #000;
    line-height:32px;
  }
}

.hmrc-logo__img {
  visibility: hidden;
  height: 0;
  width: 0;
}

.hmrc-banner {
  padding: 10px 0 8px;
  border-bottom: 1px solid #bfc1c3;
  position: relative;
  font-family: "nta", Arial, sans-serif;
}

$hmrc-banner-blue: #005ea5;

.hmrc-full-width-banner {
  display: block;
  position: relative;
  z-index: 999;
  color: govuk-colour("white");
  background-color: $hmrc-banner-blue;

}
