.notification-banner-wrapper {
  .govuk-phase-banner {
    padding-left: govuk-spacing(3);
    padding-right: govuk-spacing(3);

    .govuk-phase-banner__text {
      vertical-align: top;
    }
  }
}
