@include govuk-exports("app-pane") {
  $toc-width: 260px;
  $toc-width-tablet: 210px;

  .app-pane.app-pane--enabled {
    overflow: hidden;

    @include govuk-media-query($from: tablet) {
      display: flex;
      flex-direction: column;
    }
  }

  .app-pane__header {
    @include govuk-media-query($from: tablet) {
      display: flex;
      flex-direction: column;
      flex: 1 0 auto;

      > * {
        flex: 1 0 auto;
      }
    }
  }

  .app-pane__body {
    @include govuk-media-query($from: tablet) {
      display: flex;
      position: relative;
      min-height: 0;
      flex: 1 1 100%;
    }
  }

  .app-pane__subnav {
    @include govuk-media-query($from: tablet) {
      flex: 0 0 auto;
      width: $toc-width-tablet;
    }

    @include govuk-media-query($from: desktop) {
      flex: 0 0 auto;
      width: $toc-width;
    }
  }

  .app-pane__content {
    @include govuk-media-query($from: tablet) {
      display: flex;
      margin-left: auto;
      flex: 1 1 auto;
      flex-direction: column;
      align-items: flex-start;

      // Stick footer to bottom of screen if content is shorter than viewport
      main {
        display: block;
        flex: 1 0 auto;
      }
    }
  }

  .govuk-back-link {
    display: none;
    @include govuk-responsive-margin(6, "left");
  }

  .js-enabled {
    .govuk-back-link {
      display: inline-block;
    }
  }
}
