.hmrc-user-research-banner__container {
  overflow: auto;
}

.hmrc-user-research-banner__text {
  float: left;
  margin: 0 0 5px 0;
}

.hmrc-user-research-banner__button {
  float: right;
  margin: 10px 0 0 0;
}