//Navigation toggle

.app-subnav-toggle + input {
  display: none;
}

.app-subnav-toggle + input:checked + .app-pane__subnav {
  display: block;
}

.app-subnav-toggle {
  position: absolute;
  top: 10px;
  right: 0;
  text-align: right;
  padding: 15px;
  float: right;

  @include govuk-media-query(desktop) {
    display: none;
    padding: 20px;
  }
}

.app-subnav-toggle__button {
  @include govuk-font(19);
  cursor: pointer;
  border: 0px solid $black;
  margin-top: 40px;
  font-size: 19px;
  display: inline-block;
  background: transparent;

  &:focus {
    @include govuk-focused-text;
  }
}

.app-subnav-toggle__button::after {
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  clip-path: polygon(0% 0%, 50% 100%, 100% 0%);
  border-width: 8.66px 5px 0 5px;
  content: "";
  border-color: #0b0c0c;
  margin-left: 5px;
}

.app-subnav-toggle.active .app-subnav-toggle__button::after{
  transform: rotate(180deg);
}

//Navigation

.app-pane__subnav {
  .govuk-heading-m > a {
    &:hover,
    &:active,
    &:visited {
      color: $govuk-link-colour;
    }

    &:focus {
      outline: 3px solid $govuk-focus-colour;
      outline-offset: 0;
      background-color: $govuk-focus-colour;
    }
  }
  @include govuk-media-query($until: desktop) {
    display: block;
  }

  .js-enabled [hidden],
  .js-enabled &[hidden] {
    display: none;
  }
}

.app-subnav {
  @include govuk-font(19);
}

.app-subnav__section {
  margin: 0 0 govuk-spacing(4) 0;
  padding: 0;
  list-style-type: none;
  border-bottom: 1px solid $govuk-border-colour;
  padding-bottom: govuk-spacing(4);

  &:last-child {
    border-bottom: none;
  }

  @include govuk-media-query($from: desktop) {
    margin-left: -14px;
  }
}

.app-subnav__link {
  display: block;
  padding: govuk-spacing(3) 0;
  text-decoration: none;

  @include govuk-media-query(desktop) {
    padding: govuk-spacing(2) govuk-spacing(4) govuk-spacing(2) govuk-spacing(2);
    border-left: 4px solid transparent;

    &:hover {
      border-left-color: $govuk-link-hover-colour;
    }
  }
}

.app-subnav__section-item--current .app-subnav__link {
  font-weight: bold;

  @include govuk-media-query(desktop) {
    border-left-color: $govuk-link-colour;
  }
}
