---
layout: layout-example.njk
---

{% from "input/macro.njk" import govukInput %}

{{
  govukInput({
    label: {
      text: 'Corporation Tax Unique Taxpayer Reference'
    },
    hint: {
      html: 'This is 10 numbers, for example 1234567890. It will be on tax returns and other letters about Corporation Tax. It may be called ‘reference’, ‘UTR’ or ‘official use’. You can <a class="govuk-link" href="https://www.gov.uk/find-lost-utr-number">find a lost UTR number</a>.'
    },
    errorMessage: {
      text: 'Enter your Corporation Tax Unique Taxpayer Reference'
    },
    id: 'utr',
    name: 'utr',
    classes: 'govuk-input--width-10'
  })
}}
