---
layout: layout-example.njk
---
{% from "hmrc/components/page-heading/macro.njk"  import hmrcPageHeading %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{{ hmrcPageHeading({
  text: 'What is your company registration number?'
}) }}

<p class="govuk-body">This is the 8 character reference issued by Companies House when the company was set up. You can <a class="govuk-link" href="https://find-and-update.company-information.service.gov.uk/">find your registration number (opens in new tab)</a>.</p>

{{ govukInput({
hint: {
    text: "For example, 01234567"
  },
    classes: "govuk-input--width-10"
  }) }}
{{ govukButton({
  text: "Continue"
}) }}
