---
title: Green button
layout: twoColumnPage.njk
---
{% from "_example.njk" import example %}

<h2 class="govuk-heading-l">When to use</h2>

<p class="govuk-body">You should only use this pattern:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>in detailed guides</li>
  <li>once on a page</li>
  <li>for digital services, forms, tools, and calculators</li>
  <li>where the purpose of the content is to get all users to complete a single task</li>
  <li>where all users could complete their task using the green button</li>
</ul>

<p class="govuk-body">
  You must send a request to Editorial Board if you want to use a green button in your content. Include a
  draft of the content to demonstrate:
</p>

<ul class="govuk-list govuk-list--bullet">
  <li>where the button will appear</li>
  <li>the button text</li>
  <li>where the button will link to</li>
</ul>

<h2 class="govuk-heading-l">When not to use</h2>

<p class="govuk-body">Do not use this pattern:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>to link to another GOV.UK page</li>
  <li>where there is more than one task to complete on the page</li>
</ul>

<h2 class="govuk-heading-l">How it works</h2>

<h3 class="govuk-heading-m">Where to place the button</h3>

<p class="govuk-body">To decide where to place the button on the page you should consider:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>if there is a design pattern for the task</li>
  <li>the user need (is this a returning or new user, or both)</li>
  <li>any evidence or user research</li>
  <li>best practices on existing GOV.UK pages for similar tasks (both mainstream and specialist)</li>
</ul>

<h3 class="govuk-heading-m">Button text</h3>

<p class="govuk-body">
  The wording on the button should describe the task the user is trying to complete, for example:
</p>

<ul class="govuk-list govuk-list--bullet">
  <li>Start now</li>
  <li>Register now</li>
  <li>Claim now</li>
  <li>Apply now</li>
</ul>


<h2 class="govuk-heading-l">Markdown</h2>

{{ example({
    item: 'green-button',
    example: 'example',
    description: 'Green button'
}) }}

<h3 class="govuk-heading-m">Adding analytics</h3>

<p class="govuk-body">
  To track the user journey from GOV.UK to the end of a digital service, get the Google Analytics tracking
  code from the digital service team and use this markdown:
</p>

<p class="govuk-body">
  <code>
    {button start cross-domain-tracking:UA-XXXXXX-Y}[Start now](){/button}
  </code>
</p>

<h2 class="govuk-heading-l">If you need to change this pattern</h2>

<p class="govuk-body">You should send a request to the Editorial Board if you need to change this pattern.</p>
