---
title: HMRC Design Patterns
pageHeading: HMRC Design Patterns
layout: twoColumnPage.njk
---

<p class="govuk-body">
  These are patterns designed specifically for the needs of HMRC users and patterns that are not yet in the GOV.UK Design System.
</p>

<p class="govuk-body">
  Check the <a class="govuk-link" href="https://design-system.service.gov.uk/">GOV.UK Design System</a> to see if the component or pattern you need is already being used across government.
</p>

<p class="govuk-body">
  If you cannot find what you need in the GOV.UK Design System or HMRC Design Patterns you can:
</p>

<ul class="govuk-list govuk-list--bullet">
  <li><a class="govuk-link" href="https://design-system.service.gov.uk/community/backlog/">see if it is being worked on by other teams across government and add your findings</a></li>
  <li><a class="govuk-link" href="backlog/">see if it is being worked on by HMRC and add your findings</a></li>
  <li><a class="govuk-link" href="https://github.com/hmrc/design-patterns/issues/new">propose a new pattern</a></li>
</ul>

<p class="govuk-body">
  All patterns must be <a class="govuk-link" href="https://design-system.service.gov.uk/community/contribution-criteria/#new-proposals">useful and unique</a>.
</p>

<h2 class="govuk-heading-l">
  Using code snippets in prototypes
</h2>

<p class="govuk-body">
  Each pattern includes coded examples. You will need to <a class="govuk-link" href="using-code-in-prototypes">install HMRC Frontend</a> to use patterns with specific HMRC code not yet supported by the GOV.UK Prototype Kit. You must use version 7 or later of the GOV.UK Prototype Kit for these to work.
</p>

<p class="govuk-body">
  Find out how to:
</p>

<ul class="govuk-list govuk-list--bullet">
  <li><a class="govuk-link" href="https://design-system.service.gov.uk/get-started/prototyping">set up the Prototype Kit</a></li>
  <li><a class="govuk-link" href="https://govuk-prototype-kit.herokuapp.com/docs/updating-the-kit">update the Prototype Kit</a></li>
  <li><a class="govuk-link" href="https://design-system.service.gov.uk/get-started/updating-your-code/">update your code</a></li>
</ul>

<h2 class="govuk-heading-l">
  Get help
</h2>

<p class="govuk-body">
HMRC Design Patterns is maintained by the Service Design Tools team. If you have a question, idea or suggestion you can:
</p>

<ul class="govuk-list govuk-list--bullet">
  <li><a class="govuk-link" href="mailto:hmrc-service-design-tools-g@digital.hmrc.gov.uk">email the Service Design Tools team</a></li>
  <li>get in touch with <a class="govuk-link" href="https://hmrcdigital.slack.com/messages/C39V3PH38">#team-sdt</a> on HMRC Slack <a class="govuk-link" href="slack://channel?team=T04RY81HB&amp;id=C39V3PH38">(open in app)</a></li>
</ul>
