---
title: Revenue and Customs Briefs
menuText: Revenue and Customs Briefs
layout: twoColumnPage.njk
---


<h2 class="govuk-heading-l">How to design using this pattern</h2>

<h3 class="govuk-heading-m">Document type</h3>

<p class="govuk-body">Publication: policy paper (with an HTML attachment)</p>

<h3 class="govuk-heading-m">Publication</h3>

<h4 class="govuk-heading-s">Title</h4>

<p class="govuk-body">The title should be ‘Revenue and Customs Brief [number] ([yyyy]): [description]’.</p>

<p class="govuk-body">For example, ‘Revenue and Customs Brief 5 (2018): VAT liability on goods supplied on approval’.</p>

<h4 class="govuk-heading-s">Summary</h4>

<p class="govuk-body">Begin with ‘This brief...’. Then read the document and summarise the paper’s content.</p>

<p class="govuk-body">For example, ‘This brief explains HMRC’s policy on goods supplied on approval, and the VAT liability of the delivery charges for these goods.’</p>

<h4 class="govuk-heading-s">Body</h4>

<p class="govuk-body">Begin with ‘This brief explains...’. Then read the document and summarise the paper’s content to create the body text.</p>

<p class="govuk-body">For live examples, check the <a href="https://www.gov.uk/government/collections/revenue-and-customs-briefs" class="govuk-link">Revenue and Customs Briefs collection</a>.</p>

<h3 class="govuk-heading-m">HMTL attachment</h3>

<h4 class="govuk-heading-s">Title</h4>

<p class="govuk-body">Use the description that you’ve used in the title of the stub page.</p>

<p class="govuk-body">For example, ‘VAT liability on goods supplied on approval.’</p>

<h4 class="govuk-heading-s">Body</h4>

<p class="govuk-body">Enter the contents of the brief.</p>

<p class="govuk-body">Do not include numbers in section headings.</p>

<h3 class="govuk-heading-m">Collection page</h3>

<p class="govuk-body">Add the URL of any new page to the <a href="https://www.gov.uk/government/collections/revenue-and-customs-briefs" class="govuk-link">Revenue and Customs Briefs collection</a>. Do not create a public change note.
</p>
