---
title: Setting up Visual Studio Code
layout: twoColumnPage.njk
menuText: Setting up Visual Studio Code
status: development
---

<p class="govuk-body">Visual Studio Code (VS Code) is a free, open-source code editor available for Windows, macOS, and Linux.</p>

<p class="govuk-body">Follow these steps to set up VS Code for designing with the GOV.UK Prototype Kit.</p>

<h2 class="govuk-heading-l">1. Download and install VS Code</h2>

<p class="govuk-body">To install:</p>
<ol class="govuk-list govuk-list--number">
  <li><a href="https://code.visualstudio.com/download" class="govuk-link">Download Visual Studio Code</a>.</li>
  <li>Select the appropriate installer for your operating system.</li>
  <li>Run the downloaded installer and follow the on-screen instructions to complete the installation.</li>
</ol>

<h2 class="govuk-heading-l">2. Opening your prototype</h2>

<p class="govuk-body">To open an existing prototype, go to the menu bar and select ‘File &gt; Open’ and select your prototype folder.</p>

<h2 class="govuk-heading-l">3. Opening the integrated terminal</h2>

<p class="govuk-body">The integrated terminal allows you to run command-line operations within VS Code like <code class="govuk-code">npm install</code> and <code class="govuk-code">npm run dev</code>.</p>

<p class="govuk-body">To open it press <code class="govuk-code">Ctrl + `</code> (backtick) on your keyboard. Alternatively, go to the menu bar and select ‘Terminal &gt; New Terminal’.</p>

<h2 class="govuk-heading-l">4. Enabling auto save</h2>

<p class="govuk-body">Auto save automatically saves your changes, which means they will refresh in your browser automatically.</p>

<p class="govuk-body">To enable it:</p>
<ol class="govuk-list govuk-list--number">
  <li>Go to the settings cog icon in the bottom left of your window and select ‘Settings’. In the new tab you can either search for ‘auto save’ or it may appear in the list of commonly used settings.</li>
  <li>Select ‘onFocusChange’ from the auto save dropdown. This will automatically save your file when you change tabs or when the focus moves out of the VS Code window.</li>
</ol>

<p class="govuk-body"><a href="https://code.visualstudio.com/docs/editor/codebasics#_save-auto-save" class="govuk-link">Learn more about auto save in VS Code</a>.</p>

<h2 class="govuk-heading-l">5. Using the auto format feature</h2>

<p class="govuk-body">Auto format helps maintain consistent code formatting.</p>

<p class="govuk-body">Shortcut to use it:</p>
<ol class="govuk-list govuk-list--bullet">
  <li><code class="govuk-code">Shift + Alt + F</code> (Windows)</li>
  <li><code class="govuk-code">Shift + Option + F</code> (macOS)</li>
</ol>

<p class="govuk-body">This feature may not fully support Nunjucks code within HTML files. You might need to adjust the formatting manually for those lines.</p>

<p class="govuk-body"><a href="https://code.visualstudio.com/docs/editor/codebasics#_formatting" class="govuk-link">Learn more about code formatting shortcuts</a>.</p>

<h2 class="govuk-heading-l">6. Recommended extensions</h2>

<p class="govuk-body">Enhance your development experience with the following VS Code extensions from the Visual Studio Marketplace:</p>

<h3 class="govuk-heading-m">GOV.UK Design System snippets</h3>

<p class="govuk-body">Provides reusable code also known as <a href="https://code.visualstudio.com/docs/editing/userdefinedsnippets" class="govuk-link" target="_blank">snippets</a> for the GOV.UK Design System components. Start typing the component you want and select it from the pop up.</p>

<p class="govuk-body"><a href="https://marketplace.visualstudio.com/items?itemName=simonwhatley.govuk-design-system-snippets" class="govuk-link">Install GOV.UK Design System snippets</a>.</p>

<h3 class="govuk-heading-m">Code Spell Checker</h3>

<p class="govuk-body">A basic spell checker that works well with code and documents, helping to catch common spelling errors.</p>

<p class="govuk-body"><a href="https://marketplace.visualstudio.com/items?itemName=streetsidesoftware.code-spell-checker" class="govuk-link">Install Code Spell Checker</a>.</p>

<h3 class="govuk-heading-m">TODO Tree</h3>

<p class="govuk-body">Quickly searches your workspace for comment tags like TODO and FIXME, displaying them in a tree view for easy navigation.</p>

<p class="govuk-body"><a href="https://marketplace.visualstudio.com/items?itemName=Gruntfuggly.todo-tree" class="govuk-link">Install TODO Tree</a>.</p>
