---
title: Tax information and impact notes
layout: twoColumnPage.njk
---

<h2 class="govuk-heading-l">Document type</h2>

<p class="govuk-body">Publication: policy paper (with an HTML attachment)</p>

<h2 class="govuk-heading-l">How it works</h2>

<div class="govuk-inset-text">
   This content is not normally updated unless there is a factual inaccuracy.
</div>

<h3 class="govuk-heading-m">Publication</h3>

<h4 class="govuk-heading-s">Title</h4>

<p class="govuk-body">Use the same title as the publication.</p>

<h4 class="govuk-heading-s">Summary</h4>

<p class="govuk-body">The summary should begin with 'This tax information and impact note is about'. Read the document to come up with a summary of the paper’s contents.</p>

<h4 class="govuk-heading-s">Details</h4>

<p class="govuk-body">Body text should be created by reading the document and adding additional information not mentioned in the title or summary that will help the user decide if this document is the one they need.</p>

<h3 class="govuk-heading-m">HTML attachment</h3>

<h4 class="govuk-heading-s">Title</h4>

<p class="govuk-body">Use the same title as the publication.</p>

<h4 class="govuk-heading-s">Body text</h4>

<p class="govuk-body">Enter the contents of the Tax information and impact note.</p>

<h3 class="govuk-heading-m">Collection page</h3>

<p class="govuk-body">Add your new document to the <a href="https://www.gov.uk/government/collections/tax-information-and-impact-notes-tiins" class="govuk-link">Tax information and impact notes</a> document collection. Do not create a public change note.
</p>