---
title: Guidelines for compliance
menuText: Guidelines for compliance
layout: twoColumnPage.njk
---
{% from "_example.njk" import example %}

<h2 class="govuk-heading-l" id="when">When to use</h2>

<p class="govuk-body">
Use this pattern when creating or amending guidelines for compliance.
</p>

<h2 class="govuk-heading-l" id="how">How to design using this pattern</h2>

<h3 class="govuk-heading-m" id="type">Document type</h3>

<p class="govuk-body">Publication: guidance promotional material (with an HTML attachment)
</p>

<h3 class="govuk-heading-m">Publication</h3>

<h4 class="govuk-heading-s" id="title">Title</h4>

<p class="govuk-body">xxx [Title] — guidelines for compliance GfCx [number]</p>

<p class="govuk-body">For example, ‘Compliance checks: electronic sales suppression — CC/FS68’.</p>

<h4 class="govuk-heading-s" id="summary">Summary</h4>

<p class="govuk-body">Begin with ‘Find out xxx.’ Then read the document and summarise the guidelines content.</p>

<p class="govuk-body">Read the document and summarise the guideline’s content to create the body text.</p>

<h4 class="govuk-heading-s">Body</h4>

<p class="govuk-body">Read the document and summarise the factsheet’s content to create the body text.</p>

<p class="govuk-body">It will also normally include, ‘Factsheets are for guidance only and reflect HMRC’s position at the time of writing.’.</p>

<h3 class="govuk-heading-m">HTML attachment</h3>

<h4 class="govuk-heading-s">Title</h4>

<p class="govuk-body">Use the description that you’ve used in the title of the stub page. The titles can be similar but cannot be exactly the same.</p>

<p class="govuk-body">[If you’re adding one part as an HTML attachment:</p>

<p class="govuk-body">xxx [Title]: guidelines for compliance GfCx [number]</p>

<p class="govuk-body">If you’re adding multiple parts as HTML attachments include the guidelines for compliance number:</p>

<p class="govuk-body">Xxx [part] (xxx) [part number] — guidelines for compliance GfCx [number)</p>

<p class="govuk-body">Use the following as an example:</p>

<p class="govuk-body">Purpose, scope and background (part 1) — guidelines for compliance GfC3</p>

<h4 class="govuk-heading-s">Body</h4>

<p class="govuk-body">Enter the contents of the guidelines.</p>

<h3 class="govuk-heading-m">Collection page</h3>

<p class="govuk-body">Add the URL of any new page to the <a href="https://www.gov.uk/government/collections/hm-revenue-and-customs-compliance-checks-factsheets" class="govuk-link">HMRC compliance checks factsheets document collection</a>. Do not create a public change note.
</p>
