---
layout: layout-example.njk
---

<h2 class="govuk-heading-l">Yr hyn y bydd ei angen arnoch</h2>

<p class="govuk-body">
Bydd angen cyfeirnod unigryw eich trafodyn arnoch, sy’n (number) o gymeriadau (er enghraifft,xxxx). Bydd y cyfeirnod hwn bob amser yn cynnwys xx rhif a xx gymeriad.
</p>

<p class="govuk-body">
Mae hwn i’w weld ar xxx.
</p>

<p class="govuk-body">
Os byddwch yn defnyddio cyfeirnod anghywir:
</p>

<ul class="govuk-list govuk-list--bullet">
<li>bydd oedi cyn i’r taliad gael ei ddyrannu’n gywir</li>
<li>byddwch yn cael nodyn i’ch atgoffa i wneud taliad</li>
</ul>