---
title: Recognised overseas pension schemes notification list
menuText: Recognised overseas pension schemes notification list
layout: twoColumnPage.njk
---
{% from "_example.njk" import example %}

<h2 class="govuk-heading-l">When to use</h2>

<p class="govuk-body">Use this pattern when updating the <a href="https://www.gov.uk/guidance/check-the-recognised-overseas-pension-schemes-notification-list" class="govuk-link">check the recognised overseas pension schemes notification list</a>.</p>

<h2 class="govuk-heading-l">How to design using this pattern</h2>

<h3 class="govuk-heading-m">Document type</h3>

<p class="govuk-body">Detailed guide</p>

<h3 class="govuk-heading-m">How to update the list</h3>

<h4 class="govuk-heading-s">Main lists</h4>

<p class="govuk-body">Add, amend or delete the relevant entries on the main list.</p>

<h4 class="govuk-heading-s">Changes lists</h4>

<p class="govuk-body">If you’ve updated any entries in the main list, delete all the entries in the ‘Changes for [country] at [date]’ list. This list is at the end of each country you update.</p>

<p class="govuk-body">Then add any new entries in the ‘Changes for [country] at [date]’ list. For the change, use ‘Added’, ‘Amended’ or ‘Deleted’. If the name of a scheme has changed, put the old name in brackets, for example, ‘Booster SuperScheme (previously Fidelity Super-Super Plan).</p>

<p class="govuk-body">The heading date ‘Changes for [country] at [date]’ will change to reflect the publish date.</p>

{{ example({
    item: 'recognised-overseas-pension-schemes-notification-list',
    example: 'example',
    description: 'Recognised overseas pension schemes notification list',
    markdown: 'example-markdown',
    welsh: 'example-welsh',
    markdownWelsh: 'example-welsh-markdown',
    markdownOnly: true
}) }}

<h3 class="govuk-heading-m">Public change note</h3>

{{ example({
    item: 'recognised-overseas-pension-schemes-notification-list',
    example: 'change',
    description: 'Public change note',
    markdown: 'change-markdown',
    welsh: 'change-welsh',
    markdownWelsh: 'change-welsh-markdown',
    markdownOnly: true
}) }}

<p class="govuk-body">Do not include any company names in the change note.</p>