---
title: Internal header
layout: twoColumnPage.njk
status: experimental
---

{% from "_example.njk" import example %}

{% block content %}

<p class="govuk-body">This helps internal HMRC users easily tell the difference between internal and
external services.</p>

<h2 id="when-to-use" class="govuk-heading-l">When to use</h2>

<p class="govuk-body">Use the internal header when your service will only be used by internal HMRC users.</p>

<h2 id="when-not-to-use" class="govuk-heading-l">When not to use</h2>

<p class="govuk-body">Do not use the internal header for services used by the general public. For public-facing
services, use the
<a class="govuk-link" href="https://design-system.service.gov.uk/components/header/">GOV.UK header</a>.</p>

<p class="govuk-body">If you have a user need to show external users that they are dealing with HMRC, then use
the <a class="govuk-link" href="/design-library/header">HMRC header</a>.</p>

<h2 id="how-it-works" class="govuk-heading-l">How it works</h2>

<p class="govuk-body">The internal header should have:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>the HMRC logo</li>
  <li>the name of the service</li>
  <li>a green bar</li>
</ul>

{{
  example({
    item: 'internal-header',
    description: 'Internal header',
    example: 'example'
  })
}}

<h2 id="research" class="govuk-heading-l">Research</h2>

<p class="govuk-body">Initial research showed that the internal header helped users recognise they were using
an internal service. </p>

<p class="govuk-body">We need more research. If you have used the internal header, get in touch to share your
research findings.</p>

<p class="govuk-body"><a class="govuk-link" href="https://github.com/hmrc/design-patterns/issues/155">Discuss the internal header on GitHub</a></p>

{% endblock %}
