---
layout: layout-example.njk
---

<div id="hmrc-timeout-dialog" tabindex="-1" role="dialog" aria-modal="true" class="hmrc-timeout-dialog" aria-labelledby="hmrc-timeout-heading hmrc-timeout-message">
  <div>
    <h1 id="hmrc-timeout-heading" class="govuk-heading-m push--top">For your security</h1>
    <p class="govuk-body hmrc-timeout-dialog__message" aria-hidden="true">We will delete your answers in <span id="hmrc-timeout-countdown" class="hmrc-timeout-dialog__countdown">2 minutes</span>.</p>
    <p id="hmrc-timeout-message" class="govuk-visually-hidden screenreader-content" aria-live="assertive">For your security, we will delete your answers in 2 minutes.</p>
    <button id="hmrc-timeout-keep-signin-btn" class="govuk-button">Continue checking what help you can get with childcare costs</button>
    <div class="hmrc-timeout-dialog__link-wrapper">
      <a id="hmrc-timeout-sign-out-link" class="govuk-link hmrc-timeout-dialog__link" href="?lang=English">Delete your answers</a>
    </div>
  </div>
</div>
<div id="hmrc-timeout-overlay" class="hmrc-timeout-overlay"></div>
