---
layout: layout-example.njk
---

<h2 class="govuk-heading-l">Talu â siec</h2>

<p class="govuk-body">
Sicrhewch y bydd eich taliad yn cyrraedd CThEF cyn y dyddiad cau.
</p>

<p class="govuk-body">
Gwnewch eich siec yn daladwy i ‘Cyllid a Thollau EF yn unig’, ac ysgrifennwch eich cyfeirnod ar y cefn.
</p>

<p class="govuk-body">
Peidiwch â phlygu’r siec na’i glynu wrth unrhyw bapurau eraill.
</p>

<p class="govuk-body">
Gallwch gynnwys llythyr i ofyn am dderbynneb.
</p>

<p class="govuk-body">
Anfonwch eich siec i:
</p>

<p class="govuk-body" style="border-left: 1px solid #b1b4b6; padding-left: 15px; margin-bottom: 30px; margin-top: 30px;">
Address
</p>