---
layout: layout-example.njk
---
{%- from "hmrc/components/caseworker-banner/macro.njk" import hmrcCaseworkerBanner -%}

{% set html %}
  <ul class="govuk-list govuk-list--bullet">
    <li>the account balance shown on this page is restricted information, do not disclose to callers</li>
    <li><a class="govuk-link caseworker-guidance-banner__link" rel="noopener noreferrer" href="https://www.gov.uk/government/organisations/hm-revenue-customs" target="_blank">Debt management guidance (opens in new tab)</a></li>
  </ul>
{% endset %}

{{ hmrcCaseworkerBanner({
  html: html
}) }}

