---
layout: layout-example.njk
---
<div class="caseworker-guidance-banner" data-module="caseworker-guidance-banner">
  <div class="caseworker-guidance-banner__container govuk-width-container">
    <div class="caseworker-guidance-banner__text">
      <h2 class="govuk-heading-s caseworker-guidance-banner__title">
        Caseworker guidance
      </h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>the account balance shown on this page is restricted information, do not disclose to callers</li>
        <li><a class="govuk-link caseworker-guidance-banner__link" rel="noopener noreferrer" href="https://www.gov.uk/government/organisations/hm-revenue-customs" target="_blank">Debt management guidance</a> (opens in new tab)</li>
      </ul>
    </div>
  </div>
</div>