---
layout: layout-example.njk
---

{% from "govuk/components/button/macro.njk" import govukButton %}

<h1 class="govuk-heading-l">Adolygu a chadarnhau</h1>

<p class="govuk-body" translate="no">
  18 Arundel Mews<br />
  Worthing<br />
  BN11 5RG<br />
  United Kingdom
</p>

<p class="govuk-body"><a class="govuk-link" href="#">Golygu’r cyfeiriad</a></p>

  {{ govukButton({
    text: "Cadarnhau’r cyfeiriad"
  }) }}
</form>
