---
layout: layout-example.njk
---

<h2 class="govuk-heading-l">Talu drwy drosglwyddiad banc</h2>

<p class="govuk-body">
Os byddwch yn talu drwy CHAPS neu Daliadau Cyflymach, gallwch gyflwyno’ch taliad ar yr un diwrnod, neu’r diwrnod nesaf.
</p>

<p class="govuk-body">
Os byddwch yn talu drwy Bacs, dylech ganiatáu 3 diwrnod gwaith i’ch taliad gyrraedd CThEF.
</p>

<p class="govuk-body">
Dylech wneud taliadau ar wahân ar gyfer pob cyfeirnod trafodyn unigryw. 
</p>

<p class="govuk-body">
Rydym yn argymell eich bod yn gwirio amserau prosesu ac uchafswm y terfynau trosglwyddo a osodir gan eich banc cyn i chi dalu.
</p>

<h3 class="govuk-heading-m">Y manylion cyfrif i’w defnyddio os yw’ch cyfrif yn y DU</h3>

<p class="govuk-body">
Defnyddiwch y manylion canlynol i wneud taliad os yw’ch cyfrif yn y DU:
</p>

<ul class="govuk-list govuk-list--bullet">
<li>cod didoli — XX XX XX</li>
<li>rhif y cyfrif — XXXXXXXX</li>
<li>enw’r cyfrif — XXX</li>
</ul>

<h3 class="govuk-heading-m">Y manylion cyfrif i’w defnyddio os yw’ch cyfrif dramor</h3>

<p class="govuk-body">
Defnyddiwch y manylion canlynol i wneud taliad os yw’ch cyfrif dramor:
</p>

<ul class="govuk-list govuk-list--bullet">
<li>rhif y cyfrif (IBAN) — XXXX XXXX XXXX XXXX XXXX XX</li>
<li>cod adnabod y banc (BIC) — XXXXXXXX</li>
<li>enw’r cyfrif — XXX</li>
</ul>

<p class="govuk-body">
Mae’n rhaid i chi wneud pob taliad mewn punnoedd sterling (GBP).
</p>

<p class="govuk-body">
Os bydd angen, gallwch roi’r cyfeiriad canlynol fel cyfeiriad bancio CThEF i’ch banc chi:
</p>

<p class="govuk-body" style="border-left: 1px solid #b1b4b6; padding-left: 15px; margin-bottom: 30px; margin-top: 30px;">
Address
</p>