---
title: HMRC design patterns backlog
menuText: HMRC design patterns backlog
navigationPlacement: secondary
layout: twoColumnPage.njk
---

{% block content %}

<p class="govuk-body">Anyone can propose, develop or contribute to HMRC design patterns. You can propose a new pattern, or suggest an improvement to an existing one.</p>

<p class="govuk-body">These are patterns designed specifically for the needs of HMRC users. If you want to propose a new pattern for use across government, or suggest an improvement to an existing one, use the <a class="govuk-link" href="https://design-system.service.gov.uk/community/backlog/">GOV.UK Design System community backlog</a>.</p>

<p class="govuk-body">Patterns in the backlog may be:</p>

<ul class="govuk-list govuk-list--bullet">
  <li><span class="govuk-!-font-weight-bold">Proposed</span> — someone has suggested a new pattern</li>
  <li><span class="govuk-!-font-weight-bold">To do</span> — the proposed pattern has been agreed and is ready to work on</li>
  <li><span class="govuk-!-font-weight-bold">In progress</span> — someone is actively working on the pattern</li>
</ul>

{% from "govuk/components/table/macro.njk" import govukTable %}

{{
  govukTable({
    caption: 'Backlog',
    head: [
      {
        text: 'Name'
      },
      {
        text: 'Status'
      }
    ],
    rows: [
      [
        {
          html: '<a class="govuk-link" href="https://github.com/hmrc/design-patterns/issues/166">Bank details</a>'
        },
        {
          text: 'In progress'
        }
      ],
      [
        {
          html: '<a class="govuk-link" href="https://github.com/hmrc/design-patterns/issues/174">Caseworker guidance banner</a>'
        },
        {
          text: 'In progress'
        }
      ],
      [
        {
          html: '<a class="govuk-link" href="https://github.com/hmrc/design-patterns/issues/170">Copy codes</a>'
        },
        {
          text: 'Proposed'
        }
      ]
    ]
  })
}}

<p class="govuk-body"><a class="govuk-link" href="https://github.com/hmrc/design-patterns/issues/new">Propose a new pattern on the HMRC design patterns backlog</a></p>

{% endblock %}
