---
layout: layout-example.njk
---
{% block content %}

{% include "examples/file-upload/live-example/views/multiple-files/3-additional-row.njk" %}

{% endblock %}

{% block bodyend %}

<script src="assets/javascripts/components/file-upload-scripts/multipleFiles.js"></script>

{% endblock %}