---
layout: layout-example.njk
---
{% from "hmrc/components/page-heading/macro.njk"  import hmrcPageHeading %}

{{ hmrcPageHeading({
  text: 'Sorry, the service is unavailable'
}) }}

<p class="govuk-body">Universal Credit has replaced tax credits.</p>

<p class="govuk-body">
  <a class="govuk-link" href="#">Contact the Tax Credits Helpline</a> if you need to make changes to your claim or speak to someone about your tax credits.
</p>

<p class="govuk-body">
  You can:
</p>

<ul class="govuk-list govuk-list--bullet">
  <li><a class="govuk-link" href="#">find out more about Universal Credit</a></li>
  <li><a class="govuk-link" href="#">apply for Universal Credit</a></li>
  <li><a class="govuk-link" href="#">sign in to your Universal Credit account</a></li>
</ul>
