---
layout: layout-example.njk
---
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukRadios({
  classes: "govuk-radios",
  idPrefix: "business-type",
  name: "business-type",
  fieldset: {
    legend: {
      text: "What type of business are you?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
    {
      value: "limited-company",
      text: "Limited Company"
    },
    {
      value: "sole-trader",
      text: "Sole trader"
    },
      {
        value: "partnership",
        text: "Partnership"
      },
      {
        value: "trust",
        text: "Trust"
      }
  ]
}) }}

{{ govukButton({
  text: "Continue"
}) }}
