---
layout: layout-example.njk
---

{% from "govuk/components/button/macro.njk" import govukButton %}

<h2 class="govuk-caption-xl hmrc-caption-xl"><span class="govuk-visually-hidden">This section is: </span>Your details</h2>
<form action="#" method="get" novalidate>
  <div class="govuk-form-group govuk-form-group--error">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h1 class="govuk-fieldset__heading">Have you changed your name?</h1>
      </legend>
      <p class="govuk-error-message">
        <span class="govuk-visually-hidden">Error:</span> Select whether you have changed your name
      </p>
      <div class="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="changed-0" name="changed-0" type="radio" value="yes">
          <label class="govuk-label govuk-radios__label" for="changed-0">Yes</label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="changed-0-2" name="changed-0" type="radio" value="no">
          <label class="govuk-label govuk-radios__label" for="changed-0-2">No</label>
        </div>
      </div>
    </fieldset>

  {{ govukButton({
    text: "Continue"
  }) }}
</form>
