---
title: Tariff stop press notices
layout: twoColumnPage.njk
---
{% from "_codeSnippet.njk" import codeSnippet %}



<h2 class="govuk-heading-l">When to use</h2>

<p class="govuk-body">
Use this pattern to tell users about changes to the UK Trade Tariff, Customs Handling of Import and Export Freight (CHIEF), Customs Declaration Service (CDS) and monthly trade euro rate.
</p>

<h2 class="govuk-heading-l">When not to use</h2>

<p class="govuk-body">
  Do not update a tariff stop press notice after it’s been published, unless it’s to correct a typo. A new one must be issued.
</p>

<h2 class="govuk-heading-l">How to design this pattern</h2>

<h3 class="govuk-heading-m">Document type</h3>

<p class="govuk-body">Detailed guide</p>

<h3 class="govuk-heading-m">Title</h3>

<p class="govuk-body">Enter ‘[Description] (Tariff stop press notice [number])’.
</p>

<h3 class="govuk-heading-m">Body</h3>

<p class="govuk-body">
Copy the contents of the tariff stop press notice, then add the following paragraphs.</p>

  {{
    codeSnippet({
      code: '## More information

To stop getting the Tariff stop press notices, or to add recipients to the distribution list, email: <tariff.management@hmrc.gov.uk>.

See the [UK Trade Tariff](https://www.gov.uk/trade-tariff) for the full duty rate, unit of quantity, preferences, quotas, footnotes and VAT rate.',
      canCopy: true
    })
  }}

<div class="govuk-inset-text">
   Do not include other links that might appear at the end of source document, like links to UK trade tariffs volumes 1 and 3, or Tariff and CHIEF stop press notices.
</div>

<h3 class="govuk-heading-m">Collection page</h3>

<p class="govuk-body">
Add the document to the <a href="https://www.gov.uk/government/collections/tariff-stop-press-notices" class="govuk-link">Tariff stop press notices collection</a>. Do not create a public change note.
</p>
