---
layout: layout-example.njk
---
{% from "govuk/components/button/macro.njk" import govukButton %}

<h3 class="govuk-heading-l">Approve a payment through your online bank account</h3>

<p class="govuk-body">
You can pay by approving a payment through your online bank account by selecting the ‘pay by bank account’ option.
</p>

<p class="govuk-body">
You will be directed to sign in to your online or mobile banking account to approve your payment.
</p>

<p class="govuk-body">
The payment is usually instant but can sometimes take up to 2 hours to show in your account.
</p>