---
layout: layout-example.njk
---

{% from "govuk/components/input/macro.njk" import govukInput %}

{{ govukInput({
  label: {
    text: "Postcode"
  },
  classes: "govuk-input--width-10",
  id: "postcode",
  name: "postcode",
  errorMessage: {
    text: "Postcode can only contain letters a to z, numbers 0 to 9 or spaces"
  },
  autocomplete: "postal-code"
}) }}