---
layout: layout-example.njk
---

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

<h1 class="govuk-heading-l">What is your Corporation Tax Unique Taxpayer Reference (UTR)?</h1>

<p class="govuk-body"><a class="govuk-link" rel="noreferrer noopener" target="_blank" href="https://www.gov.uk/find-lost-utr-number">Find a lost UTR (opens in new tab)</a>.</p>

<!-- The below line of code is a subsititute for the empty hint: html: text below which is where this text should be but unsure how to add a link there -->
<p class="govuk-body">Your UTR can be 10 or 13 digits long. You can find it in your <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="https://www.gov.uk/find-lost-utr-number">Personal Tax Account</a>, on tax returns and other documents from HMRC. It might be called ‘reference’, ‘UTR’ or ‘official use’.</p>

{{
  govukInput({
    label: {
      text: "What is your Corporation Tax Unique Taxpayer Reference?",
      isPageHeading: false,
      classes: "govuk-visually-hidden"
    },
    hint: {
      html: ''
    },
    id: "utr",
    name: "utr",
    classes: "govuk-input--width-10"
  })
}}

{{ govukButton({
  text: "Continue"
}) }}
