---
title: Guidance for designers
pageHeading: Guidance for designers
layout: twoColumnPage.njk
---
{% from "hmrc/components/page-heading/macro.njk" import hmrcPageHeading %}

<p class="govuk-body">In this section, you’ll find guidance for designers working in HMRC.</p>

<p class="govuk-body">It focuses on things you need to do day to day like:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>getting set up</li>
  <li>working with tools</li>
  <li>ways of working</li>
  <li>understanding how we do design in HMRC</li>
</ul>

<p class="govuk-body">Use this alongside the <a href="https://www.gov.uk/service-manual" class="govuk-link">Government Service Manual</a>.</p>

<h2 class="govuk-heading-l">How this guidance is developing</h2>

<p class="govuk-body">We’re building this guidance by bringing together existing content that sits across multiple platforms. Over time, we’ll continue to improve and expand it with support from the design community, so you’ll see this section grow and evolve as our work progresses.</p>

<p class="govuk-body">A small working group will:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>identify which guidance to include</li>
  <li>help shape the structure and navigation</li>
  <li>work with the community to improve and expand the content</li>
</ul>

<p class="govuk-body">We’re publishing a roadmap so you can see what we’re working on and what’s coming next.</p>

<h2 class="govuk-heading-l">Our roadmap</h2>

<p class="govuk-body">This roadmap explains what we’re doing to develop guidance for designers.</p>

<h3 class="govuk-heading-m">Working on now </h3>

<ul class="govuk-list govuk-list--bullet">
  <li>Audit existing guidance and resources across platforms</li>
  <li>Define the structure of guidance for designers</li>
  <li>Set up an editorial approach for creating, reviewing and maintaining content</li>
  <li>Move existing guidance into this section, and retiring content that’s no longer needed</li>
</ul>

<h3 class="govuk-heading-m">Coming up next</h3>

<ul class="govuk-list govuk-list--bullet">
  <li>Update interaction design prototype guidance (version 2)</li>
  <li>Publish the HMRC content design strategy</li>
</ul>

<h3 class="govuk-heading-m">Future plans</h3>

<ul class="govuk-list govuk-list--bullet">
  <li></li>
</ul>

<h2 class="govuk-heading-l">Get involved</h2>

<p class="govuk-body">If you have:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>feedback on existing guidances</li>
  <li>ideas for new guidance</li>
  <li>guidance you’d like to see included</li>
</ul>

<p class="govuk-body">You can contribute by XYZ…</p>
