---
layout: layout-example.njk
---

{% from "components/hmrc-input-currency/macro.njk" import hmrcInputCurrency with context %}
{% from "govuk/components/button/macro.njk" import govukButton %}

        {{ hmrcInputCurrency({
            name: "currency",
            id: "currency",
            label: {
                text: "How much does your employer pay towards this?"
            },
            errorMessage: {
                text: "Enter the amount in whole pounds"
            },
            hint: {
                text: "Enter the amount rounding up to the next whole pound, for example £12.34 rounds up to £13"
            },
            classes: "govuk-input--width-10",
            autocomplete: "off",
            wholepounds: "true"
            })
        }}

{{ govukButton({
  text: "Continue"
}) }}
