---
layout: layout-example.njk
---
{%- from "hmrc/components/add-to-a-list/macro.njk" import hmrcAddToAList -%}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{
      hmrcAddToAList({
        itemList: [
          {
            name: 'receipt1.jpg',
            changeUrl: '#',
            removeUrl: '#'
          },
          {
            name: 'receipt2.jpg',
            changeUrl: '#',
            removeUrl: '#'
          }
        ],
        itemType: {
          singular: 'receipt',
          plural: 'receipts',
          formAction: '#'
        },
        messages: {
          yes: 'Yes',
          no: 'No'
        }
      })
    }}
  </div>
</div>
