---
layout: layout-example.njk
---
{% block content %}

{% include "examples/file-upload/live-example/views/file-types/2-type-question-declaration.html" %}

{% endblock %}

{% block bodyend %}

<script src="/assets/javascripts/file-upload-scripts/fileTypes.js"></script>

{% endblock %}