---
title: "Forms: check which document type to use"
status: archived
menuText: "Forms: check which document type to use"
layout: twoColumnPage.njk
---

<p class="govuk-body">
When adding a form to a GOV.UK page, you must decide whether to use a detailed guide or publication document type.
</p>

<h2 class="govuk-heading-l">When to use a detailed guide</h2>

<p class="govuk-body">
You will normally <a href="/patterns-hmrc-govuk-team/forms-detailed-guide/" class="govuk-link">use a detailed guide</a> when: 
</p>

<ul class="govuk-list govuk-list--bullet">
<li>the form is an alternative way to complete a task (and the main way to complete the task is covered in a detailed guide)</li>
<li>we want the user to read guidance about the task before they complete the form</li>
<li>the form is the way a user completes the task covered in the detailed guide</li>
</ul>

<h2 class="govuk-heading-l">When to use a publication</h2>

<p class="govuk-body">
You will normally <a href="/patterns-hmrc-govuk-team/forms-publication/" class="govuk-link">use a publication</a> when the form:
</p>

<ul class="govuk-list govuk-list--bullet">
<li>could be used and linked to from multiple pieces of guidance</li>
<li>may be used multiple times by the same user and that the priority is getting access to the form, rather than any guidance that may sit around it</li>
</ul>

<p class="govuk-body">
Do not use a publication if you need the users to read any information on the page before they access the form.
</p>