//govuk-frontend dependencies
@import 'node_modules/govuk-frontend/govuk/all';

//hrmc-frontend dependencies
@import 'node_modules/hmrc-frontend/hmrc/all';

// HMRC Design System Base Styles template
@import 'settings/colours';
@import 'settings/images';

@import 'objects/width-container';

@import 'components/content';
@import 'components/cookie-banner';
@import 'components/header';
@import 'components/logo';
@import 'components/hmrc-internal-header';
@import 'components/pane';
@import 'components/subnav';
@import 'components/collapsible-subsections';
@import 'components/card';
@import 'components/example';
@import 'components/tabs';
@import 'components/highlight';
@import 'components/footer';
@import 'components/codeSnippet';
@import 'components/copy-button';
@import 'components/overrides';
@import 'components/notification-banner';
