---
layout: layout-example.njk
---
{% from "govuk/components/button/macro.njk" import govukButton %}


<p class="govuk-body">The next sentence has force of law under regulation 3 of the Example Regulations 1995.</p>

<p class="govuk-body">If a set of software programs, products or applications are used as functional compatible software there must be a digital link between these pieces of software.</p>
