---
title: Pay for a tax, duty, levy or grant
menuText: Pay for a tax, duty, levy or grant
layout: twoColumnPage.njk
---
{% from "_example.njk" import example %}

<h2 class="govuk-heading-l">When to use</h2>

<p class="govuk-body">
Use this pattern when a user needs to pay for a tax, duty, levy or grant.
</p>

<p class="govuk-body">
For an example of the pattern in use, go to <a href="https://www.gov.uk/guidance/pay-stamp-duty-land-tax" class="govuk-link">Pay Stamp Duty Land Tax</a>.
</p>

<h2 class="govuk-heading-l">How to design using this pattern</h2>

<h3 class="govuk-heading-m">Document type</h3>

<p class="govuk-body">Detailed guide</p>

<h3 class="govuk-heading-m">Title</h3>

<p class="govuk-body">
    'Pay' or 'Repay', followed by the name of the tax, duty, levy, or grant.
    </p>

<h3 class="govuk-heading-m">Summary</h3>

<p class="govuk-body">
    ‘How to pay [the name of the tax, duty, levy or grant], and how long it takes for your payment to reach HMRC’.
</p>

<h3 class="govuk-heading-m">Body</h3>

<p class="govuk-body">
There are 5 optional payment methods that you may need to include:
</p>

<ol class="govuk-list govuk-list--number">
    <li>Pay through your online bank account</li>
    <li>Pay by Direct Debit </li>
    <li>Pay by debit or corporate credit card </li>
    <li>Pay by bank transfer (this can include payments for both UK and overseas accounts)</li>
    <li>Pay by cheque</li>
  </ol>

<h3 class="govuk-heading-m">Headings and sub-headings</h3>
<p class="govuk-body">
You may not need to include every option and can omit the sections accordingly.
</p>

<p class="govuk-body">
Do not include numbers in section headings.
</p>
<h4 class="govuk-heading-m">When to pay</h4>
<p class="govuk-body">
Begin by adding a heading 2 for ‘When to pay’ and add either:
</p>

<ul class="govuk-list govuk-list--bullet">
<li>guidance on how users can find out when they should pay</li>
<li>a timeline of when the payment must be made</li>
</ul>

<p class="govuk-body">
Then include the following:
</p>

{{ example({
    item: 'pay-for-a-tax',
    example: 'when-to-pay',
    description: 'When to pay',
    markdown: 'when-to-pay-markdown',
    welsh: 'when-to-pay-welsh',
    markdownWelsh: 'when-to-pay-welsh-markdown',
    markdownOnly: true
}) }}

{{ example({
    item: 'pay-for-a-tax',
    example: 'what-you-need',
    description: 'What you need',
    markdown: 'what-you-need-markdown',
    welsh: 'what-you-need-welsh',
    markdownWelsh: 'what-you-need-welsh-markdown',
    markdownOnly: true
}) }}

<h3 class="govuk-heading-m">Green button for online payment methods</h3>
<p class="govuk-body">For accessibility the green ‘pay now’ button must be under a heading and section that refers to all online payment methods. This is so screen reader users understand that the button applies to all payment methods under this heading.
</p>

{{ example({
    item: 'pay-for-a-tax',
    example: 'pay-online-with-green-button',
    description: 'Pay online',
    markdown: 'pay-online-with-green-button-markdown',
    welsh: 'bank-transfer-welsh',
    markdownWelsh: 'bank-transfer-welsh-markdown',
    markdownOnly: true
}) }}

<h3 class="govuk-heading-m">Online payment methods</h3>
<p class="govuk-body">Start with the businesses’ preferred method, through your bank account, and follow with Direct Debit, if customers can pay that way.
    </p>
    {{ example({
        item: 'pay-for-a-tax',
        example: 'approve-a-payment-through-your-online-bank-account',
        description: 'Approve a payment through your online bank account',
        markdown: 'approve-a-payment-through-your-online-bank-account-markdown',
        welsh: 'bank-transfer-welsh',
        markdownWelsh: 'bank-transfer-welsh-markdown',
        markdownOnly: true
    }) }}
    <p class="govuk-body">If there are two ways to pay by Direct Debit, separate the methods by using a heading 3. If only one method can be used, a heading will not be needed.</p>
{{ example({
    item: 'pay-for-a-tax',
    example: 'pay-online',
    description: 'Pay online',
    markdown: 'pay-online-markdown',
    welsh: 'pay-online-welsh',
    markdownWelsh: 'pay-online-welsh-markdown',
    markdownOnly: true
}) }}

{{ example({
    item: 'pay-for-a-tax',
    example: 'make-a-single-payment',
    description: 'Make a single payment',
    markdown: 'make-a-single-payment-markdown',
    welsh: 'what-you-need-welsh',
    markdownWelsh: 'what-you-need-welsh-markdown',
    markdownOnly: true
}) }}

{{ example({
    item: 'pay-for-a-tax',
    example: 'pay-by-debit-or-corporate-credit-card',
    description: 'Pay by debit or corporate credit card',
    markdown: 'pay-by-debit-or-corporate-credit-card-markdown',
    welsh: 'bank-transfer-welsh',
    markdownWelsh: 'bank-transfer-welsh-markdown',
    markdownOnly: true
}) }}

<h3 class="govuk-heading-m">Pay by bank transfer</h3>
<p class="govuk-body">Separate UK and overseas account details using a heading 3. If there is only one option available, a heading will not be needed.</p>

{{ example({
    item: 'pay-for-a-tax',
    example: 'bank-transfer',
    description: 'Pay by bank transfer',
    markdown: 'bank-transfer-markdown',
    welsh: 'bank-transfer-welsh',
    markdownWelsh: 'bank-transfer-welsh-markdown',
    markdownOnly: true
}) }}
<h3 class="govuk-heading-m">Pay by cheque</h3>
{{ example({
    item: 'pay-for-a-tax',
    example: 'cheque',
    description: 'Pay by cheque',
    markdown: 'cheque-markdown',
    welsh: 'cheque-welsh',
    markdownWelsh: 'cheque-welsh-markdown',
    markdownOnly: true
}) }}
