---
title: Pay for a tax, duty, levy or grant
menuText: Pay for a tax, duty, levy or grant
layout: twoColumnPage.njk
status: development
---
{% from "_codeSnippet.njk" import codeSnippet %}

<h2 class="govuk-heading-l">When to use</h2>

<p class="govuk-body">
Use this pattern when a user needs to pay for a tax, duty, levy or grant.
</p>

<p class="govuk-body">
For an example of the pattern in use, go to ‘<a href="https://www.gov.uk/guidance/pay-stamp-duty-land-tax" class="govuk-link">Pay Stamp Duty Land Tax</a>’.
</p>

<h2 class="govuk-heading-l">How to design CVS rates on GOV.UK</h2>

<h3 class="govuk-heading-m">Document type</h3>

<p class="govuk-body">Detailed guide</p>

<h3 class="govuk-heading-m">Publication</h3>

<h4 class="govuk-heading-s">Title</h4>

<p class="govuk-body">
The title should start with:
</p>

<p class="govuk-body">
‘Pay …’
</p>

<p class="govuk-body">
‘Repay …’
</p>

<p class="govuk-body">
Followed by the name of the tax, duty, levy or grant.
</p>

<h4 class="govuk-heading-s">Summary</h4>

<p class="govuk-body">
The summary should be: ‘How to pay xxxx, and how long it takes for your payment to reach HMRC’.
</p>

<h4 class="govuk-heading-s">Body</h4>

<p class="govuk-body">
There are 3 optional payment methods that you may need to include:
</p>

<ul class="govuk-list govuk-list--bullet">
<li>Pay online</li>
<li>Pay by bank transfer (this can include payments for both UK and overseas accounts)</li>
<li>Pay by cheque</li>
</ul>

<p class="govuk-body">
You may not need to include every option and can omit the sections accordingly.
</p>

<p class="govuk-body">
Enter the contents in the following order and by using the following text.
</p>

<p class="govuk-body">
Do not include numbers in section headings.
</p>










<h4 class="govuk-heading-s">Details</h4>

{{
    codeSnippet({
      code: '^Find [exchange rates in XML format for software developers](http://www.hmrc.gov.uk/softwaredevelopers/2021-exrates.html).^

You should use these exchange rates if you have to convert any foreign currency to sterling for customs and VAT purposes.
',
      canCopy: true
    })
  }}

