---
layout: layout-example.njk
---
{% from "hmrc-new-tab-link/macro.njk" import hmrcNewTabLink %}

{{ hmrcNewTabLink({
  language: "cy",
  text: "Mae hwn yn ddolen",
  href: "https://www.gov.uk/working-tax-credit/eligibility",
  classList: ""
}) }}
