{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/tag/macro.njk" import govukTag %}

<div class="govuk-width-container">

  {% block content %}

  <h1 class="govuk-heading-xl">Upload receipts</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div id="file-upload-1-hint" class="govuk-hint">
          You can upload your receipt as a scanned copy or photo of the original. The selected file must be smaller than 100MB.
      </div>
      <div class="aria-live-container" id="ariaLiveContainer" aria-live="polite">
      {{ govukButton({
        id: "uploadAnotherReceiptButton",
        text: "Upload another receipt",
        classes: "govuk-button--secondary"
      }) }}
      </div>
      <p class="govuk-body" id="refreshText">
        <a href="./2-upload-additional-files.html" class="govuk-link">Refresh page to see update of uploading files.</a>
      </p>

      <div class="govuk-visually-hidden" aria-live="polite" id="statusInformation">
        {{data['completed']}} of {{data['total']}} files uploaded.
      </div>

      {{ govukSummaryList({
            classes: 'govuk-summary-list--long-key',
            attributes: {
              "id": "uploadingList"
            },
            rows: [
              {
                classes: "file1",
                key: {
                  text: "fileNumber1.jpg"
                },
                value: {
                  text: govukTag({ text: "uploading", classes: "govuk-tag--yellow" })
                },
                actions: {
                  items: [
                    {
                      classes: "file1",
                      href: "javascript:removeFileSetup()",
                      text: "Remove",
                      visuallyHiddenText: "fileNumber1.jpg"
                    }
                  ]
                }
              }, 
              {
                classes: "file2",
                key: {
                  text: "fileNumber2.jpg"
                },
                value: {
                  text: govukTag({ text: "uploading", classes: "govuk-tag--yellow" })
                },
                actions: {
                  items: [
                    {
                      classes: "file2",
                      href: "javascript:removeFileSetup()",
                      text: "Remove",
                      visuallyHiddenText: "fileNumber2.jpg"
                    }
                  ]
                }
              },
              {
                classes: "file3",
                key: {
                  text: "fileNumber3.jpg"
                },
                value: {
                  text: govukTag({ text: "uploading", classes: "govuk-tag--yellow" })
                },
                actions: {
                  items: [
                    {
                      classes: "file3",
                      href: "javascript:removeFileSetup()",
                      text: "Remove",
                      visuallyHiddenText: "fileNumber3.jpg"
                    }
                  ]
                }
              },
              {
                classes: "file4",
                key: {
                  text: "fileNumber4.jpg"
                },
                value: {
                  text: govukTag({ text: "uploading", classes: "govuk-tag--yellow" })
                },
                actions: {
                  items: [
                    {
                      classes: "file4",
                      href: "javascript:removeFileSetup()",
                      text: "Remove",
                      visuallyHiddenText: "fileNumber4.jpg"
                    }
                  ]
                }
              }
            ]
          }) }}

      {{ govukButton({
        text: "Continue"
      }) }}
    </div>
  </div>
</div>
{% endblock %}
