{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/tag/macro.njk" import govukTag %}

<div class="govuk-width-container">

  {% block content %}

  <h1 class="govuk-heading-xl">Upload receipts</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div id="file-upload-1-hint" class="govuk-hint">
          You can upload your receipt as a scanned copy or photo of the original. The selected file must be smaller than 100MB.
      </div>
      <div class="aria-live-container" id="ariaLiveContainer" aria-live="polite">
      {{ govukButton({
        id: "uploadAnotherReceiptButton",
        text: "Upload another receipt",
        classes: "govuk-button--secondary",
        href: "./1-upload-a-file.html"
      }) }}
      </div>
      <p class="govuk-body" id="refreshText">
        <a href="./4-uploaded.html" class="govuk-link">Refresh page to see update of uploading files.</a>
      </p>

      <div class="govuk-visually-hidden" aria-live="polite" id="statusInformation">
        {{data['completed']}} of {{data['total']}} files uploaded.
      </div>

      {{ govukSummaryList({
            classes: 'govuk-summary-list--long-key',
            attributes: {
              "id": "uploadingList"
            },
            rows: [
              {
                key: {
                  html: '<div class="govuk-form-group govuk-form-group--error">fileNumber1.jpg<p id="not-uploaded-error" class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span> The selected file has not fully uploaded</p></div>'
                },
                value: {
                  text: govukTag({ text: "uploading", classes: "govuk-tag--yellow" })
                },
                actions: {
                  items: [
                    {
                      href: "#",
                      text: "Remove",
                      visuallyHiddenText: "fileNumber1.jpg"
                    }
                  ]
                }
              }, 
              {
                key: {
                  html: '<div class="govuk-form-group govuk-form-group--error">fileNumber2.jpg<p id="not-uploaded-error" class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span> The selected file has not fully uploaded</p></div>'
                },
                value: {
                  text: govukTag({ text: "uploading", classes: "govuk-tag--yellow" })
                },
                actions: {
                  items: [
                    {
                      href: "#",
                      text: "Remove",
                      visuallyHiddenText: "fileNumber2.jpg"
                    }
                  ]
                }
              },
              {
                key: {
                  html: '<div class="govuk-form-group govuk-form-group--error">fileNumber3.jpg<p id="not-uploaded-error" class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span> The selected file has not fully uploaded</p></div>'
                },
                value: {
                  text: govukTag({ text: "uploading", classes: "govuk-tag--yellow" })
                },
                actions: {
                  items: [
                    {
                      href: "#",
                      text: "Remove",
                      visuallyHiddenText: "fileNumber3.jpg"
                    }
                  ]
                }
              },
              {
                key: {
                  html: '<div class="govuk-form-group govuk-form-group--error">fileNumber4.jpg<p id="not-uploaded-error" class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span> The selected file has not fully uploaded</p></div>'
                },
                value: {
                  text: govukTag({ text: "uploading", classes: "govuk-tag--yellow" })
                },
                actions: {
                  items: [
                    {
                      href: "#",
                      text: "Remove",
                      visuallyHiddenText: "fileNumber4.jpg"
                    }
                  ]
                }
              }
            ]
          }) }}

      {{ govukButton({
        text: "Continue",
        href: "./3-additional-row.html"
      }) }}
    </div>
  </div>
</div>
{% endblock %}
