---
layout: layout-example.njk
---

{% from "components/hmrc-input-currency/macro.njk" import hmrcInputCurrency with context %}
{% from "govuk/components/button/macro.njk" import govukButton %}

        {{ hmrcInputCurrency({
            name: "currency",
            id: "currency",
            label: {
                text: "How much does your employer pay towards this?"
            },
            errorMessage: {
                text: "Enter the amount in pounds and pence"
            },
            hint: {
                text: "Enter the amount in pounds and pence, for example £30.00 or £50.99"
            },
            classes: "govuk-input--width-10",
            autocomplete: "off"
            })
        }}

{{ govukButton({
  text: "Continue"
}) }}
