---
title: HMRC email updates, videos, webinars and community forums
menuText: "HMRC email updates, videos, webinars and community forums"
layout: twoColumnPage.njk
---
{% from "_example.njk" import example %}
{% from "_codeSnippet.njk" import codeSnippet %}

<h2 class="govuk-heading-l">When to use</h2>

<p class="govuk-body">Use this pattern to design new or existing content that includes email updates, videos, webinars and community forums. It may also sometimes include e-learning and guidance.</p>

<h2 class="govuk-heading-l">When not to use</h2>

<p class="govuk-body">Do not use this pattern if you’re just <a href="https://www.gov.uk/guidance/how-to-publish-on-gov-uk/markdown#video" class="govuk-link">adding a video to a piece of guidance</a>.</p>

<h2 class="govuk-heading-l">How to design using this pattern</h2>

<div class="govuk-inset-text">Review the whole page each time you make a change to this content so it follows this pattern.</div>

<h3 class="govuk-heading-m">Document type</h3>

<p class="govuk-body">Detailed guide</p>

<h3 class="govuk-heading-m">Title</h3>

<p class="govuk-body">The title should:</p>

<ul class="govuk-list govuk-list--bullet">
    <li>list the products in the order they appear on the page</li>
    <li>describe the topic or audience</li>
</ul>

  {{
    codeSnippet({
      code: 'HMRC email updates, videos and webinars [about/for/for the/if] [topic or audience]',
      canCopy: true
    })
  }}

<p class="govuk-body">For example: ‘HMRC email updates, videos and webinars for VAT’.</p>

<h3 class="govuk-heading-m">Summary</h3>

<p class="govuk-body">The summary should start with ‘Learn more about...’ and then explain what the guidance is about.</p>

<p class="govuk-body">For example:</p>

<ul class="govuk-list govuk-list--bullet">
    <li>‘Learn more about paying tax and keeping records as a property landlord.’</li>
    <li>‘Learn more about VAT including accounting schemes, VAT returns and keeping records.’</li>
</ul>

<h3 class="govuk-heading-m">Body</h3>

<p class="govuk-body">Do not include numbers in section headings.</p>

<h4 class="govuk-heading-s">Introductory text</h4>

<p class="govuk-body">Use this introductory text on all pages:</p>


  {{
    codeSnippet({
      code: '## Subscribe to receive email updates

Subscribe to the [HMRC help and support email service](https://subscriptions.hmrc.gov.uk/) to get information on a wide range of topics for individuals, businesses, employers and agents.

You can also:

* make changes to your topic subscriptions
* unsubscribe from the service whenever you want

## Registering and joining webinars

You can register for webinars in advance but we recommend you join each webinar 5 minutes before the start.',
      canCopy: true
    })
  }}

<h3 class="govuk-heading-m">How to format the text</h3>

<h4 class="govuk-heading-s">Order of learning products</h4>

<p class="govuk-body">List products in this order:</p>

<ol class="govuk-list govuk-list--number">
    <li>YouTube videos</li>
    <li>upcoming webinars</li>
    <li>recorded webinars</li>
    <li>e-learning or guidance</li>
    <li>HMRC community forums</li>
</ol>

<p class="govuk-body">Use descriptive level 2 headings to tell the user what they will learn.</p>

<p class="govuk-body">Below the heading, describe the action users will take and what they will learn. Then link to the product.</p>

<p class="govuk-body">After that, link to relevant guidance (if appropriate).</p>

<h4 class="govuk-heading-s">Linking to YouTube videos on most pages</h4>

   {{
    codeSnippet({
      code: '## [sub topic]

Watch a video [about/to find out] [sub topic].

[Title of video](link).

You will [find out/learn about]:

* [detail]
* [detail]',
      canCopy: true
    })
  }}

<p class="govuk-body">For example:</p>

<p class="govuk-body">## Managing your tax credits</p>

<p class="govuk-body">Watch a video about how to manage your tax credits.</p>

<p class="govuk-body">[How do I manage my tax credits?](https://youtu.be/NhOCUkYy-54)</p>

<p class="govuk-body">You will find out how to manage your tax credits to get the money you’re entitled to and how to:</p>

<ul class="govuk-list govuk-list--bullet">
    <li>identify what qualifies as a change of circumstance</li>
    <li>inform HMRC of a change of circumstance</li>
    <li>understand what you need to do throughout the lifetime of your tax credits claim</li>
</ul>

<h4 class="govuk-heading-s">Linking to YouTube videos on international trade and UK transition pages</h4>

<p class="govuk-body">On international trade and UK transition pages, use this example instead:</p>

 {{
    codeSnippet({
      code: '## [topic]

### [video title]

Watch a video [about/to find out] [sub topic].

[Title of video](link).

You will [find out/learn about]:

* [detail]
* [detail]',
      canCopy: true
    })
  }}

<h4 class="govuk-heading-s">Linking to a collection of YouTube videos</h4>

  {{
    codeSnippet({
      code: '## [sub topic]

Watch a collection of videos [about/to find out] [sub topic].

[Title of video](link).

You will [find out/learn about]:

* [detail]
* [detail]',
      canCopy: true
    })
  }}

<p class="govuk-body">For example:</p>

<p class="govuk-body">## If you’re a new employer</p>

<p class="govuk-body">Watch a collection of videos to find out what to do if you’re a new employer.</p>

<p class="govuk-body">[Help for new employers](https://www.youtube.com/playlist?list=PL8EcnheDt1ziNJiGE_vbF8M8XPaIgqhHI).</p>

<p class="govuk-body">You will learn about:</p>

<p class="govuk-body">* P2 tax notices, including what you need to do if you receive one</p>

<p class="govuk-body">* payroll software and how to use it to send reports to HMRC</p>

<p class="govuk-body">* how to deal with payments to previous employees</p>

<p class="govuk-body">* how to deal with a change to an employee’s payroll ID</p>

<p class="govuk-body">* submitting Earlier Year Updates (EYUs)</p>

<p class="govuk-body">* when and how to pay PAYE</p>

<p class="govuk-body">* HMRC support if you’re unable to pay a tax debt</p>

<h4 class="govuk-heading-s">Linking to upcoming webinars</h4>


 {{
    codeSnippet({
      code: '## [sub topic]

### [Live webinar]
      
      Register for the next [live webinar about [sub topic]](link).

You will [find out/learn about]:

* [detail]
* [detail]',
      canCopy: true
    })
  }}

<p class="govuk-body">For example:</p>

<p class="govuk-body">## New VAT reverse charge for construction services</p>

<p class="govuk-body">### Live webinar</p>

<p class="govuk-body">Register for the next [live webinar on the new VAT reverse charge for construction services](link).</p>

<p class="govuk-body">If you’re in the Construction Industry Scheme, you will find out:</p>

<p class="govuk-body">* if the changes affect you</p>

<p class="govuk-body">* how the changes could impact your cashflow</p>

<p class="govuk-body">* how to prepare for the change</p>

<h4 class="govuk-heading-s">Multiple webinars on the same sub topic</h4>

<p class="govuk-body">
If you're publishing a live webinar that supersedes an existing webinar that has been recorded, and both will be listed under the same topic area:
</p>

<ul class="govuk-list govuk-list--bullet">
    <li>remove the bulleted list under the ‘recorded’ webinar</li>
    <li>add the bulleted list to the ‘live’ webinar only</li>
</ul>

{{ example({
    item: 'hmrc-content',
    example: 'multiple',
    description: 'Multiple webinars on the same sub topic',
    markdown: 'multiple-markdown',
    markdownOnly: true
}) }}

<h4 class="govuk-heading-s">Linking to recorded webinars</h4>

  {{
    codeSnippet({
      code:
'## [sub topic]

### [Live webinar]

### Recorded webinar

Watch a [recorded webinar about [sub topic]](link).

You will [find out/learn about]:

* [detail]
* [detail]',
      canCopy: true
    })
  }}

<p class="govuk-body">
For example:
</p>

<p class="govuk-body">## How to do your VAT Return</p>

<p class="govuk-body">### Recorded webinar</p>

<p class="govuk-body">Watch a [recorded webinar about VAT Returns](link).</p>

<p class="govuk-body">You will learn about:</p>

<p class="govuk-body">* how and when to send your VAT Return</p>

<p class="govuk-body">* useful tips on how to complete a VAT Return</p>

<h4 class="govuk-heading-s">Linking to e-learning</h4>

<p class="govuk-body">Publish the e-learning in Documentum then add a link in the guidance.</p>

  {{
    codeSnippet({
      code: 'Complete an [e-learning course about [sub topic]](link).

You will learn about:

* [detail]
* [detail]',
      canCopy: true
    })
  }}

<p class="govuk-body">For example:</p>

<p class="govuk-body">## Accounting schemes</p>

<p class="govuk-body">Complete an [e-learning course about accounting services](link).</p>

<p class="govuk-body">You will learn about:</p>

<p class="govuk-body">* Cash Accounting Scheme</p>

<p class="govuk-body">* Flat Rate Scheme (FRS)</p>

<p class="govuk-body">* Annual Accounting Scheme</p>

<h4 class="govuk-heading-s">Linking to related videos, webinars and guidance</h4>

  {{
    codeSnippet({
      code: '## More information

Watch more [videos and webinars about related topic](link).

[Find out/Learn] more about [related topic](link).',
      canCopy: true
    })
  }}

<p class="govuk-body">For example:</p>

<p class="govuk-body">Watch more [videos and webinars about the Construction Industry Scheme](link).</p>

<p class="govuk-body">Find out more about [Inheritance Tax](link).</p>

<h4 class="govuk-heading-s">Linking to the HMRC community forums</h4>

<p class="govuk-body">Always include this text at the bottom of the page:</p>

  {{
    codeSnippet({
      code: '## HMRC community forums

You can use the [online HMRC community forums to ask questions](https://community.hmrc.gov.uk/), see what others are asking and get answers.',
      canCopy: true
    })
  }}

<h3 class="govuk-heading-m">Collection page</h3>

<p class="govuk-body">Add the URL of any new page to the <a href="https://www.gov.uk/government/collections/hmrc-webinars-email-alerts-and-videos" class="govuk-link">HMRC email updates, videos, webinars and community forums collection</a>. Do not create a public change note.</p>

<h4 class="govuk-heading-s">Associations and specialist sector tags</h4>

<p class="govuk-body">The collection page must be tagged to HMRC > Money > Dealing with HMRC.</p>