---
layout: layout-example.njk
---
{% from "hmrc/components/page-heading/macro.njk"  import hmrcPageHeading %}

{{ hmrcPageHeading({
  text: 'Mae’n ddrwg gennym, ond nid yw’r gwasanaeth hwn ar gael ar hyn o bryd'
}) }}

<p class="govuk-body">Byddwch yn gallu adnewyddu’ch credydau treth o Ddydd Mawrth 24 Ebrill 2018 ymlaen.</p>

<p class="govuk-body">
  Gallwch <a class="govuk-link" href="#">ddefnyddio’r gwasanaeth credydau treth</a> i wneud y canlynol:
</p>

<ul class="govuk-list govuk-list--bullet">
  <li>cael rhagor o wybodaeth am eich taliadau</li>
  <li>gweld pwy sydd ar eich cais</li>
  <li>gwneud newidiadau i’ch cais</li>
</ul>
