---
title: Where to go for support
layout: twoColumnPage.njk
---

<p class="govuk-body">You can get support with HMRC-specific patterns from the <a href="https://hmrcdigital.slack.com/archives/C014S77JCJW?name=C014S77JCJW#" class="govuk-link">HMRC Design Resources team</a> on <a href="https://hmrcdigital.slack.com/archives/C014S77JCJW?name=C014S77JCJW#" class="govuk-link">HMRC Slack at #team-design-system</a>. Service patterns have a link to the discussions on <a href="https://github.com/hmrc/design-patterns/issues" class="govuk-link">HMRC Github issues</a>.</p>

<p class="govuk-body">For wider government patterns and components, <a href="https://hmrcdigital.slack.com/archives/C014S77JCJW?name=C014S77JCJW#" class="govuk-link">contact the GOV.UK Design System Team</a> on cross-government Slack.</p>

<h2 class="govuk-heading-l">Contribute</h2>

<p class="govuk-body">If you have a question, idea or suggestion:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>Get in touch to propose new patterns or share your knowledge: design.resources-g@digital.hmrc.gov.uk</li>
  <li><a href="https://hmrcdigital.slack.com/archives/C014S77JCJW" class="govuk-link">get in touch through Slack (opens in app if you have it)</a></li>
</ul>
