---
title: Where to go for support
layout: twoColumnPage.njk
status: development
---

<p class="govuk-body">HMRC’s design community can help you with most prototyping questions. Here are the best channels to use to ask for help.</p>

<h2 class="govuk-heading-l">Start with your programme</h2>

<p class="govuk-body">Speak to a Senior Interaction Designer in your programme or team. They can often help unblock issues or point you in the right direction.</p>

<h2 class="govuk-heading-l">Get help on HMRC slack</h2>

<p class="govuk-body">For tech issues post a question on <a href="https://hmrcdigital.slack.com/archives/C19R6A9L7" class="govuk-link" target="_blank">#community-prototype</a>.</p>

<p class="govuk-body">For design issues post a question on <a href="https://hmrcdigital.slack.com/archives/C03D8T37TDK" class="govuk-link" target="_blank">#community-ixd</a>.</p>

<p class="govuk-body">If you have a comment or suggestion about this guidance, you can contact the Design Resources Team at <a href="mailto:design.resources-g@digital.hmrc.gov.uk" class="govuk-link">design.resources-g@digital.hmrc.gov.uk</a> or <a href="https://hmrcdigital.slack.com/archives/C014S77JCJW" class="govuk-link" target="_blank">get in touch on HMRC Slack at #team-design-system</a>.</p>

