---
title: Government Gateway user ID and password
menuText: Government Gateway user ID and password
layout: twoColumnPage.njk
---
{% from "_example.njk" import example %}

<h2 class="govuk-heading-l">When to use</h2>

<p class="govuk-body">
  Use this pattern when you're linking to a service that requires the user to sign in using Government Gateway.
</p>

<h2 class="govuk-heading-l">Where to place</h2>

<p class="govuk-body">You should place this pattern before the link to the service, unless there's a <a href="https://design.tax.service.gov.uk/patterns-hmrc-govuk-team/" class="govuk-link">design pattern</a> that says differently.</p>

<h2 class="govuk-heading-l">How it works</h2>

<h3 class="govuk-heading-m">Option 1</h3>

<p class="govuk-body">
  Use this option for most services.
</p>

{{ example({
    item: 'government-gateway',
    example: 'option1',
    description: 'How to register',
    markdown: 'option1-markdown',
    markdownOnly: true
}) }}

<h3 class="govuk-heading-m">Option 2</h3>

<p class="govuk-body">
  Use this option if the user needs to use specific credentials. For example, if they must use the user ID and password they created when they registered for a tax, or enrolled for online service.
</p>

{{ example({
    item: 'government-gateway',
    example: 'option2',
    description: 'Before you start',
    markdown: 'option2-markdown',
    markdownOnly: true
}) }}

<h3 class="govuk-heading-m">Option 3</h3>

<p class="govuk-body">
  Use this option in links to services from publication pages which use an external link attachment.
</p>

{{ example({
    item: 'government-gateway',
    example: 'option3',
    description: 'Before you start',
    markdown: 'option3-markdown',
    markdownOnly: true
}) }}