---
title: Government Gateway user ID and password
menuText: Government Gateway user ID and password
layout: twoColumnPage.njk
---
{% from "_example.njk" import example %}

<h2 class="govuk-heading-l">When to use</h2>

<p class="govuk-body">
  Use this pattern when you're linking to a service that requires the user to sign in using Government Gateway.
</p>

<h2 class="govuk-heading-l">How to design this pattern</h2>

<p class="govuk-body">You should place this pattern before the link to the service, unless there's a <a href="/patterns-hmrc-govuk-team/" class="govuk-link">content pattern</a> that says differently.</p>

<h3 class="govuk-heading-m">For most services</h3>

<p class="govuk-body">
  Use this for most services.
</p>

{{ example({
    item: 'government-gateway',
    example: 'option1',
    description: 'How to register',
    markdown: 'option1-markdown',
    markdownOnly: true
}) }}

<h3 class="govuk-heading-m">When users must use specific credentials</h3>

<p class="govuk-body">
  Use this if the user must enter specific credentials. For example, if they must use the user ID and password they created when they registered for a tax, or enrolled for online service.
</p>

{{ example({
    item: 'government-gateway',
    example: 'option2',
    description: 'Before you start',
    markdown: 'option2-markdown',
    markdownOnly: true
}) }}

<h3 class="govuk-heading-m">When linking to services</h3>

<p class="govuk-body">
  Use this in links to services from publication pages which use an external link attachment.
</p>

{{ example({
    item: 'government-gateway',
    example: 'option3',
    description: 'Before you start',
    markdown: 'option3-markdown',
    markdownOnly: true
}) }}
