---
title: Activities and outcomes
layout: twoColumnPage.njk
topic: Getting started at HMRC
order: 2
---
<p class="govuk-body">The activities and outcomes framework is a practical guide to the kinds of design and research that may be useful at different stages of designing a service in HMRC.</p>

<p class="govuk-body">It can be a helpful starting point if you’re new to government design, new to HMRC, or joining a team that’s working towards the service standard. It can also be used by more experienced designers and researchers as a way to plan work, align with the team, or reflect on what work you’ve done so far and what you might need to do next.</p>

<p class="govuk-body">The framework is an approach developed by members of the UCD community, based on the Government Service Standard.</p>

<h2 class="govuk-heading-l">How to use the framework</h2>

<p class="govuk-body">The framework brings together common UCD activities and outcomes across the four phases of service development.</p>

<p class="govuk-body">It is organised by:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>UCD discipline</li>
  <li>stage of development</li>
  <li>activities (the work you might do)</li>
  <li>outcomes (what the work helps you achieve)</li>
</ul>

<p class="govuk-body">You can use the framework to explore what work may be helpful at different stages of development, and how UCD roles contribute. UCD practitioners may lead on activities or support work led by others, such as defining business needs with a business analyst.</p>

<p class="govuk-body">The framework is guidance, not a checklist. There’s no expectation that you complete every activity, produce every outcome, or create specific documents or artefacts.</p>

<p class="govuk-body">Use what works for you and your team.</p>

<p class="govuk-body"><a href="https://app.mural.co/t/digitalhmrc9032/m/digitalhmrc9032/1714573586222/777ddc02c8bddf0cf1d5627d3753a58e17cc524e" class="govuk-link">https://app.mural.co/t/digitalhmrc9032/m/digitalhmrc9032/1714573586222/777ddc02c8bddf0cf1d5627d3753a58e17cc524e</a></p>
