---
layout: layout-example.njk
---

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

<h1 class="govuk-heading-l">What is your Self Assessment Unique Taxpayer Reference (UTR)?</h1>

<p class="govuk-body">You can <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="https://www.gov.uk/find-lost-utr-number">find a lost UTR (opens in new tab)</a>.</p>

{{ govukInput({
  label: {
    text: "What is your Self Assessment Unique Taxpayer Reference?",
    isPageHeading: false,
    classes: "govuk-visually-hidden"
  },
  hint: {
    text: "This is 10 numbers, for example 1234567890. It will be on tax returns and other letters about Self Assessment. It may be called ‘reference’, ‘UTR’ or ‘official use’."
  },
  id: "utr",
  name: "utr",
  classes: "govuk-input--width-10"
}) }}


{{ govukButton({
  text: "Continue"
}) }}
