---
title: Notification badge
layout: twoColumnPage.njk
menuText: Notification badge
---
{% from "_example.njk" import example %}

<p class="govuk-body">This pattern lets the user know that there is new information to view, like unread messages, and how many of them there are. The notification badge is part of the <a class="govuk-link" href="account-header">account header</a>.</p>

<h2 class="govuk-heading-l" id="when-to-use">When to use</h2>

<p class="govuk-body">Use the notification badge when the user needs to be alerted that they have, for example, unread messages and how many of them there are. Only use it if the number changes when the user performs an action.</p>

<h2 class="govuk-heading-l" id="when-not-to-use">When not to use</h2>

<p class="govuk-body">Do not use the notification badge when:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>the number of things is 0</li>
  <li>there is no action</li>
</ul>

<p class="govuk-body">Unless there is a strong user need, only use a notification badge as a part of the navigation.</p>

<h2 class="govuk-heading-l" id="how-it-works">How it works</h2>

<p class="govuk-body">The notification badge is a number displayed to the right-hand side of whatever it refers to.</p>

<p class="govuk-body">There are 2 ways to use the notification badge examples. You can use HTML or, if you are using Nunjucks or <a class="govuk-link" href="https://govuk-prototype-kit.herokuapp.com">version 7 or later of the GOV.UK Prototype Kit</a>, you can use the Nunjucks macro.</p>

<div class="govuk-inset-text">
  You need HMRC Frontend to use this pattern – <a href="/design-library/using-code-in-prototypes/">find out how to install HMRC Frontend</a>. If you use the HMRC Nunjucks macro, you must copy and paste the entire macro in to your code.
</div>

{{ example({
  item: "notification-badge",
  example: "default",
  html: true,
  nunjucks: true,
  open: false
}) }}

<p class="govuk-body">If the number is more than 99, display ‘99+’.</p>

<p class="govuk-body">If there are 0 things, do not show the badge.</p>

{{ example({
  item: "notification-badge",
  example: "no-items",
  html: true,
  nunjucks: true,
  open: false
}) }}

<h2 class="govuk-heading-l" id="research">Research</h2>

<p class="govuk-body">Research showed that notification badges are common across online services, smartphones and apps. Usability testing showed:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>users understand what it is for</li>
  <li>it does not distract users from their task</li>
</ul>

<p class="govuk-body">We need more research. If you have used the notification badge, get in touch to share your research findings.</p>

<p class="govuk-body"><a class="govuk-link" href="https://github.com/hmrc/design-patterns/issues/142">Discuss the notification badge on GitHub</a></p>
