---
title: Confirmed identity
section: HMRC Design Patterns
layout: twoColumnPage.njk
---
{% from "_example.njk" import example %}

{% block content %}

<p class="govuk-body">This pattern lets the user know we have confirmed their identity. This is part of confirming their identity when they sign in with a Government Gateway account for the first time.</p>

<h2 class="govuk-heading-l" id="when-to-use">When to use</h2>

<p class="govuk-body">Use this pattern when we can confirm the user’s identity.</p>

<p class="govuk-body">There is also a pattern when we <a class="govuk-link" href="/design-library/could-not-confirm-identity">could not confirm their identity</a>.</p>

<h2 class="govuk-heading-l" id="how-it-works">How it works</h2>

<p class="govuk-body">Use the standard page template from your service and have the same:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>header</li>
  <li>phase banner</li>
  <li>footer</li>
</ul>

<p class="govuk-body">The page should have:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>‘We have confirmed your identity – service name – GOV.UK’ as the page title</li>
  <li>‘We have confirmed your identity’ as the <code>&lt;h1&gt;</code> page heading</li>
  <li>a ‘Continue’ call to action</li>
</ul>

  {{
    example({
      item: 'confirmed-identity',
      welsh: 'welsh',
      description: 'Confirmed identity'
    })
  }}

<p class="govuk-body">Do not use the confirmation page pattern because this is not the end of the user’s journey.</p>

<h2 id="research" class="govuk-heading-l">Research</h2>

<p class="govuk-body">We need more research. If you have used confirmed identity, get in touch to share your research findings.</p>

<p class="govuk-body"><a class="govuk-link" href="https://github.com/hmrc/design-patterns/issues/148">Discuss confirmed identity on GitHub</a></p>

{% endblock %}
