---
title: Using GitHub
menuText: Using GitHub
order: 4
layout: twoColumnPage.njk
---
{% from "_codeSnippet.njk" import codeSnippet %}

<p class="govuk-body">HMRC prototypes are stored on GitHub. GitHub makes it easy to update and collaborate on files, including code, content, and design assets.</p>

<p class="govuk-body">Interaction designers in HMRC need a GitHub account and an understanding of how to share and manage their prototypes on the platform.</p>

<h2 class="govuk-heading-l">Before you start</h2>

<p class="govuk-body">You must:</p>

<ol class="govuk-list govuk-list--number">
<li><a href="https://docs.tax.service.gov.uk/mdtp-handbook/documentation/developer-set-up/install-git.html" class="govuk-link">Install Git on your computer</a></li>
  <li><a href="https://docs.tax.service.gov.uk/mdtp-handbook/documentation/developer-set-up/join-hmrc-on-github.html#join-hmrc-on-github" class="govuk-link">Join HMRC on GitHub and set up commit signing</a></li>
  <li><a href="https://docs.tax.service.gov.uk/mdtp-handbook/documentation/developer-set-up/join-hmrc-on-github.html#if-you-39-re-an-interaction-designer" class="govuk-link">Join the ‘Designers’ GitHub team</a> (if you’re an interaction designer)</li>
</ol>

<p class="govuk-body">You can use GitHub with software like GitHub Desktop or by inputting commands directly using the Terminal on a Mac. This guide focuses on working with GitHub using the Terminal. If you are unsure which method would work best for you, speak to your manager/senior designer in your area.</p>

<h2 class="govuk-heading-l">How GitHub works</h2>

<p class="govuk-body">Git is a <a href="https://en.wikipedia.org/wiki/Version_control" class="govuk-link">version control</a> tool used to track and manage code changes. GitHub is the cloud-based platform we use in HMRC to store, share, and collaborate on our projects.</p>

<h3 class="govuk-heading-m">Git workflow</h3>

<p class="govuk-body">A basic project using git has three parts:</p>


<ul class="govuk-list govuk-list--bullet">
  <li>Working Directory — where you’ll be doing all the work: creating, editing, deleting and organising files</li>
  <li>Staging Area — where you’ll list changes you make to the working directory</li>
  <li>Repository — where Git permanently stores those changes as different versions</li>
</ul>

<img src="" alt="Basic git workflow">

<p class="govuk-body">The repository can be ‘local’ (stored on your computer) or ‘remote’ (stored on GitHub).</p>

<h3 class="govuk-heading-m">Branches</h3>

<p class="govuk-body">A branch is a way of pinpointing specific changes. Branches allow developers and designers to work on code in isolation. A designer’s work can then be reviewed against the ‘main’ branch of code.</p>

<p class="govuk-body">You can check what branch you are working on by typing ‘git status’ into your terminal:</p>

{{
  codeSnippet({
    code: "user@computer my-prototype % git status
On branch main
Your branch is up to date with 'origin/main'.

nothing to commit, working tree clean",
    canCopy: false
  })
}}

<p class="govuk-body">Once you have found the correct branch, you can run ‘git pull’ to download the latest version of code from the remote repository.</p>

<p class="govuk-body">You will need to include in your pull command the name of your ‘remote’ and the name of the branch you want to download. In our example, the remote is called ‘origin’ and the branch we want to copy down is called ‘main’. This is a standard set up, and is likely to be the same for you.</p>

<p class="govuk-body">Now you can use your code editor, such as <a href="https://design.tax.service.gov.uk/prototype-guidance/vs-code/" class="govuk-link">Visual Studio Code</a>, to update any files you want to change.</p>

<h3 class="govuk-heading-m">Saving changes</h3>

<p class="govuk-body">In Git, changes are saved with a ‘commit’. A commit captures the changes you have made at a certain time.</p>

<p class="govuk-body">Each commit has an associated commit message, which explains why a particular change was made. Commit messages capture the history of your changes so that other contributors can understand what you’ve done and why.</p>

<p class="govuk-body">Commit messages start with ‘-m’ followed by a message describing what changed.</p>

<p class="govuk-body">For example:</p>

{{
  codeSnippet({
    code: "user@computer my-prototype % git commit -m 'an example commit'
[newFeature c684b1a] an example commit
1 file changed, 1 insertion(+), 2 deletions(-)
user@computer my-prototype % git status                                                                                                 (newFeature)pagination-prototype
On branch newFeature
nothing to commit, working tree clean",
    canCopy: false
  })
}}

<p class="govuk-body">Standard conventions for commit messages are:</p>


<ul class="govuk-list govuk-list--bullet">
  <li>must be in quotation marks</li>
  <li>written in the present tense</li>
  <li>should be brief (50 characters or less) when using -m</li>
</ul>

<h3 class="govuk-heading-m">Sharing changes</h3>

<p class="govuk-body">Once you have made changes to your git repository on your local machine, you can share them to your remote repository.</p>

<p class="govuk-body">In the example below, the commits are being pushed to a branch called ‘newFeature’, on a remote repository called ‘origin’.</p>

<p class="govuk-body">It is best practice not to push your changes directly to main and instead navigate to GitHub to check and merge those changes into main once you are happy.</p>

<img src="" alt="Another terminal example">

<h3 class="govuk-heading-m">Merging changes</h3>

<p class="govuk-body">Now that you have pushed your changes to the external repository, you can open a ‘pull request’ on GitHub. A pull request is a proposal to merge a set of changes from one branch into another.</p>

<p class="govuk-body">In HMRC, designers often work in project teams that review each other’s pull requests to ensure that no issues have been created because designers have been working on the same files within a prototype.</p>

<p class="govuk-body">How to open a pull request:</p>


<ol class="govuk-list govuk-list--number">
  <li>Click ‘create pull request’ at the bottom of the pull request form. <img src="" alt="screenshot of a PR page"></li>
  <li>If no issues are detected, you can go ahead and press ‘merge pull request’. This action merges your changes into the main repository. <img src="" alt="screenshot of a PR page"></li>
  <li>To keep things tidy, once the merge is complete, you can delete your branch from the remote repository to keep things tidy using the purple button that appears on the page.</li>
</ol>

<p class="govuk-body">The branch you have been working on should now be merged with your repository. If your GitHub repository is linked to hosting services such as Heroku, this code will be used to run your updated prototype.</p>

<p class="govuk-body">Don’t forget that when you go to make your next set of changes, it’s important to set up your new working branch, and pull down any new changes that have been made to the main codebase on GitHub, particularly if you are collaborating with other designers.</p>

<h2 class="govuk-heading-l">GitHub guidance</h2>

<p class="govuk-body">If you’re new to using Git, GitHub publishes and manages a number of tutorials to help you get started.</p>

<h3 class="govuk-heading-m"><a href="https://docs.github.com/en/get-started/quickstart" class="govuk-link">GitHub getting started guide</a></h3>

<p class="govuk-body">A clear, official walkthrough for complete beginners. Great place to start.</p>

<h3 class="govuk-heading-m"><a href="https://training.github.com/downloads/github-git-cheat-sheet.pdf" class="govuk-link">GitHub Cheat Sheet</a></h3>

<p class="govuk-body">Printable, simple reference for the most common commands.</p>

<h3 class="govuk-heading-m"><a href="https://docs.github.com/en/get-started/quickstart/github-flow" class="govuk-link">GitHub Flow explained</a></h3>

<p class="govuk-body">Introduces key ideas like branching, pull requests, and code review in plain English.</p>

<h3 class="govuk-heading-m"><a href="https://docs.github.com/en/get-started/quickstart/github-glossary" class="govuk-link">GitHub glossary</a></h3>

<p class="govuk-body">Explains key terms like ‘branch’, ‘commit’, and ‘merge’ in friendly, non-intimidating language.</p>

<h2 class="govuk-heading-l">Books</h2>

<h3 class="govuk-heading-m"> <a href="https://hmrc.percipio.com/books/f65e38f6-2e8c-458d-a268-1b9f7e813fb7" class="govuk-link">Git for Humans by David Demaree</a></h3>

<p class="govuk-body">Git for Humans is written specifically for designers and is available for HMRC colleagues at Skillsoft. You may be able to find a copy from online retailers.</p>
