---
title: Using GitHub
layout: twoColumnPage.njk
menuText: Using GitHub
status: development
---

<p class="govuk-body">In HMRC we store our Prototypes on GitHub, so every designer needs a GitHub account and to know how to share and manage their prototypes on the platform.</p>

<p class="govuk-body">GitHub makes it easy to store, update, and collaborate on files - including code, content, and design assets. It also helps us work in the open when appropriate, and track changes over time.</p>

<h2 class="govuk-heading-l">Get set up on GitHub</h2>

<p class="govuk-body">You can use an existing GitHub account if you have one or you can create a new one. Full guidance on setting up your account and being added to the HMRC organisation is available in the <a href="https://docs.tax.service.gov.uk/mdtp-handbook/documentation/developer-set-up/join-hmrc-on-github.html" class="govuk-link">MDTP handbook</a>.</p>

<p class="govuk-body">Please remember that a GitHub account is a public profile, linking you to HMRC.</p>

<h2 class="govuk-heading-l">GitHub guidance</h2>

<p class="govuk-body">If you’re new to using Git, GitHub publishes and manages a number of tutorials to help you get started.</p>

<h3 class="govuk-heading-m"><a href="https://docs.github.com/en/get-started/quickstart" class="govuk-link">GitHub getting started guide</a></h3>

<p class="govuk-body">A clear, official walkthrough for complete beginners. Great place to start.</p>

<h3 class="govuk-heading-m"><a href="https://training.github.com/downloads/github-git-cheat-sheet.pdf" class="govuk-link">GitHub Cheat Sheet</a></h3>

<p class="govuk-body">Printable, simple reference for the most common commands.</p>

<h3 class="govuk-heading-m"><a href="https://docs.github.com/en/get-started/quickstart/github-flow" class="govuk-link">GitHub Flow explained</a></h3>

<p class="govuk-body">Introduces key ideas like branching, pull requests, and code review in plain English.</p>

<h3 class="govuk-heading-m"><a href="https://docs.github.com/en/get-started/quickstart/github-glossary" class="govuk-link">GitHub Glossary</a></h3>

<p class="govuk-body">Explains key terms like “branch”, “commit”, and “merge” in friendly, non-intimidating language.</p>

<h2 class="govuk-heading-l">Books</h2>

<h3 class="govuk-heading-m"> <a href="https://hmrc.percipio.com/books/f65e38f6-2e8c-458d-a268-1b9f7e813fb7" class="govuk-link">Git for Humans by David Demaree</a></h3>

<p class="govuk-body">Git for Humans is written specifically for designers and is available for HMRC colleagues at Skillsoft. You may be able to find a copy from online retailers.</p>
