---
title: Interactive guidance (in-page)
layout: oneColumnPage.njk
---
{% from "hmrc/components/page-heading/macro.njk"  import hmrcPageHeading %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {{ hmrcPageHeading({
      text: 'Interactive guidance (in-page)'
    }) }}

<p class="govuk-body">
Interactive guidance enables the user to filter the information they see based on their answers to a set of questions.
</p>

<p class="govuk-body">
It’s an effective way to present content that has multiple variables which the user cannot easily filter to match their own circumstances when presented as flat text. 
</p>

<h2 class="govuk-heading-l" id="when-to-use">
When to use
</h2>

<p class="govuk-body">
Interactive guidance can be the best way to direct users to the right outcome where they need to:   
</p>

<ul class="govuk-list govuk-list--bullet">
  <li>choose a course of action(s) from a large number of substantially different options</li>
  <li>do something specific that depends on multiple variables or circumstances</li>
  <li>find an answer which would otherwise have to be worked out while reading a larger amount or multiple pieces of longform guidance</li>
  <li>get an estimate of financial impact (owed/refunded) ahead of taking an action</li>
  <li>get a (non-legally-binding) statement of eligibility or status</li>
</ul>

<h2 class="govuk-heading-l" id="when-not-to-use">
  When not to use
</h2>

<p class="govuk-body">
Do not use this pattern to publish generic information that users need and expect to find quickly and easily, like tax rates or simple eligibility requirements. Users should be able to find this on a single page of GOV.UK guidance by searching or browsing.
</p>

<p class="govuk-body">
Avoid making users provide lots of information through interactive guidance if they will then need to re-enter it in a transactional service after signing in. Anything beyond the bare minimum required to work out whether they can, or need to, use a service (if this is too complex to cover in GOV.UK guidance) can lead to frustration and dropout.
</p>

<p class="govuk-body">
Finally, there is a limit to the length and complexity of interactive guidance users can realistically be expected to engage with. Do not use it to explain a policy that’s so complex, variable or dependent on circumstances that users cannot be realistically expected to self-serve. Where this isn’t clear, you should validate your assumptions through research.
</p>



<h2 class="govuk-heading-l" id="examples">
  Examples
</h2>

<ul class="govuk-list govuk-list--bullet">
  <li><a class="govuk-link" href="https://www.gov.uk/check-additional-income-tax">Check if you need to pay tax on additional income</a></li>
  <li><a class="govuk-link" href="https://www.gov.uk/guidance/check-if-you-can-delay-customs-duty-and-import-vat">Check if you can delay customs payments and declarations</a></li>
  <li><a class="govuk-link" href="https://www.gov.uk/valuing-estate-of-someone-who-died/estimate-estate-value">Inheritance Tax checker</a></li>
</ul>

<h2 class="govuk-heading-l" id="how-it-works">
  How it works
</h2>

<p class="govuk-body">
The HMRC interactive guidance team designs interactive guidance products. They also work with relevant service or GOV.UK teams on the wider user journeys from related guidance content and on into transactional services.
</p>

<p class="govuk-body">
Contact the HMRC GOV.UK team or your design lead if you have a proposal for interactive guidance.
</p>

<h2 class="govuk-heading-l" id="GOV.UK-and-interactive-guidance">
GOV.UK and interactive guidance
</h2>

<p class="govuk-body">
Interactive guidance must be linked to from GOV.UK. The format of this depends on whether the underlying user need is:
</p>

<ul class="govuk-list govuk-list--bullet">
  <li>‘mainstream’ for the general public or small businesses (managed by the GDS GOV.UK team)</li>
  <li>‘specialist’ or expert users with some prior knowledge (managed by the HMRC GOV.UK team)</li>
</ul>

<p class="govuk-body">
Interactive guidance should complement, not replace existing GOV.UK content. This is to make sure that users can easily revisit or find information they need, because the information on outcome pages is not indexed by search engines or accessible via GOV.UK navigation. Also, more experienced or specialist users (such as agents) often need to see all of the rules in one place.
</p>

<p class="govuk-body">
There’s more information about where to put guidance content in the GOV.UK <a class="govuk-link" href="https://www.gov.uk/guidance/content-design/planning-content">guidance for government publishers</a>.
</p>

  </div>
</div>


