---
layout: layout-example.njk
---

<p class="govuk-error-message">
    <span class="govuk-visually-hidden">Error:</span>
    Nid oedd modd i ni ddod o hyd i unrhyw gyfeiriadau ar gyfer cod post hynny. Nodwch god post sy’n hysbys, neu nodwch y cyfeiriad â llaw
</p>