---
layout: layout-example.njk
---
{% from "hmrc/components/page-heading/macro.njk"  import hmrcPageHeading %}

{{ hmrcPageHeading({
  text: 'We could not confirm your identity'
}) }}

<p class="govuk-body">You have entered information that does not match our records too many
times. For security reasons, you must wait 24 hours and then sign in to try again.</p>
<p class="govuk-body">You can <a class="govuk-link" href="#">change other VAT details</a>
without confirming your identity</p>
