---
title: Tax treaties
layout: twoColumnPage.njk
---
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "_codeSnippet.njk" import codeSnippet %}

<h2 class="govuk-heading-l">When to use</h2>

<p class="govuk-body">
Use this pattern to tell users about tax treaties between the UK and other countries. Tax
treaties can include various documents, for example a:
</p>

<ul class="govuk-list govuk-list--bullet">
    <li>double taxation agreement</li>
    <li>double taxation convention and amendments to the convention</li>
    <li>joint declaration</li>
    <li>multilateral instrument</li>
    <li>mutual agreement procedure</li>
    <li>protocol to the double taxation convention</li>
    <li>tax information exchange agreement</li>
</ul>

<h2 class="govuk-heading-l">How to design using this pattern</h2>

<p class="govuk-body">For an example of a tax treaty, see <a href="https://www.gov.uk/government/publications/mauritius-tax-treaties" class="govuk-link">Mauritius: tax treaties</a>.</p>

<h3 class="govuk-heading-m">Document type</h3>

<p class="govuk-body">Publication: International treaty (with an HTML attachment)</p>


<h3 class="govuk-heading-m">Publication</h3>

<h4 class="govuk-heading-s">Title<h4>

<p class="govuk-body">The title should be ‘[Country]: tax treaties’.</p>

<h4 class="govuk-heading-s">Summary<h4>

<p class="govuk-body">The summary should be ‘Tax treaties and related documents between the UK and [country].’</p>

<h3 class="govuk-heading-m">Details<h3>

<p class="govuk-body">For each HTML attachment, you will need to add a new heading at level 3. The order should match the order of the attachments.</p>

<h4 class="govuk-heading-s">Simple treaties in force</h4>

{{
    codeSnippet({
      code: '### [Name of HTML attachment]

The [thing] entered into force on [date].

It is effective in [country or both countries] from [date].',
      canCopy: true
    })
  }}

<p class="govuk-body">
  If the effective date is different for each country, include on separate lines but ensure that the UK is shown first.
 </p>

<h4 class="govuk-heading-s">Complex treaties in force that involve different countries and individual taxes</h4>

{{
    codeSnippet({
      code: '### [Name of HTML attachment]

The [thing] entered into force on [date].

It is effective in [country] from:

  * [date] for [tax]
  * [date] for [tax]',
      canCopy: true
    })
  }}

<p class="govuk-body">
  If the effective date is different for each country, include on separate lines but ensure that the UK is shown first.
</p>

<h4 class="govuk-heading-s">Treaties not in force</h4>

{{
    codeSnippet({
      code: '### [Name of HTML attachment]

The [thing] was signed on [date] and has not yet entered into force.',
      canCopy: true
    })
  }}

<h3 class="govuk-heading-m">HTML attachment</h3>

<p class="govuk-body">Order the HTML attachments by first listing the ‘in force’ documents by date, then the ‘not in force’ documents by date.
</p>

<p class="govuk-body">
Use the following title formats:
</p>

<ul class="govuk-list govuk-list--bullet">
    <li>[yyyy] UK-[country] Double Taxation Agreement — in force</li>
    <li>[yyyy] UK-[country] Tax Information Exchange Agreement: exchange of information —
in force</li>
    <li>[yyyy] UK-[country] Double Taxation Convention and Protocol, as amended in [yyyy] —
in force</li>
    <li>[yyyy] UK-[country] Protocol to the [yyyy] Double Taxation Convention — not in force</li>
</ul>

<h3 class="govuk-heading-m">Collection</h3>

<p class="govuk-body">
Add your new document to the <a href="https://www.gov.uk/government/collections/tax-treaties" class="govuk-link">tax treaties collection</a>. Do not create a public
change note.
</p>
