---
title: Tax information and impact notes
layout: twoColumnPage.njk
---

<h2 class="govuk-heading-l">When to use</h2>

<p class="govuk-body">Use this pattern to tell users about tax policy changes when the policy is final or near final.</p>

<p class="govuk-body">Do not update the content once it’s been published, unless there is a factual accuracy.</p>

<p class="govuk-body">For an example of an individual tax information and impact note, check <a href="https://www.gov.uk/government/publications/the-customs-tariff-and-reliefs-amendment-regulations-2022" class="govuk-link">the Customs (Tariff and Reliefs) (Amendment) Regulations 2022M</a>.</p>

<p class="govuk-body">For an example of a set of documents including the tax information and impact note, check <a href="https://www.gov.uk/government/publications/aerodromes-approval-requirements" class="govuk-link">aerodromes: approval requirements</a>.</p>


<h2 class="govuk-heading-l">How to design using this pattern</h2>

<h3 class="govuk-heading-m">Document type</h3>

<p class="govuk-body">Publication: policy paper (with an HTML attachment)</p>

<h3 class="govuk-heading-m">Publication</h3>

<h4 class="govuk-heading-s">Title</h4>

<p class="govuk-body">You should reference if this relates to a specific tax, levy, duty, scheme or relief.</p>

<h4 class="govuk-heading-s">Summary</h4>

<p class="govuk-body">The summary should begin with either:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>‘This tax information and impact note...’ if it’s an individual document</li>
  <li>‘This measure...’ if it’s a set of documents being published for legislation day</li>
</ul>

<p class="govuk-body">Then read the document to come up with a summary of the paper’s contents.</p>

<h4 class="govuk-heading-s">Details</h4>

<p class="govuk-body">Body text should be created by reading the document and adding additional information not mentioned in the title or summary that will help the user decide if this document is the one they need.</p>

<h3 class="govuk-heading-m">HTML attachment</h3>

<h4 class="govuk-heading-s">Title</h4>

<p class="govuk-body">Use a different title to what you have used for the landing page. The titles can be similar but cannot be exactly the same.</p>

<h4 class="govuk-heading-s">Body</h4>

<p class="govuk-body">Enter the contents of the tax information and impact note.</p>

<p class="govuk-body">Do not include numbers in section headings.</p>

<h3 class="govuk-heading-m">Collection page</h3>

<p class="govuk-body">Add the URL of any new page to the <a href="https://www.gov.uk/government/collections/tax-information-and-impact-notes-tiins" class="govuk-link">tax information and impact notes collection</a>. Do not create a public change note.
</p>
