---
title: Account header
layout: twoColumnPage.njk
---

{% from "_example.njk" import example %}
{% from "_codeSnippet.njk" import codeSnippet %}


{% from "_whenToUse.njk" import whenToUse %}
{% from "_whenNotToUse.njk" import whenNotToUse %}
{% from "_howItWorks.njk" import howItWorks %}
{% from "_research.njk" import research %}

{% block content %}

<p class="govuk-body">The account header is used for services that are part of the <a class="govuk-link" href="https://www.tax.service.gov.uk/personal-account">personal tax account</a>.</p>

{{ whenToUse("your service is part of the personal tax account") }}

{{ whenNotToUse("your service is not part of the personal tax account. Use the <a class='govuk-link' href='https://design-system.service.gov.uk/components/header/'>GOV.UK header</a> instead.") }}

{{
  howItWorks({
    showFrontendInfo: true,
    content: '<p class="govuk-body">The account header contains:</p>

              <ul class="govuk-list govuk-list--bullet">
                <li>the GOV.UK cookie banner, with a <a class="govuk-link" href="https://www.tax.service.gov.uk/help/cookies">link to HMRC cookie policy</a></li>
                <li>the <a class="govuk-link" href="https://design-system.service.gov.uk/components/header/">GOV.UK header</a></li>
                <li>the account menu</li>
                <li>the Welsh language toggle, if your service is available in Welsh</li>
              </ul>'
  })
}}

{{
  example({
    item: 'account-header',
    description: 'Account header',
    example: 'example',
    welsh: 'example-welsh'
  })
}}

<p class="govuk-body">
  You can also use a layout designed for the account header. Change the first line of code to
</p>

  {{
    codeSnippet({
      code: '{% extends "hmrc/layouts/account-header.html" %}',
      canCopy: true
    })
  }}

{{ research(128) }}

{% endblock %}
