---
title: "Forms: in a detailed guide"
menuText: "Forms: in a detailed guide"
layout: twoColumnPage.njk
---
{% from "_codeSnippet.njk" import codeSnippet %}

<p class="govuk-body">
Before you use this pattern, <a href="/patterns-hmrc-govuk-team/forms-check/" class="govuk-link">check which document type to use</a> to decide
if you should use a publication instead.
</p>

<h2 class="govuk-heading-l">How to design using this pattern</h2>

<h3 class="govuk-heading-m">Document type</h3>

<p class="govuk-body">
Detailed guide
</p>


<h3 class="govuk-heading-m">G-Forms</h3>

<p class="govuk-body">
G-Forms are hosted on https://tax.service.gov.uk. Depending on the design of the
detailed guide, use either an inline link or a <a href="/patterns-hmrc-govuk-team/green-button/" class="govuk-link">green button</a>.
</p>

<p class="govuk-body">
These forms will not require an accessibility statement.
</p>

<h3 class="govuk-heading-m">Open Document Formats</h3>

<p class="govuk-body">If the form is in Open Document Format, it will not need an accessibility statement.</p>

<p class="govuk-body">
You must <a href="https://www.gov.uk/guidance/how-to-publish-on-gov-
uk/markdown#publication-box" class="govuk-link">use the publication box !@n markdown in
Whitehall</a>.
</p>

<h3 class="govuk-heading-m">Print and post forms</h3>

<p class="govuk-body">
These will be hosted on https://public-online.hmrc.gov.uk/lc/content/.
</p>

<p class="govuk-body">
If the form is print and post, include the following markdown:
</p>

{{
    codeSnippet({
      code: 's1. You need to open and complete this form online. As you cannot save your progress, you may want to get all your information together before you start.

s2. Fill in [name of form](LINK).

s3. Print and post it to HMRC, using the postal address shown on the form.

^This file may not be suitable if you use assistive technology — such as a screen reader. If you need a more accessible format email <different.format@hmrc.gov.uk> and tell us what format you need. It will help if you tell us what assistive technology you use. Read the [accessibility statement for HMRC forms](https://www.gov.uk/guidance/accessibility-statement-for-hmrc-interactive-forms).',
      canCopy: true
    })
  }}

  <p class="govuk-body">
You should check with the DFOM (Digital Forms and Outbound Mail) team if you
need to include the following:
</p>

  {{
    codeSnippet({
      code: 'If the form does not open, then [contact the Online services helpdesks for more help](https://www.gov.uk/government/organisations/hm-revenue-customs/contact/online-services-helpdesk).',
      canCopy: true
    })
  }}

  <h3 class="govuk-heading-m">PDF forms that can be completed on-screen</h3>

  <p class="govuk-body">
  You must <a href="https://www.gov.uk/guidance/how-to-publish-on-gov-
uk/markdown#publication-box" class="govuk-link">use the publication box !@n markdown in
Whitehall</a> to attach the PDF form.
</p>

<p class="govuk-body">
Do not tick ‘Attachment is accessible’ — as the attachment must always have the ‘not
suitable for assistive technology’ callout.
</p>

<p class="govuk-body">
If the form is in PDF format, include the following markdown:
</p>

{{
    codeSnippet({
      code: '## How to complete the form

You need to:

s1. Download and save the form on your computer.

s2. Open it using the [the latest free version of Adobe Reader](http://get.adobe.com/uk/reader/).

s3. Complete it on-screen.

!@n

Read the [accessibility statement for HMRC forms](https://www.gov.uk/guidance/accessibility-statement-for-hmrc-interactive-forms).

^It may not work it you try to open it in your internet browser. If the form does not open, then contact the [Online services helpdesks] (https://www.gov.uk/government/organisations/hm-revenue-
customs/contact/online-services-helpdesk) for more help.',
      canCopy: true
    })
  }}

  <h3 class="govuk-heading-m">Welsh translation</h3>

  <p class="govuk-body">
If the form is not translated into Welsh and is applicable in Wales, include:
</p>

{{
    codeSnippet({
      code: 'Email HMRC to [ask for the form in Welsh (Cymraeg)](https://www.gov.uk/government/organisations/hm-revenue-customs/contact/welsh-language-helplines#email).',
      canCopy: true
    })
  }}

  <p class="govuk-body">
  If the form is translated into Welsh, you do not need to include this in either the
English or Welsh version.
</p>
