---
layout: layout-example.njk
---
<p class="govuk-body">Email: <span class="govuk-visually-hidden">beginning with</span>a<span aria-hidden="true">*******</span><span class="govuk-visually-hidden">and ending with</span>@gmail.com</p>
