---
layout: layout-example.njk
---
<p class="govuk-body">
  <span aria-hidden="true">Email address: a*******@gmail.com</span>
  <span class="govuk-visually-hidden">Email address: beginning with “a” and ending with “@gmail.com”</span>
</p>
