---
title: Open links in a new window or tab
status: archived
menuText: Open in a new window or tab
layout: twoColumnPage.njk
---

{% from "_example.njk" import example %}

{% block content %}

<p class="govuk-body"> The pattern was archived on the 5th of october 2020.</p>

<p class="govuk-body">
The HMRC version of this pattern has been removed because GOV.UK has published an updated version of the pattern in the GOV.UK design system.

</p>

<p class="govuk-body">
<a class="govuk-link" href="https://design-system.service.gov.uk/styles/typography/#opening-links-in-a-new-tab">View the new guidance on opening links in a new tab</a>.
</p>

{% endblock %}
