---
title: Open links in a new window or tab
status: archived
menuText: Open in a new window or tab
layout: twoColumnPage.njk
---

{% from "_example.njk" import example %}

{% block content %}

<p class="govuk-body">This pattern was archived on 5 October 2020.</p>
<p class="govuk-body">HMRC removed this guidance because GDS updated its guidance on this style in the GOV.UK Design System.</p>
<p class="govuk-body">Read about <a class="govuk-link" href="https://design-system.service.gov.uk/styles/typography/#opening-links-in-a-new-tab">how to style links that open in a new tab in the GOV.UK Design System</a>.</p>
<br />
{% endblock %}