---
layout: layout-example.njk
---

{%- from  "hmrc/components/timeout-dialog/macro.njk" import hmrcTimeoutDialog -%}

{{ hmrcTimeoutDialog ({
  timeout: 70,
  countdown: 68,
  keepAliveUrl: "?abc=def",
  signOutUrl: "?ghi=jkl",
  language: "en",
  keepAliveButtonText: "Continue checking what help you can get with childcare costs",
  signOutButtonText: "Delete your answers"
}) }}
