---
title: Prototype guidance
layout: twoColumnPage.njk
---

<p class="govuk-body">This guidance is to support designers of different levels to prototype more effectively.</p>

<p class="govuk-body">The guidance covers common things used within services:</p>
<ul class="govuk-list govuk-list--bullet">
  <li><a href="installing-prototype-kit.html" class="govuk-link">Installing the govuk prototype kit</a></li>
  <li><a href="vs-code" class="govuk-link">Setting up Visual Studio Code</a></li>
  <li><a href="using-github" class="govuk-link">Using Github</a></li>
  <li><a href="version-control.html" class="govuk-link">Setting up different versions of your prototype using multiple routes.js files</a></li>
  <li><a href="routing-radios.html" class="govuk-link">Routing radios</a></li>
  <li><a href="routing-checkboxes.html" class="govuk-link">Routing checkbox</a></li>
  <li><a href="where-support.html" class="govuk-link">Where to go for support</a></li>
</ul>

<h2 class="govuk-heading-l">Purpose of the prototype kit </h2>

<p class="govuk-body">Using the prototype kit, designers can efficiently create interactive prototypes to share design ideas with people they work with and do user research.</p>

<p class="govuk-body">Along with patterns from the <a href="https://design.tax.service.gov.uk/" class="govuk-link">Design resources Pages</a>, the kit ensures that all prototypes are realistic and work with assistive technology, such as screen readers.</p>
