---
title: Prototype guidance
layout: twoColumnPage.njk
---

<p class="govuk-body">This guidance helps HMRC designers of all levels set up and use the GOV.UK Prototype Kit.</p>

<p class="govuk-body">Designers can use the GOV.UK Prototype Kit to quickly and easily create interactive prototypes — to share design ideas with their team and to gather insight from user research. It also ensures that prototypes are interactive, accessible and realistic versions of HMRC services. In HMRC the GOV.UK Prototype Kit is our approved tool for prototyping.</p>

<p class="govuk-body">The kit comes with templates to create common page types.</p>

<p class="govuk-body">You can also copy example code from the GOV.UK Design System and HMRC Design Resources to add styles, components and patterns into your prototype.</p>

<p class="govuk-body">This means you can:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>learn from the research and experience of other service teams</li>
  <li>avoid repeating work that’s already been done</li>
</ul>

<p class="govuk-body">The guidance covers common topics relevant to HMRC designers:</p>
<ul class="govuk-list govuk-list--bullet">
  <li><a href="installing-prototype-kit/" class="govuk-link">Installing the GOV.UK Prototype Kit</a></li>
  <li><a href="vs-code/" class="govuk-link">Setting up Visual Studio Code</a></li>
  <li><a href="getting-started-html-css/" class="govuk-link">Getting started with HTML and CSS</a></li>
  <li><a href="using-github/" class="govuk-link">Using GitHub</a></li>
  <li><a href="setting-up-different-versions-of-your-prototype/" class="govuk-link">Setting up different versions of your prototype using multiple routes.js files</a></li>
  <li><a href="show-different-pages-based-on-answers/" class="govuk-link">Show different pages based on user answers</a></li>
  <li><a href="where-to-go-for-support/" class="govuk-link">Where to go for support</a></li>
</ul>


<h2 class="govuk-heading-l">Contribute</h2>

<p class="govuk-body">If you have a question, idea or suggestion:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>Get in touch to propose new patterns or share your knowledge: <a class="govuk-link" href="mailto:design.resources-g@digital.hmrc.gov.uk">design.resources-g@digital.hmrc.gov.uk</a></li>
  <li><a href="https://hmrcdigital.slack.com/archives/C014S77JCJW" class="govuk-link">get in touch through Slack (opens in app if you have it)</a></li>
</ul>
