---
title: Prototype guidance
layout: twoColumnPage.njk
---

<p class="govuk-body">This guidance is to support designers of different levels to prototype more effectively.</p>

<p class="govuk-body">The guidance covers common things used within services:</p>

<ul class="govuk-list govuk-list--bullet">
  <li><a class="govuk-link" href="installing-prototype-kit/">Installing the govuk prototype kit</a></li>
  <li><a class="govuk-link" href="routing-radios.html">Routing radios</a> </li>
  <li><a class="govuk-link" href="routing-checkboxes.html">Routing checkbox</a></li>
  <li><a class="govuk-link" href="version-control.html">Setting up different versions of your prototype using multiple routes.js files</a></li>
  <li><a class="govuk-link" href="vs-code">VS code</a></li>
  <li><a class="govuk-link" href="using-terminal">Using the terminal</a></li>
  <li><a class="govuk-link" href="where-support.html">Where to go for support</a></li>
</ul>

<h2 class="govuk-heading-l">Purpose of the prototype kit </h2>

<p class="govuk-body">Using the prototype kit, designers can efficiently create interactive prototypes to share design ideas with people they work with and do user research.</p>

<p class="govuk-body">Along with patterns from the <a href="https://design.tax.service.gov.uk/">Design resources pages</a>, the kit ensures that all prototypes are realistic and work with assistive technology, such as screen readers.</p>

<h2 class="govuk-heading-l">Contribute</h2>

<p class="govuk-body">If you have a question, idea or suggestion:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>Get in touch to propose new patterns or share your knowledge: design.resources-g@digital.hmrc.gov.uk</li>
  <li><a href="https://hmrcdigital.slack.com/archives/C014S77JCJW">get in touch through Slack (opens in app if you have it)</a></li>
</ul>
