---
layout: layout-example.njk
---
{% from "hmrc/components/page-heading/macro.njk"  import hmrcPageHeading %}

{{ hmrcPageHeading({
  text: 'Mae’n ddrwg gennym, ond nid yw’r gwasanaeth hwn ar gael ar hyn o bryd'
}) }}

<p class="govuk-body">Mae’r gwasanaeth ar gyfer cyflwyno adroddiad cyfryngwr cyflogaeth wedi dod i ben.</p>

<p class="govuk-body">Cysylltwch â ni os oes angen i chi siarad â rhywun am y gwasanaeth a’ch adroddiadau.</p>

<p class="govuk-body">
  Ffôn:
  <br/>
  <strong class="govuk-!-font-weight-bold">0300 200 1900</strong>
</p>

<p class="govuk-body">
  Oriau agor:
  <br/>
  <strong class="govuk-!-font-weight-bold">Dydd Llun – Dydd Gwener: 08:30 – 17:30</strong>
</p>
