---
layout: oneColumnPage.njk
---
{% from "hmrc/components/page-heading/macro.njk"  import hmrcPageHeading %}

{{ hmrcPageHeading({
  text: 'Design resources for HMRC'
}) }}

<div class="whats-new">
    <div class="govuk-grid-row">
        <h3 id="whats-new" class="govuk-heading-m">What’s new</h3>
<ul class="govuk-list govuk-list--bullet">
<li>4 October 2022: Archived the <a href="/patterns-hmrc-govuk-team/anti-dumping-measures/" class="govuk-link">Anti-dumping duty measures</a> content pattern</li>
<li>28 September 2022: Replaced the 'Videos, webinars and email alerts' content pattern with <a href="/patterns-hmrc-govuk-team/hmrc-email-updates-videos-webinars-community-forums/" class="govuk-link">HRMC email updates, video, webinars and community forums</a></li>
<li>12 September 2022: <a href="/hmrc-design-patterns/eori-numbers/" class="govuk-link">EORI numbers</a> pattern published</li>
</ul>
        <p class="govuk-body"><a href="https://github.com/hmrc/design-system/pulls?q=is%3Apr" class="govuk-link">Check all updates to design resources</a></p>
      </div>
</div>

<hr aria-hidden="true" class="govuk-section-break govuk-section-break--visible govuk-section-break--xl">

<h2 class="govuk-heading-m">Styles, components and patterns</h2>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <a href="https://design-system.service.gov.uk" class="app-card">
      <h3 class="govuk-heading-s app-card__heading">GOV.UK Design System</h3>
      <p class="govuk-body">Use these styles, components and patterns to make your service consistent with GOV.UK.</p>
    </a>
  </div>

  <div class="govuk-grid-column-one-third">
    <a href="/hmrc-design-patterns" class="app-card">
      <h3 class="govuk-heading-s app-card__heading">HMRC design patterns</h3>
      <p class="govuk-body">Find patterns designed specifically for the needs of HMRC users and patterns that are not yet in the GOV.UK Design System.</p>
    </a>
  </div>

  <div class="govuk-grid-column-one-third">
    <a href="interactive-guidance/" class="app-card">
      <h3 class="govuk-heading-s app-card__heading">Interactive guidance</h3>
      <p class="govuk-body">Enable the user to filter the information they see based on their answers to a set of questions.</p>
    </a>
  </div>
</div>

<hr aria-hidden="true" class="govuk-section-break govuk-section-break--visible govuk-section-break--xl">

<h2 class="govuk-heading-m">Content design</h2>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <a href="https://www.gov.uk/guidance/style-guide/a-to-z-of-gov-uk-style" class="app-card">
      <h3 class="govuk-heading-s app-card__heading">GOV.UK content style guide</h3>
      <p class="govuk-body">Use the same style, spelling and grammar conventions as GOV.UK.</p>
    </a>
  </div>

  <div class="govuk-grid-column-one-third">
    <a href="/hmrc-content-style-guide" class="app-card">
      <h3 class="govuk-heading-s app-card__heading">HMRC content style guide</h3>
      <p class="govuk-body">Use the HMRC style guide for HMRC-specific terms, styles and conventions.</p>
    </a>
  </div>

  <div class="govuk-grid-column-one-third">
    <a href="/patterns-hmrc-govuk-team" class="app-card">
      <h3 class="govuk-heading-s app-card__heading">Patterns for the HMRC GOV.UK team</h3>
      <p class="govuk-body">Use these patterns when designing HMRC content on GOV.UK.</p>
    </a>
  </div>

  <div class="govuk-grid-column-one-third">
    <a href="https://www.gov.uk/guidance/content-design" class="app-card">
      <h3 class="govuk-heading-s app-card__heading">Planning, writing and managing content</h3>
      <p class="govuk-body">Plan and manage content to meet the needs of HMRC users.</p>
    </a>
  </div>

  <div class="govuk-grid-column-one-third">
    <a href="https://www.gov.uk/service-manual/design/writing-for-user-interfaces" class="app-card">
      <h3 class="govuk-heading-s app-card__heading">Writing for user interfaces</h3>
      <p class="govuk-body">Design content that is easy for users to understand.</p>
    </a>
  </div>
</div>

<hr aria-hidden="true" class="govuk-section-break govuk-section-break--visible govuk-section-break--xl">

<h2 class="govuk-heading-m">Accessibility and assisted digital</h2>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <a href="https://www.gov.uk/service-manual/helping-people-to-use-your-service" class="app-card">
      <h3 class="govuk-heading-s app-card__heading">Accessibility and assisted digital</h3>
      <p class="govuk-body">Help and encourage all users to use HMRC services.</p>
    </a>
  </div>
</div>

<hr aria-hidden="true" class="govuk-section-break govuk-section-break--visible govuk-section-break--xl">

<h2 class="govuk-heading-m">Standards and principles</h2>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <a href="https://www.gov.uk/guidance/government-design-principles" class="app-card">
      <h3 class="govuk-heading-s app-card__heading">Government design principles</h3>
      <p class="govuk-body">Follow these 10 principles to design and build great digital services that work for everyone and are consistent across government.</p>
    </a>
  </div>

  <div class="govuk-grid-column-one-third">
    <a href="https://www.gov.uk/service-manual/service-standard" class="app-card">
      <h3 class="govuk-heading-s app-card__heading">Service Standard</h3>
      <p class="govuk-body">Follow these 14 criteria for creating and running public services.</p>
    </a>
  </div>

  <div class="govuk-grid-column-one-third">
    <a href="https://www.gov.uk/service-manual" class="app-card">
      <h3 class="govuk-heading-s app-card__heading">Service Manual</h3>
      <p class="govuk-body">Understand what teams can do to build great digital services that will meet the Service Standard.</p>
    </a>
  </div>
</div>

<hr aria-hidden="true" class="govuk-section-break govuk-section-break--visible govuk-section-break--xl">

<footer>
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">Support</h2>

    <p class="govuk-body">If you have a question, idea or suggestion:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        email the design resources team at <a class="govuk-link" href="mailto:design.resources-g@digital.hmrc.gov.uk">design.resources-g@digital.hmrc.gov.uk</a>
      </li>

      <li>
        <a class="govuk-link" href="https://hmrcdigital.slack.com/archives/C014S77JCJW">get in touch through Slack (opens in app if you have it)</a>
      </li>
    </ul>
  </div>
</footer>
