---
layout: homepageLayout.njk
---

{% from "hmrc/components/page-heading/macro.njk" import hmrcPageHeading %}

<main id="main-content">
  {% include "homepageBanner.njk" %}

  <div class="govuk-main-wrapper">
    <div class="govuk-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          {% include "whatsNew.njk" %}

          <h2 class="govuk-heading-m">Styles, components and patterns</h2>

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
              <a href="/hmrc-design-patterns/" class="app-card">
                <h3 class="govuk-heading-s app-card__heading">HMRC patterns for services</h3>
                <p class="govuk-body">Design HMRC services with reusable, accessible patterns based on the research and experience of other service teams.
</p>
              </a>
            </div>

            <div class="govuk-grid-column-one-third">
              <a href="/patterns-hmrc-govuk-team/" class="app-card">
                <h3 class="govuk-heading-s app-card__heading">HMRC patterns for GOV.UK</h3>
                <p class="govuk-body">Design specialist HMRC content on GOV.UK using these pre-agreed content patterns.</p>
              </a>
            </div>

            <div class="govuk-grid-column-one-third">
              <a href="/hmrc-content-style-guide/" class="app-card">
                <h3 class="govuk-heading-s app-card__heading">HMRC style guide</h3>
                <p class="govuk-body">Use the HMRC style guide for HMRC-specific terms, styles and conventions.</p>
              </a>
            </div>
          </div>
        </div>
      </div>

      <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--xl" aria-hidden="true">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <h2 class="govuk-heading-m">Principles we follow</h2>

      <p class="govuk-body"> HMRC design resources supplement <a href="https://design-system.service.gov.uk/">GOV.UK Design System</a>. It follows the GOV.UK <a href="https://www.gov.uk/guidance/government-design-principles" class="govuk-link">Government Design Principles</a>, <a href="https://www.gov.uk/service-manual/service-standard" class="govuk-link">Service Standard</a> and <a href="https://www.gov.uk/guidance/content-design" class="govuk-link">content design guidance</a>. HMRC also follows the GOV.UK <a href="https://design-system.service.gov.uk/accessibility/accessibility-strategy/" class="govuk-link">accessibility strategy</a> to improve the accessibility of our services.
    </p>

      <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--xl" aria-hidden="true">

      
  
         

     
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">

            <h2 class="govuk-heading-m">Contribute</h2>
            <p class="govuk-body">If you have a question, idea or suggestion:</p>

            <ul class="govuk-list govuk-list--bullet">
              <li>Get in touch to propose new patterns or share your knowledge: <a class="govuk-link" href="mailto:design.resources-g@digital.hmrc.gov.uk">design.resources-g@digital.hmrc.gov.uk</a></li>
              <li><a class="govuk-link" href="https://hmrcdigital.slack.com/archives/C014S77JCJW">get in touch through Slack (opens in app if you have it)</a></li>
            </ul>
          </div>
        </div>
      </footer>
    </div>
  </div>
</main>
