{% extends 'oneColumnPage.njk' %}

{% macro hmrcInternalCard(params) %}
  <div class="govuk-grid-column-one-third">
    <a href="{{ params.link }}" class="hmrc-internal-cards__card">
      <h3 class="govuk-heading-s cards__item__header">{{ params.title }}</h3>
      <p class="govuk-body">{{ params.description }}</p>
    </a>
  </div>
{% endmacro %}

{% macro hmrcInternalCardGroup(params) %}
  <div class="hmrc-internal-cards__group">
    <h2 class="govuk-heading-m">{{ params.title }}</h2>
    <div class="govuk-grid-row">
      {{ caller() }}
    </div>
  </div>
{% endmacro %}

{%- block content -%}
  <main id="main-content" role="main">
    <h1>Design resources for HMRC</h1>
    <div class="govuk-main-wrapper govuk-main-wrapper--l hmrc-internal-cards">

      {% call hmrcInternalCardGroup({title: 'Styles, components and patterns'}) -%}
        {{ hmrcInternalCard({
          link: 'https://design-system.service.gov.uk/',
          title: 'GOV.UK Design System',
          description: 'Use these styles, components and patterns to make your service consistent with
              GOV.UK.'
        }) }}

        {{ hmrcInternalCard({
          link: '/design-library',
          title: 'HMRC Design Patterns',
          description: 'Find patterns designed specifically for the needs of HMRC users and patterns that
              are not yet in the GOV.UK Design System.'
        }) }}
      {%- endcall %}

      {% call hmrcInternalCardGroup({title: 'Content design'}) -%}
        {{ hmrcInternalCard({
          link: 'https://www.gov.uk/guidance/style-guide/a-to-z-of-gov-uk-style',
          title: 'GOV.UK content style guide',
          description: 'Use the same style, spelling and grammar conventions as GOV.UK.'
        }) }}

        {{ hmrcInternalCard({
          link: '/hmrc-content-guide/hmrc-style-guide',
          title: 'HMRC content style guide',
          description: 'Use the HMRC style guide for HMRC-specific terms, styles and conventions.'
        }) }}

        {{ hmrcInternalCard({
          link: 'https://www.gov.uk/guidance/content-design',
          title: 'Planning, writing and managing content',
          description: 'Plan and manage content to meet the needs of HMRC users.'
        }) }}

        {{ hmrcInternalCard({
          link: 'https://www.gov.uk/service-manual/design/writing-for-user-interfaces',
          title: 'Writing for user interfaces',
          description: 'Design content that is easy for users to understand.'
        }) }}
      {%- endcall %}

      {% call hmrcInternalCardGroup({title: 'Accessibility and assisted digital'}) -%}
        {{ hmrcInternalCard({
          link: 'https://www.gov.uk/service-manual/helping-people-to-use-your-service',
          title: 'Accessibility and assisted digital',
          description: 'Help and encourage all users to use HMRC services.'
        }) }}
      {%- endcall %}

      {% call hmrcInternalCardGroup({title: 'Standards and principles'}) -%}
        {{ hmrcInternalCard({
          link: 'https://www.gov.uk/guidance/government-design-principles',
          title: 'Government design principles',
          description: 'Follow these 10 principles to design and build great digital services that work for everyone and are consistent across government.'
        }) }}

        {{ hmrcInternalCard({
          link: 'https://www.gov.uk/service-manual/service-standard',
          title: 'Digital Service Standards',
          description: 'Follow these 18 criteria all public-facing transactional services must meet.'
        }) }}

        {{ hmrcInternalCard({
          link: 'https://www.gov.uk/service-manual',
          title: 'Service Manual',
          description: 'Understand what teams can do to build great digital services that will meet the Digital Service Standards.'
        }) }}
      {%- endcall %}

    </div>
    <footer class="c-content-footer">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">Support</h2>
        <p class="govuk-body">Design resources for HMRC is maintained by the Service Design Tools team. If you have a
          question, idea or suggestion:</p>
        <ul class="govuk-list govuk-list--bullet govuk-body">
          <li><a href="mailto:hmrc-service-design-tools-g@digital.hmrc.gov.uk">email the Service Design Tools team</a>
          </li>
          <li>get in touch with <a href="https://hmrcdigital.slack.com/messages/C39V3PH38">#team-sdt</a> on HMRC Slack
            <a href="slack://channel?team=T04RY81HB&amp;id=C39V3PH38">(open in app)</a></li>
        </ul>
      </div>
    </footer>
  </main>

{%- endblock -%}
