---
layout: layout-example.njk
---
{% from "hmrc/components/page-heading/macro.njk"  import hmrcPageHeading %}

{{ hmrcPageHeading({
  text: 'Heb ddod o hyd i’r dudalen'
}) }}

<p class="govuk-body">Os gwnaethoch deipio’r cyfeiriad gwe, dylech wirio ei fod yn gywir.</p>

<p class="govuk-body">Os gwnaethoch bastio’r cyfeiriad gwe, dylech wirio’ch bod wedi copïo’r cyfeiriad yn llawn.</p>

<p class="govuk-body">
  Os yw’r cyfeiriad gwe yn gywir neu y gwnaethoch ddewis cysylltiad neu fotwm <a href="#" class="govuk-link">Cysylltwch â’r Ganolfan Cyswllt Cymraeg os oes angen i chi siarad â rhywun am eich credydau treth</a>.
</p>
