---
layout: layout-example.njk
---
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{{ govukCheckboxes({
  idPrefix: "mixed",
  name: "mixed",
  fieldset: {
    legend: {
      text: "Nodwch eich dewisiadau",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--xl"
    }
  },
  items: [
    {
      value: "paperless",
      text: "Hoffwn gyfathrebu â CThEM drwy ddull electronig, yn hytrach nag ar bapur"
    },
    {
      value: "access-code-7-days",
      text: "Cofiwch y cod cyrchu hwn am 7 diwrnod"
    }
  ]
}) }}
{{ govukButton({
  text: "Yn eich blaen"
}) }}
