---
layout: layout-example.njk
---

{% set mainClasses = "govuk-main-wrapper--l" %}

{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukPanel({
        titleText: "Dilys",
        html: "Rhif EORI<br><strong>GB123456123456</strong>"
      }) }}

      <h2 class="govuk-heading-m">Manylion cofrestru EORI</h2>

      <h3 class="govuk-heading-s">Enw’r busnes cofrestredig</h3>

      <p class="govuk-body">ABC Ltd</p>

      <h3 class="govuk-heading-s">Cyfeiriad y busnes cofrestredig</h3>

      <p class="govuk-body">
      ABC House<br>
      ABC Street<br>
      London<br>
      SE1 1AB<br>
      United Kingdom<br>
      </p>

      <p class="govuk-body">Cwblhawyd y chwiliad ar 10 Ionawr 2022 am 17:30 (GMT).</p>

      <p class="govuk-body"><a href="#" class="govuk-link">Gwirio rhif EORI arall</a></p>

      <p class="govuk-body"><a href="#" class="govuk-link">Beth oedd eich barn am y gwasanaeth hwn?</a> (mae’n cymryd 30 eiliad)</p>
    </div>
  </div>
{% endblock %}
