---
serviceName: 'HMRC content guide'
---

{% extends 'oneColumnPage.njk' %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        HMRC content style guide
      </h1>
      <p class="govuk-body">
        The HMRC style guide only covers content styles and terms that are specific to HMRC, for example, names of taxes and what we call common tasks.
      </p>
      <p class="govuk-body">
        Check the <a href="https://www.gov.uk/guidance/style-guide/a-to-z-of-gov-uk-style">GOV.UK style guide</a> for style, spelling and grammar conventions across GOV.UK.
      </p>
      <p class="govuk-body">
        Use the same terms, style and spelling and grammar conventions in GOV.UK content and services to make the user’s end-to-end journey consistent. You can <a href="/hmrc-content-guide/index">view HMRC GOV.UK content guides</a> to check services and GOV.UK content are consistent.
      </p>
    </div>
  </div>

  <!-- begin js-collapsible-collection -->
  <div class="js-collapsible-collection subsection-collection" data-collapse-depth="1">
    <div class="collapsible-subsections">
      <h2 id="a">A</h2>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <h3 class="govuk-heading-s" id="accrued-income-scheme">
              Accrued Income Scheme
            </h3>
            <p class="govuk-body">
              Initial caps.
            </p>

            <h3 class="govuk-heading-s" id="acronyms-and-abbreviations">
              acronyms and abbreviations
            </h3>
            <p class="govuk-body">
              The first time you use an acronym or abbreviation, explain it in full on each page unless it is commonly used, for example UK, EU and VAT.
            </p>
            <p class="govuk-body">
              You can use the acronym HMRC.
            </p>
          </div>
        </div>

      <h2 id="b">B</h2>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <h3 class="govuk-heading-s" id="b-thing">
              B thing
            </h3>
            <p class="govuk-body">
              B stuff
            </p>
          </div>
        </div>

      <h2 id="c">C</h2>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">

          </div>
        </div>

      <h2 id="d">D</h2>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">

          </div>
        </div>

      <h2 id="e">E</h2>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">

          </div>
        </div>

      <h2 id="f">F</h2>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">

          </div>
        </div>

      <h2 id="g">G</h2>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">

          </div>
        </div>

      <h2 id="h">H</h2>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">

          </div>
        </div>

      <h2 id="i">I</h2>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">

          </div>
        </div>

      <h2 id="j">J</h2>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">

          </div>
        </div>

      <h2 id="k">K</h2>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">

          </div>
        </div>

      <h2 id="l">L</h2>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">

          </div>
        </div>

      <h2 id="m">M</h2>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">

          </div>
        </div>

      <h2 id="n">N</h2>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">

          </div>
        </div>

      <h2 id="o">O</h2>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">

          </div>
        </div>

      <h2 id="p">P</h2>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">

          </div>
        </div>

      <h2 id="q">Q</h2>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">

          </div>
        </div>

      <h2 id="r">R</h2>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">

          </div>
        </div>

      <h2 id="s">S</h2>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">

          </div>
        </div>

      <h2 id="t">T</h2>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">

          </div>
        </div>

      <h2 id="u">U</h2>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">

          </div>
        </div>

      <h2 id="v">V</h2>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">

          </div>
        </div>

      <h2 id="w">W</h2>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">

          </div>
        </div>

      <h2 id="x">X</h2>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">

          </div>
        </div>

      <h2 id="y">Y</h2>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">

          </div>
        </div>

      <h2 id="z">Z</h2>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">

          </div>
        </div>
    </div>
  </div>
  <!-- end js-collapsible-collection -->

{%- endblock -%}
