{% extends 'oneColumnPage.njk' %}
{% block content %}
<script src="assets/javascripts/toggle-open.js" type="application/javascript"></script>
    <main class="govuk-main-wrapper">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">
                    HMRC content style guide
                </h1>
                <p class="govuk-body">
                    The HMRC style guide only covers content styles and terms that are specific to HMRC, for example,
                    names
                    of taxes and what we call common tasks.
                </p>

                <p class="govuk-body">
                    Check the <a href="https://www.gov.uk/guidance/style-guide/a-to-z-of-gov-uk-style">GOV.UK style
                        guide</a> for style, spelling and grammar conventions across GOV.UK.
                </p>

                <p>
                    Use the same terms, style and spelling and grammar conventions in GOV.UK content and services to
                    make
                    the user's end-to-end journey consistent. You can <a href="/hmrc-content-guide/index">view HMRC
                        GOV.UK
                        content guides</a> to check services and GOV.UK content are consistent.
                </p>
            </div>
        </div>
        <div id="openToggle" class="c-toggle-open">
            <header class="c-toggle-open__header">
                <h2 class="govuk-heading-l c-toggle-open__title">A to Z</h2>
                <ul class="c-toggle-open__controls">
                    <li><a href="" id="open"> Open all</a></li>
                    <li><a href="" id="close">Close all</a></li>
                </ul>
            </header>


            <details>

                <summary><span class="summary">A</span></summary>

                <div class="details__content">

                    <h4 class="govuk-heading-s">
                        Accrued Income Scheme
                    </h4>
                    <p>
                        Initial caps.
                    </p>

                    <h4 class="govuk-heading-s">
                        acronyms and abbreviations
                    </h4>

                    <p>
                        The first time you use an acronym or abbreviation, explain it in full on each page unless it
                        is
                        commonly used, for example UK, EU and VAT.
                    </p>

                    <p>
                        You can use the acronym HMRC.
                    </p>

                    <h4 class="govuk-heading-s">
                        Adoption Pay
                    </h4>
                    <p>
                        Initial caps.
                    </p>

                    <h4 class="govuk-heading-s">
                        Aggregates Levy
                    </h4>
                    <p>
                        Lower case, no acronym.
                    </p>

                    <h4 class="govuk-heading-s">
                        Alcoholic Liquor Duties
                    </h4>
                    <p>
                        Initial caps.
                    </p>

                    <h4 class="govuk-heading-s">
                        All-employee share ownership scheme
                    </h4>
                    <p>
                        1 hyphen.
                    </p>

                    <h4 class="govuk-heading-s">
                        Accrued Income Scheme
                    </h4>
                    <p>
                        Initial caps.
                    </p>

                    <h4 class="govuk-heading-s">
                        apostrophes
                    </h4>
                    <p>
                        Use ‘smart’ (curly) apostrophes rather than 'dumb' (straight) apostrophes.
                    </p>

                    <p>
                        See <a href="http://smartquotesforsmartpeople.com/">Smart Quotes for Smart People</a> to
                        find
                        out
                        how to create these in different operating systems.
                    </p>

                </div>

            </details>

            <details>

                <summary><span class="summary">B</span></summary>

                <div class="details__content">

                    <h4 class="govuk-heading-s">
                        Bereavement Allowance
                    </h4>
                    <p>
                        Initial caps.
                    </p>

                    <h4 class="govuk-heading-s">
                        Bingo Duty
                    </h4>
                    <p>
                        Initial caps.
                    </p>

                    <h4 class="govuk-heading-s">
                        business
                    </h4>
                    <p>
                        Use business as generic term and ‘company’ only when referring to a limited company.
                    </p>

                    <h4 class="govuk-heading-s">
                        Business Start-up allowance
                    </h4>
                    <p>
                        Initial caps, 1 hyphen.
                    </p>

                </div>

            </details>

            <details>

                <summary><span class="summary">C</span></summary>

                <div class="details__content">

                    <p>

                    <h4 class="govuk-heading-s">
                        Capital Bonds
                    </h4>
                    <p>
                        Initial caps.
                    </p>

                    <h4 class="govuk-heading-s">
                        Capital Gains Manual
                    </h4>
                    <p>
                        Initial caps.
                    </p>

                    <h4 class="govuk-heading-s">
                        Carer’s Allowance
                    </h4>
                    <p>
                        Formerly invalid care allowance.
                    </p>

                    <h4 class="govuk-heading-s">
                        Child Trust Fund
                    </h4>
                    <p>
                        Initial caps.
                    </p>

                    <h4 class="govuk-heading-s">
                        Climate Change Levy
                    </h4>
                    <p>
                        Initial caps.
                    </p>

                    <h4 class="govuk-heading-s">
                        Code of Practice
                    </h4>
                    <p>
                        Initial caps.
                    </p>

                    <h4 class="govuk-heading-s">
                        colons
                    </h4>
                    <p>
                        Colons are used to introduce lists or next to short labels like ‘Telephone:’. Avoid using
                        them
                        in
                        sentences when you are explaining an idea, giving an example or listing items. When used in
                        this
                        way, they always make a sentence less simple. You can:
                    </p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>have a separate sentence with the explanation after the general information</li>
                        <li>replace them with ‘, like’ when giving an example</li>
                        <li>use bullet points if you have a list</li>
                    </ul>

                    <h4 class="govuk-heading-s">
                        complete
                    </h4>
                    <p>
                        Use ‘fill in’ for doing returns and forms, whether paper or online.
                    </p>


                    <h4 class="govuk-heading-s">
                        compliance checks
                    </h4>
                    <p>
                        Lower case, unless referring to a product or process, for example ‘Compliance Checks
                        learning’
                        or ‘A
                        New Approach to Compliance Checks’.
                    </p>

                    <p>
                        Only use this term where necessary, proven by user needs. Try to use informal language
                        instead,
                        for
                        example ‘checking your tax return’.
                    </p>

                    <h4 class="govuk-heading-s">
                        Contracted-out Salary Related Scheme
                    </h4>
                    <p>
                        Initial caps, 1 hyphen.
                    </p>

                    <h4 class="govuk-heading-s">
                        Corporative Venturing Scheme
                    </h4>
                    <p>
                        Initial caps.
                    </p>

                    <h4 class="govuk-heading-s">
                        customs
                    </h4>
                    <p>
                        Lower case, unless referring to a product or a process.
                    </p>

                    <h4 class="govuk-heading-s">
                        Countervailing Duty
                    </h4>
                    <p>
                        Initial caps.
                    </p>

                    <h4 class="govuk-heading-s">
                        Customs Information Paper
                    </h4>
                    <p>
                        Initial caps.
                    </p>


                </div>

            </details>

            <details>

                <summary><span class="summary">D</span></summary>

                <div class="details__content">

                    <h4 class="govuk-heading-s" id="dashes">
                        dashes
                    </h4>
                    <p>
                        Dashes separate words into clauses. They are slightly longer than a hyphen and always have
                        spaces
                        either side of them. For example “You can claim the actual amount you’ve spent – you’ll need
                        to
                        keep
                        receipts.”
                    </p>

                    <p>
                        Dashes usually make sentences more complicated. Before using a dash, or pair of dashes,
                        consider
                        using separate sentences.
                    </p>

                    <p>
                        There are different ways to include a dash in content. You can:
                    </p>

                    <ul class="govuk-list govuk-list--bullet">
                        <li>option + - key on an Apple Mac</li>
                        <li>alt + 0150 on a PC with a number pad</li>
                        <li>copy – into your content</li>
                    </ul>

                    <p>
                        Avoid the HTML <code>&ampn dash;</code> as they are treated differently by different screen
                        readers.
                    </p>

                    <h4 class="govuk-heading-s">
                        defined contribution
                    </h4>
                    <p>
                        Sentence case.
                    </p>

                    <h4 class="govuk-heading-s">
                        defined benefit
                    </h4>
                    <p>
                        Sentence case.
                    </p>

                    <h4 class="govuk-heading-s">
                        drop-down menu
                    </h4>
                    <p>
                        Hyphenated.
                    </p>

                    <h4 class="govuk-heading-s">
                        due, overdue
                    </h4>
                    <p>
                        Do not use these terms and use plain English instead, for example ‘You need to pay your
                        return
                        by 31
                        January 2016’.
                    </p>

                    <p>
                        If you must use these terms, only use them when the user has to do something by a specified
                        time
                        or
                        date. For example, ‘Your payment is due on 31 January 2016’. Do not use them where there is
                        no
                        specified time or date, for example ‘Your £5,000 is now due’.
                    </p>

                    <h4 class="govuk-heading-s">
                        duty-free
                    </h4>
                    <p>
                        Hyphenated.
                    </p>

                    <h4 class="govuk-heading-s">
                        duty-paid
                    </h4>
                    <p>
                        Hyphenated, when used as an adjective.
                    </p>

                    <h4 class="govuk-heading-s">
                        duty-suspended
                    </h4>
                    <p>
                        Hyphenated, when used as an adjective.
                    </p>

                </div>

            </details>

            <details>

                <summary><span class="summary">E</span></summary>

                <div class="details__content">

                    <h4 class="govuk-heading-s">
                        Earlier Year Update (EYU)
                    </h4>
                    <p>
                        A new term introduced in 2011 by the RTI programme for employers. For information about how
                        to
                        use
                        it, see ‘Full Payment Submission’.
                    </p>

                    <p>
                        An electronic submission sent from a customer’s payroll software to HMRC to correct entries
                        made
                        on
                        an FPS for the previous year.
                    </p>

                    <h4 class="govuk-heading-s">
                        Employer Alignment Submission (EAS)
                    </h4>
                    <p>
                        A new term introduced in 2011 by the RTI programme for employers. For information about how
                        to
                        use
                        it, see ‘Full Payment Submission’.
                    </p>

                    <h4 class="govuk-heading-s">
                        Employer Compliance Review
                    </h4>
                    <p>
                        Initial caps.
                    </p>

                    <h4 class="govuk-heading-s">
                        Employment Payment Summary (EPS)
                    </h4>
                    <p>
                        A new term introduced in 2011 by the RTI programme for employers. For information about how
                        to
                        use
                        it, see ‘Full Payment Submission’.
                    </p>

                    <h4 class="govuk-heading-s">
                        Employer’s Annual Return
                    </h4>
                    <p>
                        Initial caps.
                    </p>

                    <h4 class="govuk-heading-s">
                        Enterprise Investment Scheme (EIS)
                    </h4>
                    <p>
                        Initial caps.
                    </p>

                    <h4 class="govuk-heading-s">
                        ePayments (electronic payments)
                    </h4>
                    <p>
                        Lower case ‘e’, capital ‘P’.
                    </p>

                    <h4 class="govuk-heading-s">
                        e-service
                    </h4>
                    <p>
                        Lower case, hyphenated.
                    </p>

                    <h4 class="govuk-heading-s">
                        eVAT
                    </h4>
                    <p>
                        When referring to the VAT registration service.
                    </p>

                    <h4 class="govuk-heading-s">
                        Extra-Statutory Concessions
                    </h4>
                    <p>
                        Initial caps, 1 hyphen when meaning of concessions are not created by statute.
                    </p>

                </div>

            </details>

            <details>

                <summary><span class="summary">F</span></summary>

                <div class="details__content">

                    <h4 class="govuk-heading-s">
                        full stops
                    </h4>
                    <p>
                        Only use a full stop to end a complete sentence. Do not use them to end fragments, headings
                        or
                        sub-headings.
                    </p>

                    <h4 class="govuk-heading-s">
                        Funding Notification form
                    </h4>
                    <p>
                        Capital ‘F’ and ‘N’, lower case ‘f’.
                    </p>

                </div>

            </details>

            <details>

                <summary><span class="summary">G</span></summary>

                <div class="details__content">

                    <h4 class="govuk-heading-s">
                        Gaming Duty
                    </h4>
                    <p>
                        Initial caps.
                    </p>

                    <h4 class="govuk-heading-s">
                        Gender Recognition Certificate
                    </h4>
                    <p>
                        Initial caps.
                    </p>

                    <h4 class="govuk-heading-s">
                        General Betting Duty
                    </h4>
                    <p>
                        Initial caps.
                    </p>

                    <h4 class="govuk-heading-s">
                        Gift Aid
                    </h4>
                    <p>
                        Initial caps.
                    </p>

                    <h4 class="govuk-heading-s">
                        Gift Aid declaration
                    </h4>
                    <p>
                        Capital ‘G’ and ‘A’, lower case ‘d’.
                    </p>

                </div>

            </details>

            <details>

                <summary><span class="summary">H</span></summary>

                <div class="details__content">

                    <h4 class="govuk-heading-s">
                        headings
                    </h4>
                    <p>
                        Follow the <a href="https://design-system.service.gov.uk/styles/typography/#headings">guidance
                            on
                            headings in the GOV.UK Design System</a>.
                    </p>
                    <p>
                        There is only one <code>&lt;h1&gt;</code> on every page. The page title and
                        <code>&lt;h1&gt;</code>
                        clearly and specifically describe the purpose of the page. General headings or questions,
                        like
                        “What
                        do you want to do?”, can confuse people with learning disabilities.
                    </p>
                    <p>
                        Section headings that let you know what part of a service you are in are above the
                        <code>&lt;h1&gt;</code> and are <a href="../design-library/components/page-heading">coded so
                            the
                            <code>&lt;h1&gt;</code> is read out first</a>.
                    </p>
                    <p>
                        Headings never end with punctuation except questions that a user can answer on the page,
                        which
                        end
                        with question marks. If a question is not in the <code>&lt;h1&gt;</code> use a
                        <code>&lt;label&gt;</code> or <code>&lt;legend&gt;</code>, not a heading.
                    </p>
                    <p>
                        Headings introduce sections of content and are not used to change how content looks. If it
                        meets
                        a
                        user need, use the heading classes, like “heading-medium”, to change how the content looks.
                    </p>

                    <h4 class="govuk-heading-s">
                        HMRC
                    </h4>
                    <p>
                        Use ‘HMRC’ in specialist (detailed) content on GOV.UK. There’s no need to spell out the
                        acronym
                        in
                        full. You also do not have to use the acronym markdown.
                    </p>

                    <h4 class="govuk-heading-s">
                        Hydrocarbon Oils Duty
                    </h4>
                    <p>
                        Initial caps.
                    </p>

                    <h4 class="govuk-heading-s">
                        Hyphens
                    </h4>
                    <p>
                        Hyphens connect words together. They are shorter than a <a href="#dashes">dash</a> and never
                        have
                        spaces next to them. For example “work-related”, “self-employed” and “tax-free”.
                    </p>

                </div>

            </details>

            <details>

                <summary><span class="summary">I</span></summary>

                <div class="details__content">

                    <h4 class="govuk-heading-s">
                        income-bearing asset
                    </h4>
                    <p>
                        1 hyphen.
                    </p>

                    <h4 class="govuk-heading-s">
                        interest–bearing securities
                    </h4>
                    <p>
                        1 hyphen.
                    </p>

                    <h4 class="govuk-heading-s">
                        Insurance Premium Tax
                    </h4>
                    <p>
                        Initial caps.
                    </p>

                    <h4 class="govuk-heading-s">
                        in-year payment
                    </h4>
                    <p>
                        1 hyphen.
                    </p>

                </div>

            </details>

            <details>

                <summary><span class="summary">J</span></summary>

                <div class="details__content">

                    <h4 class="govuk-heading-s">
                        Jargon
                    </h4>
                    <p>
                        Write content that everyone can understand. Do not use jargon or specialist language, unless
                        it
                        is
                        supported by a clear and proven user need, for example in specialist or internal services.
                        Make
                        sure
                        that by doing so you do not exclude users that are new to the field or profession.
                    </p>

                    <p>
                        If you have a clear and proven user need to support using jargon, mention the term once and
                        explain
                        it.
                    </p>

                </div>

            </details>

            <details>

                <summary><span class="summary">K</span></summary>

                <div class="details__content">

                    <p>
                        &nbsp;
                    </p>

                </div>

            </details>

            <details>

                <summary><span class="summary">L</span></summary>

                <div class="details__content">

                    <h4 class="govuk-heading-s">
                        Landfill Tax
                    </h4>
                    <p>
                        Initial caps.
                    </p>

                    <h4 class="govuk-heading-s">
                        Lottery Duty
                    </h4>
                    <p>
                        Initial caps.
                    </p>

                </div>

            </details>

            <details>

                <summary><span class="summary">M</span></summary>

                <div class="details__content">

                    <h4 class="govuk-heading-s">
                        Married Couples Allowance (MCA)
                    </h4>
                    <p>
                        Initial caps.
                    </p>

                    <h4 class="govuk-heading-s">
                        Married Woman’s Reduced Rate Election
                    </h4>
                    <p>
                        Initial caps.
                    </p>

                    <h4 class="govuk-heading-s">
                        Maternity Pay
                    </h4>
                    <p>
                        Initial caps.
                    </p>

                </div>

            </details>

            <details>

                <summary><span class="summary">N</span></summary>

                <div class="details__content">

                    <h4 class="govuk-heading-s">
                        National Insurance Number Verification Request (NVR)
                    </h4>
                    <p>
                        Initial caps.
                    </p>

                    <p>
                        This is an electronic request sent to HMRC from a customer’s payroll software.
                    </p>

                    <h4 class="govuk-heading-s">
                        National Insurance Recording System
                    </h4>
                    <p>
                        Initial caps.
                    </p>

                    <h4 class="govuk-heading-s">
                        National Minimum Wage (NMW)
                    </h4>
                    <p>
                        Initial caps.
                    </p>

                    <h4 class="govuk-heading-s">
                        Non-Resident Landlord Scheme
                    </h4>
                    <p>
                        Initial caps, single hyphen when using it as a name.
                    </p>

                </div>

            </details>

            <details>

                <summary><span class="summary">O</span></summary>

                <div class="details__content">

                    <h4 class="govuk-heading-s">
                        Online Services Helpdesk
                    </h4>
                    <p>
                        Initial caps.
                    </p>

                    <h4 class="govuk-heading-s">
                        Organisation: the use of ‘we’
                    </h4>
                    <p>
                        It’s okay to use ‘we’ to describe HMRC in content, as long as it’s clear to the user who
                        ‘we’
                        are.
                    </p>

                    <p>
                        For example ‘HM Revenue and Customs is the UK tax authority. We collect the money that pays
                        for
                        the
                        UK’s public services and help families and individuals with targeted financial support.’
                    </p>

                </div>

            </details>

            <details>

                <summary><span class="summary">P</span></summary>

                <div class="details__content">

                    <h4 class="govuk-heading-s">
                        P11 Deductions Working Sheets
                    </h4>
                    <p>
                        Initial caps.
                    </p>

                    <h4 class="govuk-heading-s">
                        Paternity Pay
                    </h4>
                    <p>
                        Initial caps.
                    </p>

                    <h4 class="govuk-heading-s">
                        payable
                    </h4>
                    <p>
                        Do not use this term, except when you are specifying who a cheque should be payable to. For
                        example
                        ‘Make the cheque payable to HM Revenue and Customs, not ‘This amount is payable in monthly
                        instalments’.
                    </p>

                    <h4 class="govuk-heading-s">
                        Pay As You Earn (PAYE)
                    </h4>
                    <p>
                        Initial caps.
                    </p>

                    <h4 class="govuk-heading-s">
                        Payroll Accreditation process
                    </h4>
                    <p>
                        Capital ‘P’ and ‘A’, lower case ‘p’.
                    </p>

                    <h4 class="govuk-heading-s">
                        Payroll Giving
                    </h4>
                    <p>
                        Initial caps.
                    </p>

                    <h4 class="govuk-heading-s">
                        penalty, fine
                    </h4>
                    <p>
                        Use ‘penalty’ for the sake of consistency. All fines are penalties but not all penalties are
                        fines.
                    </p>

                    <h4 class="govuk-heading-s">
                        Personal Allowance
                    </h4>
                    <p>
                        Initial caps.
                    </p>

                    <h4 class="govuk-heading-s">
                        permanent interest-bearing shares (PIBS)
                    </h4>
                    <p>
                        Lower case, 1 hyphen.
                    </p>

                    <h4 class="govuk-heading-s">
                        Petroleum Revenue Tax
                    </h4>
                    <p>
                        Initial caps.
                    </p>

                    <h4 class="govuk-heading-s">
                        Pool Betting Duty
                    </h4>
                    <p>
                        Initial caps.
                    </p>

                    <h4 class="govuk-heading-s">
                        Private Residence Relief
                    </h4>
                    <p>
                        Initial caps.
                    </p>

                    <h4 class="govuk-heading-s">
                        Punctuation and link text
                    </h4>
                    <p>
                        Place punctuation outside of the link text for internal links to GOV.UK content.
                    </p>

                    <p>
                        For example “[HMRC](https://www.gov.uk/government/organisations/hm-revenue-customs).”
                    </p>

                    <p>
                        Include any adjacent punctuation within the link text for external links.
                    </p>

                    <p>
                        For example “[HMRC.](https://www.hmrc.gov.uk)”
                    </p>

                </div>

            </details>

            <details>

                <summary><span class="summary">Q</span></summary>

                <div class="details__content">

                    <h4 class="govuk-heading-s">
                        quotation marks
                    </h4>
                    <p>
                        Use “smart” (curly) quotes rather than "dumb" (straight) quotes.
                    </p>

                    <p>
                        See <a href="http://smartquotesforsmartpeople.com/">Smart Quotes for Smart People</a> to
                        find
                        out
                        how to create these in different operating systems.
                    </p>

                </div>

            </details>

            <details>

                <summary><span class="summary">R</span></summary>

                <div class="details__content">

                    <h4 class="govuk-heading-s">
                        re-acquire, re-acquisition
                    </h4>
                    <p>
                        Both hyphenated.
                    </p>

                    <h4 class="govuk-heading-s">
                        Rent-a-Room for traders
                    </h4>
                    <p>
                        Capitals for both ‘Rs’, 2 hyphens.
                    </p>

                    <h4 class="govuk-heading-s">
                        Rent-a-Room Scheme
                    </h4>
                    <p>
                        Initial caps, 2 hyphens.
                    </p>

                    <h4 class="govuk-heading-s">
                        Repayment of Teachers Loans (RTL) Scheme
                    </h4>
                    <p>
                        Initial caps, no apostrophe.
                    </p>

                    <h4 class="govuk-heading-s">
                        Remote Gaming Duty
                    </h4>
                    <p>
                        Initial caps.
                    </p>

                    <h4 class="govuk-heading-s">
                        Research and Development (R&D) tax relief
                    </h4>
                    <p>
                        Capital ‘R’ and ‘D’, use ampersand in acronym.
                    </p>

                    <h4 class="govuk-heading-s">
                        Research and Development (R&D) tax credits
                    </h4>
                    <p>
                        Capital ‘R’ and ‘D’, use ampersand in acronym.
                    </p>

                </div>

            </details>

            <details>

                <summary><span class="summary">S</span></summary>

                <div class="details__content">

                    <h4 class="govuk-heading-s">
                        Save As You Earn schemes (SAYE)
                    </h4>
                    <p>
                        Initial caps, except lower case ‘schemes’.
                    </p>

                    <h4 class="govuk-heading-s">
                        Seafarers’ Earnings Deduction
                    </h4>
                    <p>
                        Initial caps, apostrophe.
                    </p>

                    <h4 class="govuk-heading-s">
                        semicolons
                    </h4>
                    <p>
                        Semicolons are used to link closely related ideas together. They are less common in writing
                        and
                        always make a sentence less simple. You can:
                    </p>

                    <ul class="govuk-list govuk-list--bullet">
                        <li>have a separate sentence for each idea</li>
                        <li>use a word to connect the phrases like ‘and’, ‘but’ or ‘because’</li>
                    </ul>

                    <h4 class="govuk-heading-s">
                        send, file or submit
                    </h4>
                    <p>
                        Regular users running their own business seem to prefer ‘file’ and ‘submit’, but individuals
                        doing
                        Self Assessment prefer ‘send’.
                    </p>

                    <p>
                        User research shows that ‘submit VAT return’ is more popular than ‘send VAT return’, whereas
                        ‘send
                        tax return’ is more popular than ‘submit tax return’.
                    </p>

                    <p>
                        You should consider the existing content, what the business areas use in external
                        communications
                        and
                        any user research findings.
                    </p>

                    <h4 class="govuk-heading-s">
                        set off
                    </h4>
                    <p>
                        Not hyphenated when used as a verb. For example, ‘losses from earlier years set off’.
                    </p>
                    <p>
                        Hyphenated when used as a noun. For example, ‘a subsequent agreement between the parties to
                        set-off
                        a claim’.
                    </p>

                    <h4 class="govuk-heading-s">
                        Short Tax Return
                    </h4>
                    <p>
                        Initial caps.
                    </p>

                    <h4 class="govuk-heading-s">
                        sign in, log in
                    </h4>
                    <p>
                        Always use ‘sign in’.
                    </p>

                    <h4 class="govuk-heading-s">
                        small earnings exception
                    </h4>
                    <p>
                        Lower case.
                    </p>

                    <h4 class="govuk-heading-s">
                        Soft Drinks Industry Levy
                    </h4>
                    <p>
                        Initial caps.
                    </p>

                    <h4 class="govuk-heading-s">
                        Stamp Duty
                    </h4>
                    <p>
                        Initial caps.
                    </p>

                    <h4 class="govuk-heading-s">
                        Stamp Duty Land Tax
                    </h4>
                    <p>
                        Initial caps.
                    </p>

                    <h4 class="govuk-heading-s">
                        Stamp Duty Reserve Tax (SDRT)
                    </h4>
                    <p>
                        Initial caps.
                    </p>

                    <h4 class="govuk-heading-s">
                        State Pension
                    </h4>
                    <p>
                        Initial caps.
                    </p>

                    <h4 class="govuk-heading-s">
                        Student Loan deduction
                    </h4>
                    <p>
                        Capital ‘S’ and ‘L’.
                    </p>

                    <h4 class="govuk-heading-s">
                        Student Loan repayments
                    </h4>
                    <p>
                        Capital ‘S’ and ‘L’.
                    </p>

                </div>

            </details>

            <details>

                <summary><span class="summary">T</span></summary>

                <div class="details__content">

                    <h4 class="govuk-heading-s">
                        take-home pay
                    </h4>
                    <p>
                        1 hyphen.
                    </p>

                    <h4 class="govuk-heading-s">
                        Taxed Award Scheme
                    </h4>
                    <p>
                        Initial caps.
                    </p>

                    <h4 class="govuk-heading-s">
                        tax-free (tax free)
                    </h4>
                    <p>
                        Hyphenated before a noun, two words when after it.
                    </p>

                    <h4 class="govuk-heading-s">
                        Tobacco Products Duty
                    </h4>
                    <p>
                        Initial caps.
                    </p>

                    <h4 class="govuk-heading-s">
                        Trust Unique Taxpayer Reference
                    </h4>
                    <p>
                        Initial caps.
                    </p>

                </div>

            </details>

            <details>

                <summary><span class="summary">U</span></summary>

                <div class="details__content">

                    <h4 class="govuk-heading-s">
                        Unique Taxpayer Reference (UTR)
                    </h4>
                    <p>
                        Initial caps. Not ‘Unique Taxpayer Reference number’ or ‘Unique Taxpayer Reference Number’.
                    </p>


                </div>

            </details>

            <details>

                <summary><span class="summary">V</span></summary>

                <div class="details__content">

                    <h4 class="govuk-heading-s">
                        Venture Capital Schemes Manual
                    </h4>
                    <p>
                        Initial caps.
                    </p>

                </div>

            </details>

            <details>

                <summary><span class="summary">W</span></summary>

                <div class="details__content">

                    <h4 class="govuk-heading-s">
                        war widow’s and dependant’s pension
                    </h4>
                    <p>
                        Lower case, note position of apostrophes.
                    </p>

                    <h4 class="govuk-heading-s">
                        Widow’s Pension or Bereavement Allowance
                    </h4>
                    <p>
                        Initial caps.
                    </p>

                </div>

            </details>

            <details>

                <summary><span class="summary">X</span></summary>

                <div class="details__content">

                    <p>
                        &nbsp;
                    </p>

                </div>

            </details>

            <details>

                <summary><span class="summary">Y</span></summary>

                <div class="details__content">

                    <p>
                        &nbsp;
                    </p>

                </div>

            </details>

            <details>

                <summary><span class="summary">Z</span></summary>

                <div class="details__content">

                    <h4 class="govuk-heading-s">
                        zero-rated
                    </h4>
                    <p>
                        Hyphenated, but no hyphen in ‘zero rate’ or ‘zero rating’.
                    </p>

                </div>

            </details>

        </div>
    </main>
{%- endblock -%}
