---
title: Patterns for the GOV.UK content team
pageHeading: Patterns for the GOV.UK content team
layout: twoColumnPage.njk
---

<p class="govuk-body">
  These are patterns for designing HMRC content on GOV.UK. Use these to make your content consistent
  with the rest of HMRC.
</p>

<h2 class="govuk-heading-l">If you cannot find what you need</h2>

<p class="govuk-body">
  Send a request to the Editorial Board if you cannot find a pattern you need, or you need to change the
  order, structure or markdown of an existing one.
</p>
