---
title: Patterns for the HMRC GOV.UK team
pageHeading: Patterns for the HMRC GOV.UK team
layout: twoColumnPage.njk
---

<p class="govuk-body">
  These content patterns should be used to design specialist HMRC content on <a href="https://www.gov.uk/" class="govuk-link">GOV.UK</a>.
</p>
<p class="govuk-body">  
  <a href="https://www.gov.uk/" class="govuk-link">GOV.UK</a> content designers should use them to make their content consistent.
</p>

<h2 class="govuk-heading-l">Get help</h2>

<p class="govuk-body">
  If you have a question, idea or suggestion, you can email the design resources team at <a class="govuk-link" href="mailto:design.resources-g@digital.hmrc.gov.uk">design.resources-g@digital.hmrc.gov.uk</a>.
</p>
