---
title: Patterns for the HMRC GOV.UK team
pageHeading: Patterns for the HMRC GOV.UK team
layout: twoColumnPage.njk
---

<p class="govuk-body">
  These are patterns for designing HMRC content on GOV.UK. Use these to make your content consistent
  with the rest of HMRC.
</p>

<h2 class="govuk-heading-l">Get help</h2>

<p class="govuk-body">
  If you have a question, idea or suggestion you can email the design resources team at <a class="govuk-link" href="mailto:design.resources-g@digital.hmrc.gov.uk">design.resources-g@digital.hmrc.gov.uk</a>.
</p>
