---
layout: layout-example.njk
---
<h2 class="govuk-caption-l hmrc-caption-l"><span class="govuk-visually-hidden">Teitl yr adran hon yw </span>Manylion personol</h2>

<form action="#" method="get" novalidate>
  <div class="govuk-form-group">
    <h1 class="govuk-label-wrapper">
      <label class="govuk-label govuk-label--l" for="example">Beth yw’ch enw?</label>
    </h1>

    <input class="govuk-input" id="example" name="example" type="text">
  </div>
</form>
