---
layout: layout-example.njk
---

<h2 class="govuk-caption-l hmrc-caption-l"><span class="govuk-visually-hidden">Yr adran hon yw: </span>Eich manylion</h2>

<form action="#" method="get" novalidate>
  <div class="govuk-form-group">
    <h1 class="govuk-label-wrapper">
      <label class="govuk-label govuk-label--l" for="example">Beth yw’ch enw?</label>
    </h1>

    <input class="govuk-input" id="example" name="example" type="text" aria-describedby="example-hint">
  </div>
</form>
