---
layout: layout-example.njk
---

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

<h1 class="govuk-heading-l">Beth yw’ch Cyfeirnod Unigryw y Trethdalwr ar gyfer Treth Gorfforaeth (UTR)?</h1>

<p class="govuk-body">Gall eich UTR fod yn 10 neu’n 13 digid o hyd. Gallwch <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="https://www.gov.uk/personal-tax-account">ddod o hyd iddo yn eich Cyfrif Treth Busnes (yn agor tab newydd)</a>, ar Ffurflenni Treth a dogfennau eraill oddi wrth CThEF. Efallai y cyfeirir ato gan ddefnyddio’r geiriau ‘cyfeirnod’, ‘UTR’ neu ‘defnydd swyddogol’.</p>

<p class="govuk-body"><a class="govuk-link" rel="noreferrer noopener" target="_blank" href="https://www.gov.uk/find-lost-utr-number">Dod o hyd i UTR coll (yn agor tab newydd)</a>.</p>

{{
  govukInput({
    label: {
      text: "Beth yw’ch Cyfeirnod Unigryw y Trethdalwr ar gyfer Treth Gorfforaeth?",
      isPageHeading: false,
      classes: "govuk-visually-hidden"
    },
    id: "utr",
    name: "utr",
    classes: "govuk-input--width-10"
  })
}}

{{ govukButton({
  text: "Yn eich blaen"
}) }}
