---
title: Tariff notices
layout: twoColumnPage.njk
---
{% from "_codeSnippet.njk" import codeSnippet %}


<h2 class="govuk-heading-l">When to use</h2>

<p class="govuk-body">Use this pattern to tell users about a change in Tariff classification or Combined Nomenclature codes.
</p>

<h2 class="govuk-heading-l">How to design this pattern</h2>


<div class="govuk-inset-text">
   Do not make any changes to the Tariff notice. It must be an exact copy of the text that’s been provided and must match <a href="https://eur-lex.europa.eu/homepage.html" class="govuk-link">EU legislation</a>.
</div>

<h3 class="govuk-heading-m">Document type</h3>

<p class="govuk-body">Detailed guide</p>


<h3 class="govuk-heading-m">Title</h3>

<p class="govuk-body">
Enter ‘[Description] (Tariff notice [number])’.
</p>

<h3 class="govuk-heading-m">Body</h3>

<p class="govuk-body">
In the first paragraph link to the relevant <a href="https://eur-lex.europa.eu/homepage.html" class="govuk-link">EU legislation</a>.
</p>

<p class="govuk-body">
After the first paragraph, use either: ‘This is considered a change in UK practice.’ or ‘This is not considered a change in UK practice.’
</p>

<h4 class="govuk-heading-s">Headings and sub-headings</h4>

<p class="govuk-body">
These will normally follow the same pattern.
</p>

  {{
    codeSnippet({
      code: '## New regulation

### Classification (Combined Nomenclature (CN) code)

## Reason


## Contact details


$A

Tariff Classification
Customs Directorate
10th Floor South East
Alexander House
21 Victoria Avenue
Southend-on-Sea
Essex SS99 1AA

$A

Email: <tariff.classification@hmrc.gov.uk>

This Tariff notice is published for information purposes only.',
      canCopy: true
    })
  }}

<h3 class="govuk-heading-m">Collection page</h3>

<p class="govuk-body">
Add the document to the <a href="https://www.gov.uk/government/collections/tariff-notices" class="govuk-link">Tariff notices collection</a>. Do not create a public change note.
</p>
