---
layout: layout-example.njk
---

<h2 class="govuk-heading-l">Pryd i dalu</h2>

<p class="govuk-body">
Begin by including how users can find out when they should make payment or a timeline of when the payment must be made.
</p>

<p class="govuk-body">
Then include the following:
</p>

<p class="govuk-body">
Os bydd y dyddiad cau ar y penwythnos neu ar ŵyl y banc, gwnewch yn siŵr bod eich taliad yn dod i law CThEF erbyn y diwrnod gwaith olaf cyn hynny.
</p>

<p class="govuk-body">
Os na fyddwch yn talu erbyn y dyddiad cau, efallai y bydd yn rhaid i chi dalu cosb, llog, neu’r ddau.
</p>