---
layout: layout-example.njk
---

<h2 class="govuk-heading-l">Pryd i dalu</h2>

<p class="govuk-body">
Mae taliadau’n ddyledus cyn pen 14 diwrnod i ddyddiad ‘dod i rym’ y trafodyn. Fel arfer, dyddiad cwblhau’r trafodyn yw hyn, ond gall hefyd fod yn un o’r dyddiadau canlynol:
</p>

<ul class="govuk-list govuk-list--bullet">
<li>y dyddiad y mae’r prynwr â’r hawl i gymryd meddiant o’r eiddo</li>
<li>y dyddiad y mae’r taliad rhent cyntaf yn ddyledus</li>
<li>y dyddiad cwblhau sylweddol — pan wneir o leiaf 90% o’r taliad (neu gyfnewid arall)</li>
</ul>

<p class="govuk-body">
Os bydd y dyddiad cau ar y penwythnos neu ar ŵyl y banc, gwnewch yn siŵr bod eich taliad yn dod i law CThEF erbyn y diwrnod gwaith olaf cyn hynny.
</p>

<p class="govuk-body">
Os na fyddwch yn talu erbyn y dyddiad cau, efallai y bydd yn rhaid i chi dalu cosb, llog, neu’r ddau.
</p>