---
title: Exchange rates – monthly
menuText: Exchange rates – monthly
layout: twoColumnPage.njk
---
{% from "_codeSnippet.njk" import codeSnippet %}

<h2 class="govuk-heading-l">When to use</h2>

<p class="govuk-body">
You should only use this pattern if you’re publishing monthly exchange rates in both CSV and XML. You will need to have access to Documentum.
</p>

<h2 class="govuk-heading-l">XML rates on HMRC.GOV.UK</h2>

<p class="govuk-body">
You need to add the XML file to the <a href="http://www.hmrc.gov.uk/softwaredevelopers/2022-exrates.html" class="govuk-link">Software developer’s page</a> under the relevant sub heading.
</p>

<p class="govuk-body">
The XML monthly rates page is located in Documentum at ‘/softwaredevelopers/[year]-exrates.html’.
</p>

<p class="govuk-body">
A new file will need to be created yearly. Use the previous year as a template.
</p>

<p class="govuk-body">
The XML file must be uploaded to the Documentum folder at ‘/softwaredevelopers/rates/’.
</p>

<p class="govuk-body">
You must name the XML file using the format 'exrates-monthly-mmyy.xml'.
</p>

<p class="govuk-body">
You cannot schedule publishing in Documentum so you need to publish the XML file before you publish the CSV file on GOV.UK.
</p>

<h2 class="govuk-heading-l">CVS rates on GOV.UK</h2>

<h3 class="govuk-heading-m">Document type</h3>

<p class="govuk-body">
Publication: guidance
</p>

<h2 class="govuk-heading-l">How it works</h2>

<h3 class="govuk-heading-m">Publication</h3>

<h4 class="govuk-heading-s">Title</h4>

<p class="govuk-body">
HMRC exchange rates for yyyy: monthly
</p>

<h4 class="govuk-heading-s">Summary</h4>

<p class="govuk-body">
Find foreign exchange rates issued by HMRC in CSV and XML format.
</p>

<h4 class="govuk-heading-s">Details</h4>

{{
    codeSnippet({
      code: '$CTA
Find [exchange rates in XML format for software developers](http://www.hmrc.gov.uk/softwaredevelopers/2021-exrates.html).
$CTA

You should use these exchange rates if you have to convert any foreign currency to sterling for customs and VAT purposes.

The EU rate includes the following countries:

- Austria
- Belgium
- Cyprus
- Estonia
- Finland
- France
- Germany
- Greece
- Ireland
- Italy
- Latvia
- Lithuania
- Luxembourg
- Malta
- Netherlands
- Portugal
- Slovakia
- Slovenia
- Spain

You should only use the EU rate for conversion of invoices drawn in the euro. Do not confuse it with the euro rate published for Agricultural Levy purposes or the bit error rate (BER) daily rate set to help payment of taxes in the euro.
',
      canCopy: true
    })
  }}

<h3 class="govuk-heading-m">CSV attachment</h3>

<h4 class="govuk-heading-s">Title format</h4>

<p class="govuk-body">
[Month] [year]: monthly exchange rates
</p>

<h4 class="govuk-heading-s">Name of attachment</h4>

<p class="govuk-body">
You must make sure the name of the CSV file is 'exrates-monthly-mmyy.csv' before you upload it.
</p>

<h3 class="govuk-heading-m">Associations and specialist sector tags</h3>

<ul class="govuk-list govuk-list--bullet">
<li>Business and industry: Trade and investment > Customs declarations, duties and tariffs (import and export) > Exchange rates</li>
<li>Business tax: Import, export and customs for businesses</li>
</ul>

<h3 class="govuk-heading-m">Collection page</h3>

<p class="govuk-body">
Add the document to the <a href="https://www.gov.uk/government/collections/exchange-rates-for-customs-and-vat" class="govuk-link">HMRC exchange rates</a> document collection. Do not create a public change note.
</p>