---
title: Archived patterns for the HMRC GOV.UK team
menuText: Archived patterns for the HMRC GOV.UK team
navigationPlacement: secondary
layout: twoColumnPage.njk
---

{% block content %}

<p class="govuk-body">Patterns for the HMRC GOV.UK team are archived when:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>GDS updates the GOV.UK Design System to include similar guidance</li>
  <li>we do not recommend you use the pattern</li>
  <li>we replace them with something else</li>

</ul>

<hr aria-hidden="true" class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<h2 class="govuk-heading-m">Exchange rates — monthly</h2>
<p class="govuk-body">On 13 December 2023, we archived <a class="govuk-link" href="/patterns-hmrc-govuk-team/exchange-rates-monthly/">exchange rates — monthly</a>.</p>
<p class="govuk-body">This was because the pattern was no longer needed by the GOV.UK team. The monthly exchange rates are now available in the <a class="govuk-link" href="https://www.trade-tariff.service.gov.uk/exchange_rates">tools section of the UK trade tariff tool</a>.</p> 
<p class="govuk-body"><a class="govuk-link" href="https://www.gov.uk/government/collections/exchange-rates-for-customs-and-vat">Existing document collection</a> with withdrawn message.</p>

<h2 class="govuk-heading-m">Recognised overseas pension schemes notification list</h2>
<p class="govuk-body">On 18 May 2023, we archived <a class="govuk-link" href="/patterns-hmrc-govuk-team/recognised-overseas-pension-schemes-notification-list/">recognised overseas pension schemes notification list</a>.</p>
<p class="govuk-body">The pattern has been moved to internal instructions.</p>

<h2 class="govuk-heading-m">Tariff stop press notices</h2>
<p class="govuk-body">On 29 December 2022, we archived <a class="govuk-link" href="/patterns-hmrc-govuk-team/tariff-stop-press-notices/">tariff stop press notices</a>.</p>
<p class="govuk-body">This was because the pattern was no longer needed by the GOV.UK team. Tariff stop press notices are now available in the <a href="https://www.trade-tariff.service.gov.uk/news" class="govuk-link">news section of the trade tariff tool</a>.</p>

<h2 class="govuk-heading-m">Anti-dumping duty measures</h2>
<p class="govuk-body">On 4 October 2022, we archived <a class="govuk-link" href="/patterns-hmrc-govuk-team/anti-dumping-measures/">anti-dumping duty measures</a>.</p>
<p class="govuk-body">This was because the pattern was no longer needed.</p>

<h2 class="govuk-heading-m">Videos, webinars and email alerts</h2>
<p class="govuk-body">On 29 September 2022, we replaced 'videos, webinars and email alerts' with <a class="govuk-link" href="/patterns-hmrc-govuk-team/hmrc-email-updates-videos-webinars-community-forums/">HMRC email updates, videos, webinars and community forums</a>.</p>


{% endblock %}
