---
layout: layout-example.njk
---
<p class="govuk-body">
  <span aria-hidden="true">Cyfeiriad e-bost: a*******@gmail.com</span>
  <span class="govuk-visually-hidden">Cyfeiriad e-bost: yn dechrau gyda “a” aac yn gorffen gyda “@gmail.com”</span>
</p>
