---
layout: layout-example.njk
---
{%- from "hmrc/components/caseworker-banner/macro.njk" import hmrcCaseworkerBanner -%}

{{ hmrcCaseworkerBanner({
  text: "The account balance shown on this page is restricted information. Do not disclose to callers."
}) }}

