---
layout: layout-example.njk
---
<div class="caseworker-guidance-banner" data-module="caseworker-guidance-banner">
  <div class="caseworker-guidance-banner__container govuk-width-container">
    <div class="caseworker-guidance-banner__text">
      <h2 class="govuk-heading-s caseworker-guidance-banner__title">
        Caseworker guidance
      </h2>
      The account balance shown on this page is restricted information. Do not disclose to callers.
    </div>
  </div>
</div>