---
title: Green button
layout: twoColumnPage.njk
---
{% from "_example.njk" import example %}
{% from "_codeSnippet.njk" import codeSnippet %}

<h2 class="govuk-heading-l">When to use</h2>

<p class="govuk-body">You should only use this pattern when:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>the purpose of the content is to get all users to complete a single task (such as submitting a return)</li>
  <li>most users could complete the task by using the green button</li>
  <li>you’re using a detailed guide</li>
  <li>you’re linking to a digital service, form, tool or calculator</li>
</ul>

<p class="govuk-body">You must discuss with a senior content designer if you want to include a green button for any other reason.</p>

<p class="govuk-body">You may need to use a green button when working on:</p>

<ul class="govuk-list govuk-list--bullet">
  <li><a href="/patterns-hmrc-govuk-team/forms-detailed-guide/" class="govuk-link">forms: in detailed guidance</a></li>
  <li><a href="/patterns-hmrc-govuk-team/use-a-digital-service/" class="govuk-link">use a digital service (returning users)</a></li>
  <li><a href="/patterns-hmrc-govuk-team/register-for-a-tax/" class="govuk-link">register once for a tax, duty or levy</a></li>

</ul>

<h3 class="govuk-heading-m">If there is more than one way to complete the task</h3>

<p class="govuk-body">You can still use a green button if there is more than one way for users to complete the same task.</p>

<p class="govuk-body">The green button should be used for the method that most people will use. You must not use more than one green button on a single page.</p>

<p class="govuk-body">Other methods can be shown as additional guidance, inline links or attachments (such as PDF forms).</p>

<p class="govuk-body">For an example, check <a href="https://www.gov.uk/guidance/paying-into-your-cash-account-for-cds-declarations" class="govuk-link">Paying into your Customs Declaration Service cash account</a>.</p>

<h2 class="govuk-heading-l">When not to use</h2>

<p class="govuk-body">Do not use this pattern:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>to link the green button to another GOV.UK page</li>
  <li>if there is more than one task to complete on the page</li>
</ul>

<h2 class="govuk-heading-l">How to design using this pattern</h2>

<h3 class="govuk-heading-m">Where you can use the green button</h3>

<p class="govuk-body">Use green buttons:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>in detailed guides</li>
  <li>for digital services, forms, tools, and calculators</li>
</ul>

<h3 class="govuk-heading-m">Where to place the button</h3>

<p class="govuk-body">Only use the green button once on a page.</p>

<p class="govuk-body">To decide where to place the button on the page you should consider:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>if there is a design pattern for the task</li>
  <li>the user need (is this a returning or new user, or both)</li>
  <li>any evidence or user research</li>
  <li>best practices on existing GOV.UK pages for similar tasks (both mainstream and specialist)</li>
</ul>

<h3 class="govuk-heading-m">Button text</h3>

<p class="govuk-body">
  The wording on the button should describe the task the user is trying to complete, for example:
</p>

<ul class="govuk-list govuk-list--bullet">
  <li>Start now</li>
  <li>Register now</li>
  <li>Claim now</li>
  <li>Apply now</li>
</ul>

{{ example({
    item: 'green-button',
    example: 'example',
    description: 'Green button',
    markdown: 'example-markdown',
    markdownOnly: true
}) }}

<h3 class="govuk-heading-m">Adding analytics</h3>

<p class="govuk-body">
  To track the user journey from GOV.UK to the end of a digital service, get the Google Analytics tracking
  code from the digital service team and use this markdown:
</p>

  {{
    codeSnippet({
      code: '{button start cross-domain-tracking:UA-XXXXXX-Y}[Start now](){/button}',
      canCopy: true
    })
  }}
