---
layout: layout-example.njk
---

<h1 class="govuk-heading-xl">Give feedback</h1>

<p class="govuk-body">We use your feedback to improve our services. To better understand it, we may link your feedback to other information we hold about you, like gender and age.</p>

<p class="govuk-body">See the <a class="govuk-link" href="https://www.gov.uk/government/publications/data-protection-act-dpa-information-hm-revenue-and-customs-hold-about-you/data-protection-act-dpa-information-hm-revenue-and-customs-hold-about-you" rel="noreferrer noopener" target="_blank">HMRC Privacy Notice (opens in new tab)</a> for details about how we collect, use, protect and secure your personal information.</p>

<p class="govuk-body">This optional survey is made up of 4 questions.</p>

<style>

<!-- Tim, the class for the textarea is already used by https://www.tax.service.gov.uk/feedback/chb but isn't on design. -->

.govuk-form-group {

margin-bottom: 30px;

}

</style>

<form action="/form-handler" method="post" novalidate>

            <fieldset class="govuk-fieldset">
              <div class="govuk-form-group">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                  Were you able to do what you needed to do today? 
              </legend>
              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="able" name="able" type="radio" value="yes">
                  <label class="govuk-label govuk-radios__label" for="able">
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="able-2" name="able" type="radio" value="no">
                  <label class="govuk-label govuk-radios__label" for="able-2">
                    No
                  </label>
                </div>
              </div>
            </div>

             <div class="govuk-form-group"> 
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                  How easy was it for you to do what you needed to do today? 
              </legend>
              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="easy" name="easy" type="radio" value="yes">
                  <label class="govuk-label govuk-radios__label" for="easy">
                    Very easy
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="easy-2" name="easy" type="radio" value="no">
                  <label class="govuk-label govuk-radios__label" for="easy-2">
                    Easy
                  </label>
                </div>   
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="easy-3" name="easy" type="radio" value="no">
                  <label class="govuk-label govuk-radios__label" for="easy-3">
                    Neither easy or difficult
                  </label>
                </div>  
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="easy-4" name="easy" type="radio" value="no">
                  <label class="govuk-label govuk-radios__label" for="easy-4">
                    Difficult
                  </label>
                </div>  
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="easy-5" name="easy" type="radio" value="no">
                  <label class="govuk-label govuk-radios__label" for="easy-5">
                    Very difficult
                  </label>
                </div>              
              </div>
            </div>

            <h2 class="govuk-heading-m">
                  Why did you give this answer?
            </h2>

            <div id="changedName-hint" class="govuk-hint">
            Please do not enter personal information such as your National Insurance number, Unique Tax Reference or address or telephone number in this box. Please note we are unable to reply to comments individually but we do use your feedback to help improve our services.
            </div>

            <textarea class="govuk-textarea govuk-js-character-count" id="whyGiveScore" name="moreDetail" rows="5" aria-describedby="more-detail-hint"></textarea>
              <!-- Above textarea class name and ID exist on the live website but not here. The new textarea will have a smaller margin-bottom -->

            <div id="changedName-hint" class="govuk-hint">
            You have 1000 characters remaining.
            </div>

          <div class="govuk-form-group">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                  Overall, how did you feel about the service you received today?
              </legend>

            <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="easy" name="easy" type="radio" value="yes">
                  <label class="govuk-label govuk-radios__label" for="easy">
                    Very satisfied
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="easy-2" name="easy" type="radio" value="no">
                  <label class="govuk-label govuk-radios__label" for="easy-2">
                    Satisfied
                  </label>
                </div>   
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="easy-3" name="easy" type="radio" value="no">
                  <label class="govuk-label govuk-radios__label" for="easy-3">
                    Neither satisfied or dissatisfied
                  </label>
                </div>  
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="easy-4" name="easy" type="radio" value="no">
                  <label class="govuk-label govuk-radios__label" for="easy-4">
                    Dissatisfied
                  </label>
                </div>  
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="easy-5" name="easy" type="radio" value="no">
                  <label class="govuk-label govuk-radios__label" for="easy-5">
                    Very dissatisfied
                  </label>
                </div>              
              </div>

            </fieldset>
          </div>
          <button class="govuk-button" data-module="govuk-button">
            Send feedback
          </button>
        </form>