---
layout: layout-example.njk
---

<h1 class="govuk-heading-xl">Thank you for your feedback</h1>

<p class="govuk-body">We will use your feedback to make our services better.</p>

<h2 class="govuk-heading-m">Help improve GOV.UK</h2>

<p class="govuk-body">GOV.UK needs your help to improve and to make sure the website works well for the people who need it.</p>

<p class="govuk-body"><a class="govuk-link" href="https://signup.take-part-in-research.service.gov.uk/?utm_campaign=PTAhome&utm_source=PTAhome&utm_medium=other&t=HMRC&id=4">Help make GOV.UK better</a></p>