---
title: Character count
layout: twoColumnPage.njk
---

{% from "_example.njk" import example %}

{% block content %}

<p class="govuk-body">
  Use the <a class="govuk-link" href="https://design-system.service.gov.uk/components/character-count/">Character count</a> component from the GOV.UK Design System.
</p>

<p class="govuk-body">
  The GOV.UK Design System does not contain Welsh translations yet. The example includes recommended content in Welsh.
</p>

{{
  example({
    item: "character-count",
    description: 'Character count',
    example: 'example',
    welsh: 'example-welsh'
  })
}}

{% endblock %}
