---
layout: layout-example.njk
---

<h2 class="govuk-heading-m">Cyn i chi fynd</h2>

<p class="govuk-body">Mae’ch adborth yn ein helpu i wella ein gwasanaeth.</p>

<p class="govuk-body"><a class="govuk-link" href="#">Llenwch ein harolwg</a> i rannu’ch adborth ar y gwasanaeth.</p>