---
layout: layout-example.njk
---
{% from "hmrc/components/page-heading/macro.njk"  import hmrcPageHeading %}

{{ hmrcPageHeading({
  text: "Beth yw’ch enw?",
  section: "Manylion personol",
  headingClasses: "govuk-heading-l"
}) }}
