---
title: Installing the GOV.UK Prototype kit
layout: twoColumnPage.njk
menuText: Installing the prototype kit
status: development
---

<p class="govuk-body">You should <a href="https://prototype-kit.service.gov.uk/docs/install/getting-started" class="govuk-link"> use the official guidance for getting started with the prototype kit</a>.</p>

<h2 class="govuk-heading-l">Create and manage a prototype</h2>

<p class="govuk-body">Check the <a href="https://docs.tax.service.gov.uk/mdtp-handbook/documentation/create-and-manage-a-prototype/index.html#create-and-manage-a-prototype" class="govuk-link">MDTP Handbook</a> on how to create and manage a prototype within the HMRC prototyping environment.</p>
