---
title: Installing the GOV.UK Prototype Kit
layout: twoColumnPage.njk
menuText: Installing the prototype Kit
---

<p class="govuk-body">The prototype kit helps designers efficiently create realistic prototypes they can use to share design ideas and carry out user research.</p>

<p class="govuk-body"><a href="https://prototype-kit.service.gov.uk/docs/install/getting-started" class="govuk-link">Use the official guidance for getting started with the GOV.UK Prototype Kit</a>.</p>

<h2 class="govuk-heading-l">Create and manage a prototype</h2>

<p class="govuk-body">Check the <a href="https://docs.tax.service.gov.uk/mdtp-handbook/documentation/create-and-manage-a-prototype/index.html#create-and-manage-a-prototype" class="govuk-link">MDTP Handbook</a> on how to create and manage a prototype within the HMRC prototyping environment.</p>
