---
layout: layout-example.njk
---

{% from "components/hmrc-input-currency/macro.njk" import hmrcInputCurrency with context %}
{% from "govuk/components/button/macro.njk" import govukButton %}

        {{ hmrcInputCurrency({
            name: "currency",
            id: "currency",
            label: {
                text: "Amount"
            },
            hint: {
                text: "Enter the amount you want to pay"
            },
            classes: "govuk-input--width-10",
            autocomplete: "off"
            })
        }}

{{ govukButton({
  text: "Continue"
}) }}
