---
layout: layout-example.njk
---
{%- from "hmrc/components/caseworker-banner/macro.njk" import hmrcCaseworkerBanner -%}

{{ hmrcCaseworkerBanner({
  html: '<a class="govuk-link caseworker-guidance-banner__link" rel="noopener noreferrer" href="https://www.gov.uk/government/organisations/hm-revenue-customs" target="_blank">Debt management guidance (opens in new tab)</a>'
}) }}

