---
title: Use a digital service (returning users)
menuText: Use a digital service (returning users)
layout: twoColumnPage.njk
---
{% from "_example.njk" import example %}

<h2 class="govuk-heading-l">Document type</h2>

<p class="govuk-body">Detailed guide</p>

<h2 class="govuk-heading-l">When to use</h2>

<p class="govuk-body">
Only use this pattern when all the following apply:
</p>

<ul class="govuk-list govuk-list--bullet">
    <li>users need to use digital service regularly to complete a task</li>
    <li>most users won't need to read the 'Before you start' information every time they use the digital service</li>
</ul>

<h2 class="govuk-heading-l">When not to use</h2>

<p class="govuk-body">Do not use this pattern for tasks that:</p>

<ul class="govuk-list govuk-list--bullet">
    <li>the user only does once</li>
    <li>already have a task-focused pattern</li>
</ul>

<h2 class="govuk-heading-l">How it works</h2>

<h3 class="govuk-heading-m">Title</h3>

<p class="govuk-body">
  Make sure that the title is focused on the task users are looking to complete.
</p>

<h3 class="govuk-heading-m">Content structure</h3>

<p class="govuk-body">
Make sure the introduction text is as short as possible, so the green button is as close to the top of the guide as possible.
</p>

<p class="govuk-body">
You should always use the <a href="/hmrc-content-guide/green-button" class="govuk-link">green button</a> component in this pattern.
</p>

<p class="govuk-body">
If the service requires users to sign in, you should also use the <a href="/patterns-hmrc-govuk-team/government-gateway/" class="govuk-link">Government Gateway user ID and password</a> component under the 'Before you start' heading.
</p>

{{ example({
    item: 'use-a-digital-service',
    example: 'example',
    description: 'Use a digital service (returning users)',
    markdown: 'example-markdown',
    markdownOnly: true
}) }}
