---
title: Show different pages based on user answers
layout: twoColumnPage.njk
status: development
---

{% from "_codeSnippet.njk" import codeSnippet %}

<p class="govuk-body">By default, forms in the GOV.UK Prototype Kit send users to a single next page. But sometimes you’ll want to show different pages depending on how someone answers a question — for example, to collect more details if they select a certain option.</p>

<p class="govuk-body">One way you can do this is by routing users based on their answers to either radio buttons or checkboxes.</p>

<h2 class="govuk-heading-l">Routing radio buttons</h2>

<p class="govuk-body">If you want to change which page is displayed based on someone’s radio button answers create a new page and follow the examples on the <a href="https://design-system.service.gov.uk/" class="govuk-link">GOV.UK Design System</a> for the <a href="https://design-system.service.gov.uk/components/radios/" class="govuk-link">radio component</a> and <a href="https://design-system.service.gov.uk/components/button/" class="govuk-link">button component</a> in the GOV.UK Design System.</p>

<h3 class="govuk-heading-m">Example code Javascript</h3>

<p class="govuk-body">Open <code>app/routes.js</code> under <code>//add your routes here</code>. Copy and paste the code and replacing the variables (in this case ‘/radios’ ‘this’ ‘Yes’ and ‘page-title’) with what you have in your prototype.</p>

<p class="govuk-body">If you don’t know what these things are in your prototype then you can find more information <a href="https://prototype-kit.service.gov.uk/docs/create-routes" class="govuk-link">https://prototype-kit.service.gov.uk/docs/create-routes</a>.</p>

{{ codeSnippet({
  code: "router.post('/radios', function(request, response) {
  if (req.session.data['this'] == 'Yes') {
    res.redirect('page-title');
  } else {
    res.redirect('page-title');
  }
})",
  canCopy: true
}) }}

<h2 class="govuk-heading-l">Routing checkboxes</h2>

<p class="govuk-body">If you want to change which page is displayed based on someone’s checkbox answers create a new page and follow the examples on the <a href="https://design-system.service.gov.uk/" class="govuk-link">GOV.UK Design System</a> for the <a href="https://design-system.service.gov.uk/components/checkboxes/" class="govuk-link">checkboxes component</a> and <a href="https://design-system.service.gov.uk/components/button/" class="govuk-link">button component</a> in the GOV.UK Design System.</p>

<h3 class="govuk-heading-m">Example code Javascript</h3>

<p class="govuk-body">Open <code>app/routes.js</code> under <code>//add your routes here</code>. Copy and paste the code and replacing the variables (in this case ‘/radios’ ‘this’ ‘Yes’ and ‘page-title’) with what you have in your prototype.</p>

<p class="govuk-body">If you don’t know what these things are in your prototype then you can find more information <a href="https://prototype-kit.service.gov.uk/docs/create-routes" class="govuk-link">https://prototype-kit.service.gov.uk/docs/create-routes</a>.</p>


{{ codeSnippet({
  code: "router.post('/checkboxes', function(request, response) {
  let exampleRoutes = request.session.data['example']

  if(exampleRoutes.includes('this')) {
    response.redirect('page-title');
  } else if(exampleRoute.includes('this') && exampleRoute.includes('that')) {
    response.redirect('page-title');
  } else {
    response.redirect('page-title');
  }
});",
  canCopy: true
}) }}

<h2 class="govuk-heading-l">More routing strategies</h2>

<p class="govuk-body">You can find examples of more complex routing strategies in our routing examples prototype.</p>

<p class="govuk-body">This includes things like:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>multiple conditions</li>
  <li>routing based on user types</li>
  <li>skipping questions</li>
</ul>

<p class="govuk-body"><a href="https://github.com/hmrc/prototype-examples-prototype/" class="govuk-link">https://github.com/hmrc/prototype-examples-prototype/</a></p>

